@{
    ViewData["Title"] = "Home Page";
}

<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 text-center">
            <h1 class="h3">MVC Client-Side Validation Demo</h1>
            <p class="text-body-secondary">Drop-in replacement for jQuery Validation using <code>aspnet-core-validation.js</code>.</p>
            <a href="/Registration" class="btn btn-warning">Go to Registration Form</a>
        </div>
    </div>
</div>
