<nav>
    <NavLink href="" Match="@NavLinkMatch.All" title="Home" class="ms-Icon ms-Icon--Home">
        <span>Home</span>
    </NavLink>
    <NavLink href="submit" title="Submit recipe" class="ms-Icon ms-Icon--EditListPencil">
        <span>Submit recipe</span>
    </NavLink>
</nav>
