.reviews ::deep textarea {
    display: block;
    padding: 6px 8px;
    margin-bottom: 5px;
    width: 100%;
    border: 1px solid #605E5C;
    border-radius: 2px;
    font-family: Open Sans, sans-serif;
    font-size: 0.8em;
    color: #605E5C;
    box-sizing: border-box;
}
