@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h2>@ViewData["Title"]</h2>
@{
    if (@Model.IsDevelopment)
    {
<p>
    In development we provide an inline email confirmation link, see <a href="https://docs.microsoft.com/en-us/aspnet/core/security/authentication/accconfirm">these docs</a> for how to configure a real email provider.
    <a href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

