@page
@using ComponentsApp.App.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>Razor Components</title>
    <base href="~/" />
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    @** Using a non router component here to ensure having that does not cause link interception *@
    <app>@(await Html.RenderComponentAsync<Greeter>())</app>

    <script src="_framework/blazor.server.js" autostart="false"></script>
    <script>
        Blazor.start({
            configureSignalR: function (builder) {
                builder.configureLogging(2); // LogLevel.Information
            },
            logLevel: 2 // LogLevel.Information
        }).then(function () {
            window['__aspnetcore__testing__blazor__started__'] = true;
        });
    </script>
    <footer class="footer">
        <div id="test-info">Regular Razor Page</div>
        <div class="container">
            <a asp-page="/">Index</a>
        </div>
    </footer>
</body>
</html>
