@page "/Links"
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper uriHelper
<ul>
    <li><a href="/subdir/RouterTest/">Default</a></li>
    <li><a href="/subdir/RouterTest/?abc=123">Default with query</a></li>
    <li><a href="/subdir/RouterTest/#blah">Default with hash</a></li>
    <li><a href="/subdir/RouterTest/Other">Other</a></li>
    <li><a href="RouterTest/Other">Other with base-relative URL</a></li>
    <li><a href="/subdir/RouterTest/Other?abc=123">Other with query</a></li>
    <li><a href="/subdir/RouterTest/Other#blah">Other with hash</a></li>
    <li><a href="/subdir/RouterTest/WithParameters/Name/Steve/LastName/Sanderson">With parameters</a></li>
</ul>

<button onclick=@{ uriHelper.NavigateTo("RouterTest/Other"); }>
    Programmatic navigation
</button>
