@page "/RouterTest/WithParameters/Name/{firstName}/LastName/{lastName}"
@using BasicTestApp.RouterTest
<div id="test-info">Your full name is @FirstName @LastName.</div>
<Links />

@functions
{
    public string FirstName { get; set; }

    public string LastName { get ; set; }
}
