<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="$(var.ProductCode)" Name="$(var.ProductName)" Language="1033" Version="$(var.Version)"
             Manufacturer="Microsoft Corporation" UpgradeCode="$(var.UpgradeCode)">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." Schedule="afterInstallFinalize" />
        <Media Id="1" Cabinet="$(var.Cabinet)" CompressionLevel="high" EmbedCab="$(var.EmbedCab)" />

        <WixVariable Id="WixUILicenseRtf" Value="$(var.files)\eula.rtf" />
        <UIRef Id="WixUI_Minimal" />

        <FeatureRef Id="FT_DepProvider" />
        <FeatureRef Id="FT_AspNetCoreSharedFramework" />
        <FeatureRef Id="FT_ProductInfo" />
    </Product>

    <?ifdef PFilesFolder?>
    <?undef PFilesFolder?>
    <?endif?>

    <?if $(var.Platform)=x86?>
    <?define PFilesFolder=ProgramFilesFolder?>
    <?elseif $(var.Platform)=x64?>
    <?define PFilesFolder=ProgramFiles64Folder?>
    <?else?>
    <?error Invalid Platform ($(var.Platform))?>
    <?endif?>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.PFilesFolder)">
                <Directory Id="DOTNETHOME" Name="dotnet">
                    <Directory Id="SharedFolder" Name="shared" />
                </Directory>
            </Directory>
        </Directory>
    </Fragment>

    <Fragment>
        <Feature Id="FT_AspNetCoreSharedFramework" Absent="allow" Description="!(loc.FT_AspNetCoreSharedFrameworkDescription)" Display="2" Level="1" Title="!(loc.FT_AspNetCoreSharedFrameworkTitle)">
            <ComponentGroupRef Id="CG_AspNetCoreSharedFramework" />
        </Feature>
    </Fragment>

    <Fragment>
        <Feature Id="FT_ProductInfo">
            <ComponentGroupRef Id="CG_ProductInfo" />
        </Feature>

        <ComponentGroup Id="CG_ProductInfo">
            <ComponentRef Id="C_eula.rtf" />
            <ComponentRef Id="C_ProductVersion"/>
            <ComponentRef Id="C_ProductInstallDir"/>
        </ComponentGroup>

        <DirectoryRef Id="SharedFolder">
            <Component Id="C_eula.rtf">
                <File Name="eula.rtf" Source="$(var.files)\eula.rtf" />
            </Component>

            <?ifdef ProductVersionKey?>
            <?undef ProductVersionKey?>
            <?endif?>

            <?define ProductVersionKey=SOFTWARE\Microsoft\ASP.NET Core\Shared Framework\v$(var.MajorVersion).$(var.MinorVersion)\$(var.PackageVersion)?>

            <Component Id="C_ProductVersion">
                <RegistryKey Key="$(var.ProductVersionKey)" Root="HKLM">
                    <RegistryValue Name="Version" Type="string" Value="$(var.Version)" />
                </RegistryKey>
            </Component>

            <Component Id="C_ProductInstallDir">
                <RegistryKey Key="SOFTWARE\Microsoft\ASP.NET Core\Shared Framework" Root="HKLM">
                    <RegistryValue Name="InstallDir" Type="string" Value="[DOTNETHOME]" />
                </RegistryKey>
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>
