<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="$(var.ProductCode)" Name="$(var.ProductName)" Language="1033" Version="$(var.Version)"
             Manufacturer="Microsoft Corporation" UpgradeCode="$(var.UpgradeCode)">
        <Package InstallerVersion="$(var.InstallerVersion)" Compressed="yes" InstallScope="perMachine" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." Schedule="afterInstallFinalize" />
        <Media Id="1" Cabinet="$(var.Cabinet)" CompressionLevel="high" EmbedCab="$(var.EmbedCab)" />

        <WixVariable Id="WixUILicenseRtf" Value="$(var.files)\eula.txt" />
        <UIRef Id="WixUI_Minimal" />

        <FeatureRef Id="FT_DepProvider" />
        <FeatureRef Id="FT_AspNetCoreSharedFramework" />
        <FeatureRef Id="FT_ProductInfo" />
    </Product>

    <?ifdef PFilesFolder?>
    <?undef PFilesFolder?>
    <?endif?>

    <?if $(var.Platform)=x86?>
    <?define PFilesFolder=ProgramFilesFolder?>
    <?elseif $(var.Platform)=x64 or $(var.Platform)=arm64?>
    <?define PFilesFolder=ProgramFiles64Folder?>
    <?else?>
    <?error Invalid Platform ($(var.Platform))?>
    <?endif?>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.PFilesFolder)">
                <Directory Id="DOTNETHOME" Name="dotnet">
                    <Directory Id="SharedFolder" Name="shared" />
                </Directory>
            </Directory>
        </Directory>

        <?if $(var.Platform)=x64?>
        <CustomActionRef Id="Set_DOTNETHOME_NON_NATIVE_ARCHITECTURE" />
        <?endif?>
    </Fragment>

    <Fragment>
        <Feature Id="FT_AspNetCoreSharedFramework" Absent="allow" Description="!(loc.FT_AspNetCoreSharedFrameworkDescription)" Display="2" Level="1" Title="!(loc.FT_AspNetCoreSharedFrameworkTitle)">
            <ComponentGroupRef Id="CG_AspNetCoreSharedFramework" />
        </Feature>
    </Fragment>

    <Fragment>
        <Feature Id="FT_ProductInfo">
            <ComponentGroupRef Id="CG_ProductInfo" />
        </Feature>

        <ComponentGroup Id="CG_ProductInfo">
            <ComponentRef Id="C_eula.txt" />
            <ComponentRef Id="C_ProductVersion"/>
            <ComponentRef Id="C_ProductInstallDir"/>
            <?if $(var.Platform)=x64 ?>
            <ComponentRef Id="C_ProductVersion_NonNative" />
            <ComponentRef Id="C_ProductInstallDir_NonNative" />
            <?endif?>
            <ComponentRef Id="C_ProductCentralVersion" />
        </ComponentGroup>

        <DirectoryRef Id="SharedFolder">
            <Component Id="C_eula.txt">
                <File Name="eula.txt" Source="$(var.files)\eula.txt" />
            </Component>

            <?ifdef ProductVersionKey?>
            <?undef ProductVersionKey?>
            <?endif?>

            <?define ProductVersionKey=SOFTWARE\Microsoft\ASP.NET Core\Shared Framework\v$(var.MajorVersion).$(var.MinorVersion)\$(var.PackageVersion)?>

            <?ifdef ProductVersionCentralKey?>
            <?undef ProductVersionCentralKey?>
            <?endif?>

            <?define ProductVersionCentralKey=SOFTWARE\dotnet\Setup\InstalledVersions\$(var.Platform)\sharedfx\Microsoft.AspNetCore.App?>

            <Component Id="C_ProductVersion">
                <?if $(var.Platform)=x64 ?>
                <!-- Only install when actually on native architecture -->
                <Condition>NOT NON_NATIVE_ARCHITECTURE</Condition>
                <?endif?>
                <RegistryKey Key="$(var.ProductVersionKey)" Root="HKLM">
                    <RegistryValue Name="Version" Type="string" Value="$(var.Version)" />
                </RegistryKey>
            </Component>

            <Component Id="C_ProductInstallDir">
                <?if $(var.Platform)=x64 ?>
                <!-- Only install when actually on native architecture -->
                <Condition>NOT NON_NATIVE_ARCHITECTURE</Condition>
                <?endif?>
                <RegistryKey Key="SOFTWARE\Microsoft\ASP.NET Core\Shared Framework" Root="HKLM">
                    <RegistryValue Name="InstallDir" Type="string" Value="[DOTNETHOME]" />
                </RegistryKey>
            </Component>

            <?if $(var.Platform)=x64 ?>
            <!-- Install keys to a different path when not native architecture -->
            <Component Id="C_ProductVersion_NonNative">
                <Condition>NON_NATIVE_ARCHITECTURE</Condition>
                <RegistryKey Key="$(var.ProductVersionKey)\$(var.Platform)" Root="HKLM">
                    <RegistryValue Name="Version" Type="string" Value="$(var.Version)" />
                </RegistryKey>
            </Component>

            <Component Id="C_ProductInstallDir_NonNative">
                <Condition>NON_NATIVE_ARCHITECTURE</Condition>
                <RegistryKey Key="SOFTWARE\Microsoft\ASP.NET Core\Shared Framework\$(var.Platform)" Root="HKLM">
                    <RegistryValue Name="InstallDir" Type="string" Value="[DOTNETHOME]" />
                </RegistryKey>
            </Component>
            <?endif?>
        </DirectoryRef>

        <Component Id="C_ProductCentralVersion" Directory="TARGETDIR" Win64="no">
            <RegistryKey Key="$(var.ProductVersionCentralKey)" Root="HKLM">
                <RegistryValue Action="write" Name="$(var.PackageVersion)" Type="integer" Value="1" KeyPath="yes"/>
            </RegistryKey>
        </Component>
    </Fragment>
</Wix>
