@page
@addTagHelper *, HtmlGenerationWebSite
@using System.Globalization
@functions
{
    [BindProperty(SupportsGet = true)]
    public int CorrelationId { get; set; }
}

<h2 id="culture">@CultureInfo.CurrentCulture</h2>
<h2 id="ui-culture">@CultureInfo.CurrentUICulture</h2>
<span id="correlation-id">@CorrelationId</span>
@*
Extend sliding expiration from it's default of 30 seconds to improve test reliability.
Anything over HttpClient's default timeout of 100 seconds should be sufficient.
https://github.com/dotnet/aspnetcore/issues/4907
*@
<test-cache vary-by-culture="true" vary-by-query="varyByQueryKey" expires-sliding="TimeSpan.FromSeconds(120)">
    <span id="cached-correlation-id">@CorrelationId</span>
</test-cache>
