<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Rewrite to foo">
          <match url="^rewrite/([_.0-9a-z-]+)" />
          <action type="Rewrite" url="/{R:1}" />
        </rule>
        <rule name="Rewrite to foo-bar">
          <match url="^rewrite2/([_0-9a-z-]+)/([_.0-9a-z-]+)" />
          <action type="Rewrite" url="/{R:1}/{R:2}" />
        </rule>
        <rule name="Rewrite to EchoHandler.ashx">
          <match url="^rewrite3/([_0-9a-z-]+)/([_.0-9a-z-]+)" />
          <action type="Rewrite" url="/wsclient/EchoHandler.ashx" />
        </rule>
        <rule name="Rewrite to article.aspx">
          <match url="^rewrite4/([_0-9a-z-]+)/([_.0-9a-z-]+)" />
          <action type="Rewrite" url="/URLRewrite/article.aspx?id={R:1}&amp;title={R:2}" />
        </rule>
        <rule name="RemoveAppName" enabled="true" patternSyntax="Wildcard" stopProcessing="true">
            <match url="*" />
            <action type="Rewrite" url="/{R:0}" />
        </rule>
      </rules>
    </rewrite> 
  </system.webServer> 
</configuration>