@page "/not-found"

<PageTitle>Default Not Found Page</PageTitle>

<p id="test-info">This page is used for a workaround of NavigationManager.NotFound() method, used in SSR when the response already started and changing it to 404 is not possible.
    This workaround triggers navigation to a constant "not-found" relative path.</p>