@page "/not-found-reexecute"

<PageTitle>Re-executed page</PageTitle>

<h3 id="test-info">Welcome On Page Re-executed After Not Found Event</h3>
<p>This page is shown when UseStatusCodePagesWithReExecute is set and another page sets 404</p>
