@addTagHelper *, ApplicationWithTagHelpers
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - ApplicationWithTagHelpers</title>
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
            asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
            asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p><vc:copyright website="ApplicationWithTagHelpers" year="2016" bold></vc:copyright></p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
    @GetType().Assembly.FullName
</body>
</html>
