<?xml version="1.0" encoding="UTF-8"?>
<?include ..\AspNetCoreModule-Setup\IIS-Setup\include.wxi ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
    <Fragment>
        <PackageGroup Id="PG_ANCM">
            <RollbackBoundary Id="RB_ANCM" />

            <!-- OPT_NO_ANCM could be unset at this point, which we explicitly treat as 'false' -->
            <MsiPackage Id="AspNetCoreModuleV2_x86" SourceFile="$(var.AspNetCoreModuleV2_x86.TargetPath)"
                        Name="$(var.AspNetCoreModuleV2_x86.TargetFileName)"
                        Compressed="yes"
                        Vital="yes"
                        Visible="no"
                        InstallCondition="NOT VersionNT64 AND (VersionNT &gt;= v6.1) AND (IISCoreWebEngineInstalled_x86=1) AND (IISW3SVCInstalled_x86=1) AND (NOT OPT_NO_ANCM OR OPT_NO_ANCM=&quot;0&quot;)">
                <MsiProperty Name="OPT_NO_SHARED_CONFIG_CHECK" Value="[OPT_NO_SHARED_CONFIG_CHECK]" />
            </MsiPackage>

            <!-- OPT_NO_SHARED_CONFIG_CHECK could be unset at this point, which we explicitly treat as 'false' -->
            <MsiPackage Id="AspNetCoreModuleV2_x64" SourceFile="$(var.AspNetCoreModuleV2_x64.TargetPath)"
                        Name="$(var.AspNetCoreModuleV2_x64.TargetFileName)"
                        Compressed="yes"
                        Vital="yes"
                        Visible="no"
                        InstallCondition="VersionNT64 AND (VersionNT64 &gt;= v6.1) AND NOT (NativeMachine=&quot;$(var.NativeMachine_arm64)&quot;) AND (IISCoreWebEngineInstalled_x64=1) AND (IISW3SVCInstalled_x64=1) AND (NOT OPT_NO_ANCM OR OPT_NO_ANCM=&quot;0&quot;)">
                <MsiProperty Name="OPT_NO_SHARED_CONFIG_CHECK" Value="[OPT_NO_SHARED_CONFIG_CHECK]" />
            </MsiPackage>
            
            <!-- OPT_NO_SHARED_CONFIG_CHECK could be unset at this point, which we explicitly treat as 'false' -->
            <MsiPackage Id="AspNetCoreModuleV2_arm64" SourceFile="$(var.AspNetCoreModuleV2_arm64.TargetPath)"
                        Name="$(var.AspNetCoreModuleV2_arm64.TargetFileName)"
                        Compressed="yes"
                        Vital="yes"
                        Visible="no"
                        InstallCondition="(NativeMachine=&quot;$(var.NativeMachine_arm64)&quot;) AND (IISCoreWebEngineInstalled_x64=1) AND (IISW3SVCInstalled_x64=1) AND (NOT OPT_NO_ANCM OR OPT_NO_ANCM=&quot;0&quot;)">
                <MsiProperty Name="OPT_NO_SHARED_CONFIG_CHECK" Value="[OPT_NO_SHARED_CONFIG_CHECK]" />
            </MsiPackage>
            
        </PackageGroup>
        
        <util:RegistrySearch Id="IISCoreWebEngineInstalledSearch_x86"
                             Variable="IISCoreWebEngineInstalled_x86"
                             Root="HKLM"
                             Key="SOFTWARE\Microsoft\InetStp\Components"
                             Value="CoreWebEngine"
                             Result="value" />

        <util:RegistrySearch Id="IISW3SVCInstalledSearch_x86"
                             Variable="IISW3SVCInstalled_x86"
                             Root="HKLM"
                             Key="SOFTWARE\Microsoft\InetStp\Components"
                             Value="W3SVC"
                             After="IISCoreWebEngineInstalledSearch_x86"
                             Result="value" />

        <util:RegistrySearch Id="IISCoreWebEngineInstalledSearch_x64"
                             Variable="IISCoreWebEngineInstalled_x64"
                             Root="HKLM"
                             Key="SOFTWARE\Microsoft\InetStp\Components"
                             Value="CoreWebEngine"
                             Result="value"
                             After="IISW3SVCInstalledSearch_x86"
                             Win64="yes" />

        <util:RegistrySearch Id="IISW3SVCInstalledSearch_x64"
                             Variable="IISW3SVCInstalled_x64"
                             Root="HKLM"
                             Key="SOFTWARE\Microsoft\InetStp\Components"
                             Value="W3SVC"
                             Result="value"
                             After="IISCoreWebEngineInstalledSearch_x64"
                             Win64="yes" />

        <!-- We don't care about the results of the searches below. They are conditioned to execute if we've detected IIS.
             If IIS is found, the search will execute and the default "disable" value of the relevant variables will be changed, allowing the UI
             text to be displayed. All these searches need to execute after all the primary util:RegistrySearch operations for IIS. -->
        <util:RegistrySearch Id="InstallResetIISStateSearch"
                             Condition="((IISCoreWebEngineInstalled_x86=1) AND (IISW3SVCInstalled_x86=1)) OR ((IISCoreWebEngineInstalled_x64=1) AND (IISW3SVCInstalled_x64=1))"
                             Variable="InstallResetIISState"
                             Root="HKLM"
                             Key="SOFTWARE\Microsoft\InetStp\Components"
                             Value="CoreWebEngine"
                             Result="value"
                             After="IISW3SVCInstalledSearch_x64"
                             Win64="yes" />

        <util:RegistrySearch Id="InstallNoIISStateSearch"
                             Condition="NOT (((IISCoreWebEngineInstalled_x86=1) AND (IISW3SVCInstalled_x86=1)) OR ((IISCoreWebEngineInstalled_x64=1) AND (IISW3SVCInstalled_x64=1)))"
                             Variable="InstallNoIISState"
                             Root="HKLM"
                             Key="SOFTWARE\Microsoft\InetStp\Components"
                             Value="CoreWebEngine"
                             Result="value"
                             After="IISW3SVCInstalledSearch_x64"
                             Win64="yes" />

        <util:RegistrySearch Id="ModifyResetIISStateSearch"
                             Condition="((IISCoreWebEngineInstalled_x86=1) AND (IISW3SVCInstalled_x86=1)) OR ((IISCoreWebEngineInstalled_x64=1) AND (IISW3SVCInstalled_x64=1))"
                             Variable="ModifyResetIISState"
                             Root="HKLM"
                             Key="SOFTWARE\Microsoft\InetStp\Components"
                             Value="CoreWebEngine"
                             Result="value"
                             After="IISW3SVCInstalledSearch_x64"
                             Win64="yes" />

        <util:RegistrySearch Id="ModifyNoIISStateSearch"
                             Condition="NOT (((IISCoreWebEngineInstalled_x86=1) AND (IISW3SVCInstalled_x86=1)) OR ((IISCoreWebEngineInstalled_x64=1) AND (IISW3SVCInstalled_x64=1)))"
                             Variable="ModifyNoIISState"
                             Root="HKLM"
                             Key="SOFTWARE\Microsoft\InetStp\Components"
                             Value="CoreWebEngine"
                             Result="value"
                             After="IISW3SVCInstalledSearch_x64"
                             Win64="yes" />
    </Fragment>
</Wix>
