<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:dep="http://schemas.microsoft.com/wix/DependencyExtension" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
    <Bundle Name="$(var.BundleName)" Version="$(var.BundleVersion)" Manufacturer="Microsoft Corporation" UpgradeCode="$(var.BundleUpgradeCode)"
            dep:ProviderKey="$(var.BundleProviderKey)">
        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
            <bal:WixStandardBootstrapperApplication LicenseUrl="https://go.microsoft.com/fwlink/?LinkId=329770"
                                                    LogoFile="DotNetLogo.bmp"
                                                    SuppressOptionsUI="yes"
                                                    ThemeFile="thm.xml"
                                                    LocalizationFile="thm.wxl"/>
            <PayloadGroupRef Id="PG_Resources"/>
        </BootstrapperApplicationRef>

        <!-- Ensure upgrades from 3.0.0 preview 1 and 2 (Preview 3 was not shipped). Conditioned for the 3.0.0 family. Hosting bundle simships x86/x64 so there's
             a single set of upgrade codes. -->
        <?if $(var.Version)=3.0.0.0?>
        <RelatedBundle Action="Upgrade" Id="{D8BFC3A1-72B1-36C1-9E5A-49FE36A5563B}"/>
        <RelatedBundle Action="Upgrade" Id="{EA47395A-BC9B-3ECC-8229-229BC9528DF6}"/>
        <?endif?>

        <PayloadGroup Id="PG_Resources">
            <?foreach lcid in 2052;1028;1029;1031;3082;1036;1040;1041;1042;1045;1046;1049;1055?>
            <Payload Id="PL_thm_$(var.lcid)" SourceFile="$(var.lcid)\thm.wxl" Name="$(var.lcid)\thm.wxl" Compressed="yes"/>
            <Payload Id="PL_Strings_$(var.lcid)" SourceFile="$(var.lcid)\Strings.wxl" Name="$(var.lcid)\Strings.wxl" Compressed="yes"/>
            <?endforeach?>
        </PayloadGroup>

        <!-- Customizations of the default BA -->
        <Log Prefix="dd_$(var.BundleLogPrefix)_" Extension=".log" />
        <OptionalUpdateRegistration Manufacturer="$(var.BundleRegManufacturer)" ProductFamily="$(var.BundleRegFamily)" Name="$(var.BundleRegName)" />

        <!-- Bundle variables -->
        <Variable Name="BundleNameShort" Value="$(var.BundleNameShort)"/>
        <Variable Name="BundleNameSub" Value="$(var.BundleNameSub)"/>
        <Variable Name="OPT_NO_ANCM" Value="0" bal:Overridable="yes"/>
        <Variable Name="OPT_NO_FTS" Value="0" bal:Overridable="yes"/>
        <Variable Name="OPT_NO_LTS" Value="0" bal:Overridable="yes"/>
        <Variable Name="OPT_NO_SHAREDFX" Value="0" bal:Overridable="yes"/>
        <Variable Name="OPT_NO_RUNTIME" Value="0" bal:Overridable="yes"/>
        <Variable Name="OPT_NO_X86" Value="0" bal:Overridable="yes"/>
        <Variable Name="OPT_NO_SHARED_CONFIG_CHECK" Value="0" bal:Overridable="yes" />

        <!-- These variables control the state of conditional UI text elements.
             They are disabled by default and enabled based on whether or not we detect that IIS is installed -->
        <Variable Name="InstallResetIISState" Value="disable"/>
        <Variable Name="InstallNoIISState" Value="disable"/>
        <Variable Name="ModifyResetIISState" Value="disable"/>
        <Variable Name="ModifyNoIISState" Value="disable"/>

        <Chain ParallelCache="yes">
            <PackageGroupRef Id="PG_ANCM" />
            <PackageGroupRef Id="PG_DOTNET_REDIST_LTS_BUNDLE" />
            <!--<PackageGroupRef Id="PG_DOTNET_REDIST_FTS_BUNDLE" />-->
            <PackageGroupRef Id="PG_AspNetCoreSharedFramework_x86" />
            <PackageGroupRef Id="PG_AspNetCoreSharedFramework_x64" />
        </Chain>
    </Bundle>
</Wix>
