<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:dep="http://schemas.microsoft.com/wix/DependencyExtension" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
    <Bundle Name="$(var.BundleName)" Version="$(var.BundleVersion)" Manufacturer="Microsoft Corporation" UpgradeCode="$(var.BundleUpgradeCode)">
        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
            <bal:WixStandardBootstrapperApplication LicenseUrl="https://go.microsoft.com/fwlink/?LinkId=329770"
                                                    LogoFile="DotNetLogo.bmp"
                                                    SuppressDowngradeFailure="yes"
                                                    SuppressOptionsUI="yes"
                                                    ThemeFile="thm.xml"
                                                    LocalizationFile="1033\thm.wxl"/>
            <PayloadGroupRef Id="PG_Resources"/>
        </BootstrapperApplicationRef>

        <!-- Search references for upgrade policy keys -->
        <util:RegistrySearchRef Id="RemovePreviousVersionRegistryKeySearch"/>
        <util:RegistrySearchRef Id="RemoveSpecificPreviousVersionRegistryKeyExistsSearch"/>
        <util:RegistrySearchRef Id="RemoveSpecificPreviousVersionRegistryKeySearch"/>

        <!-- Ensure upgrades from 3.0.0 preview 1 and 2 (Preview 3 was not shipped). Conditioned for the 3.0.0 family. Hosting bundle simships x86/x64 so there's
             a single set of upgrade codes. -->
        <?if $(var.Version)=3.0.0.0?>
        <RelatedBundle Action="Upgrade" Id="{D8BFC3A1-72B1-36C1-9E5A-49FE36A5563B}"/>
        <RelatedBundle Action="Upgrade" Id="{EA47395A-BC9B-3ECC-8229-229BC9528DF6}"/>
        <?endif?>

        <!-- Ensure upgrades from 3.1.0 thru 3.1.9 for x64. -->
        <?if $(var.MajorVersion)=3 and $(var.MinorVersion)=1?>
        <!--'Microsoft .NET Core 3.1.9 - Windows Server Hosting'-->
        <RelatedBundle Action="Upgrade" Id="{E4913286-9840-380A-8743-3DF839147FF0}"/>
        <!--'Microsoft .NET Core 3.1.8 - Windows Server Hosting'-->
        <RelatedBundle Action="Upgrade" Id="{81D96996-6F29-3BAC-82C6-9156FE1BD5FB}"/>
        <!--'Microsoft .NET Core 3.1.7 - Windows Server Hosting'-->
        <RelatedBundle Action="Upgrade" Id="{44D6EE78-0248-36AD-9B2C-26FA728E477D}"/>
        <!--'Microsoft .NET Core 3.1.6 - Windows Server Hosting'-->
        <RelatedBundle Action="Upgrade" Id="{C0453F97-42DD-3CD5-9FCE-018DD1F1A020}"/>
        <!--'Microsoft .NET Core 3.1.5 - Windows Server Hosting'-->
        <RelatedBundle Action="Upgrade" Id="{8BF71BDA-9BF7-3AD5-9E6B-3656FEEC95AA}"/>
        <!--'Microsoft .NET Core 3.1.4 - Windows Server Hosting'-->
        <RelatedBundle Action="Upgrade" Id="{6CF8B606-EE26-3536-BEFE-410EA70DBB94}"/>
        <!--'Microsoft .NET Core 3.1.3 - Windows Server Hosting'-->
        <RelatedBundle Action="Upgrade" Id="{71F4232E-75BF-32AF-9A8F-1E87CC17CC6C}"/>
        <!--'Microsoft .NET Core 3.1.2 - Windows Server Hosting'-->
        <RelatedBundle Action="Upgrade" Id="{3CDBE509-D166-335B-BD17-EA6FDAC4E03A}"/>
        <!--'Microsoft .NET Core 3.1.1 - Windows Server Hosting'-->
        <RelatedBundle Action="Upgrade" Id="{62155173-E27B-3936-997F-56DA96ED19B5}"/>
        <!--'Microsoft .NET Core 3.1.0 - Windows Server Hosting'-->
        <RelatedBundle Action="Upgrade" Id="{6F741175-2F75-3845-B30B-6C364101EAA2}"/>
        <?endif?>

        <PayloadGroup Id="PG_Resources">
            <?foreach lcid in 2052;1028;1029;1031;3082;1033;1036;1040;1041;1042;1045;1046;1049;1055?>
            <Payload Id="PL_thm_$(var.lcid)" SourceFile="$(var.lcid)\thm.wxl" Name="$(var.lcid)\thm.wxl" Compressed="yes"/>
            <?endforeach?>
        </PayloadGroup>

        <!-- Customizations of the default BA -->
        <Log Prefix="dd_$(var.BundleLogPrefix)_" Extension=".log" />
        <OptionalUpdateRegistration Manufacturer="$(var.BundleRegManufacturer)" ProductFamily="$(var.BundleRegFamily)" Name="$(var.BundleRegName)" />

        <!-- Bundle variables -->
        <Variable Name="BundleNameShort" Value="$(var.BundleNameShort)"/>
        <Variable Name="BundleNameSub" Value="$(var.BundleNameSub)"/>
        <Variable Name="OPT_NO_ANCM" bal:Overridable="yes"/>
        <Variable Name="OPT_NO_SHAREDFX" bal:Overridable="yes"/>
        <Variable Name="OPT_NO_RUNTIME" bal:Overridable="yes"/>
        <Variable Name="OPT_NO_X86" bal:Overridable="yes"/>
        <Variable Name="OPT_NO_SHARED_CONFIG_CHECK" bal:Overridable="yes" />

        <!-- Use values from the registry for switches, if the registry values are set & the user hasn't passed any switches from the command line -->

        <?define Options=OPT_NO_ANCM;OPT_NO_SHAREDFX;OPT_NO_RUNTIME;OPT_NO_X86;OPT_NO_SHARED_CONFIG_CHECK ?>
        <?define RegistrySeachCondition="NOT (OPT_NO_ANCM OR OPT_NO_ANCM=0 OR OPT_NO_SHAREDFX OR OPT_NO_SHAREDFX=0 OR OPT_NO_RUNTIME OR OPT_NO_RUNTIME=0 OR OPT_NO_X86 OR OPT_NO_X86=0 OR OPT_NO_SHARED_CONFIG_CHECK OR OPT_NO_SHARED_CONFIG_CHECK=0)" ?>

        <?foreach Option in $(var.Options) ?>
            <util:RegistrySearch Id="$(var.Option)_should_be_set"
                             Condition="$(var.RegistrySeachCondition)"
                             Root="HKLM"
                             Key="Software\Microsoft\dotnet\host\options\$(var.MajorVersion).$(var.MinorVersion)"
                             Value="$(var.Option)"
                             Result="exists"
                             Variable="$(var.Option)_Exists"/>

            <util:RegistrySearch Condition="$(var.Option)_Exists"
                             After="$(var.Option)_should_be_set"
                             Root="HKLM" Key="Software\Microsoft\dotnet\host\options\$(var.MajorVersion).$(var.MinorVersion)"
                             Value="$(var.Option)"
                             Variable="$(var.Option)"
                             Result="value" />
        <?endforeach?>

        <!-- These variables control the state of conditional UI text elements.
             They are disabled by default and enabled based on whether or not we detect that IIS is installed -->
        <Variable Name="InstallResetIISState" Value="disable"/>
        <Variable Name="InstallNoIISState" Value="disable"/>
        <Variable Name="ModifyResetIISState" Value="disable"/>
        <Variable Name="ModifyNoIISState" Value="disable"/>

        <Chain ParallelCache="yes">
            <MsiPackage SourceFile="$(var.HostOptions.TargetPath)">
                <MsiProperty Name="OPT_NO_ANCM" Value="[OPT_NO_ANCM]"/>
                <MsiProperty Name="OPT_NO_SHAREDFX" Value="[OPT_NO_SHAREDFX]"/>
                <MsiProperty Name="OPT_NO_RUNTIME" Value="[OPT_NO_RUNTIME]"/>
                <MsiProperty Name="OPT_NO_X86" Value="[OPT_NO_X86]"/>
                <MsiProperty Name="OPT_NO_SHARED_CONFIG_CHECK" Value="[OPT_NO_SHARED_CONFIG_CHECK]"/>
            </MsiPackage>
            <PackageGroupRef Id="PG_ANCM" />
            <PackageGroupRef Id="PG_DOTNET_REDIST_LTS_BUNDLE" />
            <!--<PackageGroupRef Id="PG_DOTNET_REDIST_FTS_BUNDLE" />-->
            <PackageGroupRef Id="PG_SHAREDFX_REDIST_BUNDLE" />
        </Chain>
    </Bundle>
</Wix>
