<?xml version="1.0" encoding="UTF-8"?>
<?include ..\AspNetCoreModule-Setup\IIS-Setup\include.wxi ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
    <Fragment>
        <util:ProductSearch Id="SharedFxRedistProductSearch_x86"
                            Condition="NOT VersionNT64"
                            ProductCode="$(var.SharedFxInstallerProductCodex86)"
                            Result="version"
                            Variable="SharedFxRedistProductVersion_x86" />

        <util:ProductSearch Id="SharedFxRedistProductSearch_x64"
                            Condition="VersionNT64 AND NOT (NativeMachine=&quot;$(var.NativeMachine_arm64)&quot;)"
                            ProductCode="$(var.SharedFxInstallerProductCodex64)"
                            Result="version"
                            Variable="SharedFxRedistProductVersion_x64" />

        <util:ProductSearch Id="SharedFxRedistProductSearch_arm64"
                            Condition="(NativeMachine=&quot;$(var.NativeMachine_arm64)&quot;)"
                            ProductCode="$(var.SharedFxInstallerProductCodearm64)"
                            Result="version"
                            Variable="SharedFxRedistProductVersion_arm64" />
                            
        <PackageGroup Id="PG_SHAREDFX_REDIST_BUNDLE">
            <RollbackBoundary Id="RB_SHAREDFX_REDIST_BUNDLE" />

            <!-- OPT_NO_SHAREDFX could be unset at this point, which we explicitly treat as 'false' -->
            <ExePackage Id="SharedFxRedist_arm64" SourceFile="$(var.InstallersOutputPath)\$(var.SharedFxRedistInstallerarm64)"
                        Name="$(var.SharedFxRedistInstallerarm64)"
                        Compressed="yes"
                        Vital="yes"
                        InstallCondition="(NativeMachine=&quot;$(var.NativeMachine_arm64)&quot;) AND (NOT OPT_NO_SHAREDFX OR OPT_NO_SHAREDFX=&quot;0&quot;)"
                        InstallCommand="/quiet /norestart"
                        RepairCommand="/quiet /repair"
                        Permanent="yes"
                        DetectCondition="SharedFxRedistProductVersion_arm64 = v$(var.SharedFxInstallerProductVersionarm64)">
            </ExePackage>
            
            <!-- OPT_NO_SHAREDFX could be unset at this point, which we explicitly treat as 'false' -->
            <ExePackage Id="SharedFxRedist_x64" SourceFile="$(var.InstallersOutputPath)\$(var.SharedFxRedistInstallerx64)"
                        Name="$(var.SharedFxRedistInstallerx64)"
                        Compressed="yes"
                        Vital="yes"
                        InstallCondition="VersionNT64 AND NOT (NativeMachine=&quot;$(var.NativeMachine_arm64)&quot;) AND (NOT OPT_NO_SHAREDFX OR OPT_NO_SHAREDFX=&quot;0&quot;)"
                        InstallCommand="/quiet /norestart"
                        RepairCommand="/quiet /repair"
                        UninstallCommand="/quiet /uninstall"
                        DetectCondition="SharedFxRedistProductVersion_x64 = v$(var.SharedFxInstallerProductVersionx64)">
            </ExePackage>

            <!-- OPT_NO_X86 could be unset at this point, which we explicitly treat as 'false' -->
            <ExePackage Id="SharedFxRedist_x86" SourceFile="$(var.InstallersOutputPath)\$(var.SharedFxRedistInstallerx86)"
                        Name="$(var.SharedFxRedistInstallerx86)"
                        Compressed="yes"
                        Vital="yes"
                        InstallCondition="(NOT OPT_NO_SHAREDFX OR OPT_NO_SHAREDFX=&quot;0&quot;) AND (NOT OPT_NO_X86 OR OPT_NO_X86=&quot;0&quot;)"
                        InstallCommand="/quiet /norestart"
                        RepairCommand="/quiet /repair"
                        UninstallCommand="/quiet /uninstall"
                        DetectCondition="SharedFxRedistProductVersion_x86 = v$(var.SharedFxInstallerProductVersionx86)">
            </ExePackage>
            
        </PackageGroup>
    </Fragment>
</Wix>
