<?include ..\AspNetCoreModule-Setup\IIS-Setup\include.wxi ?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <PackageGroup Id="PG_SHAREDFX_REDIST_BUNDLE">
            <RollbackBoundary Id="RB_SHAREDFX_REDIST_BUNDLE" />

            <!-- OPT_NO_SHAREDFX could be unset at this point, which we explicitly treat as 'false' -->
            <MsiPackage Id="SharedFxRedist_arm64" SourceFile="$(CrossArchitectureInstallerBasePath)\$(SharedFxRedistInstallerarm64)" Name="$(SharedFxRedistInstallerarm64)" Compressed="yes" Vital="yes" InstallCondition="(NativeMachine=&quot;$(NativeMachine_arm64)&quot;) AND (NOT OPT_NO_SHAREDFX OR OPT_NO_SHAREDFX=&quot;0&quot;)">
            </MsiPackage>

            <!-- OPT_NO_SHAREDFX could be unset at this point, which we explicitly treat as 'false' -->
            <MsiPackage Id="SharedFxRedist_x64" SourceFile="$(CrossArchitectureInstallerBasePath)\$(SharedFxRedistInstallerx64)" Name="$(SharedFxRedistInstallerx64)" Compressed="yes" Vital="yes" InstallCondition="VersionNT64 AND NOT (NativeMachine=&quot;$(NativeMachine_arm64)&quot;) AND (NOT OPT_NO_SHAREDFX OR OPT_NO_SHAREDFX=&quot;0&quot;)">
            </MsiPackage>

            <!-- OPT_NO_X86 could be unset at this point, which we explicitly treat as 'false' -->
            <MsiPackage Id="SharedFxRedist_x86" SourceFile="$(CrossArchitectureInstallerBasePath)\$(SharedFxRedistInstallerx86)" Name="$(SharedFxRedistInstallerx86)" Compressed="yes" Vital="yes" InstallCondition="(NOT OPT_NO_SHAREDFX OR OPT_NO_SHAREDFX=&quot;0&quot;) AND (NOT OPT_NO_X86 OR OPT_NO_X86=&quot;0&quot;)">
            </MsiPackage>

        </PackageGroup>
    </Fragment>
</Wix>
