@using BasicTestApp.MultipleComponents;

<!DOCTYPE html>
<html>
<head>
    <title>Multiple component entry points</title>
    @* We need to make sure base is set to "/" so that the libraries load correctly *@
    <base href="~/" />
    @* This page is used to validate the ability to render multiple root components in a blazor webassembly application.
    *@
</head>
<body>
    <div id="test-container">
        <component type="typeof(GreeterComponent)" render-mode="WebAssembly" param-name='"Red fish"' />
        <component type="typeof(GreeterComponent)" render-mode="WebAssemblyPrerendered" param-name='"Blue fish"' />
        @RenderBody()
        <component type="typeof(GreeterComponent)" render-mode="WebAssembly" param-name='"Red fish"' />
        <component type="typeof(GreeterComponent)" render-mode="WebAssemblyPrerendered" param-name='"Blue fish"' />
    </div>

    @*
        So that E2E tests can make assertions about both the prerendered and
        interactive states, we only load the .js file when told to.
    *@
    <hr />

    <script>
        // Used unconditionally on Program.cs, so needs to be defined here to avoid the test failing
        function getCurrentUrl() {
            return location.href;
        }
    </script>

    <button id="load-boot-script" onclick="start()">Load boot script</button>

    <script src="_framework/blazor.webassembly.js" autostart="false"></script>
    <script src="js/jsRootComponentInitializers.js"></script>
    <script>
        function start() {
            Blazor.start({
                logLevel: 1 // LogLevel.Debug
            });
        }
    </script>
</body>
</html>
