<h1>Custom Authorization Policy Provider Sample</h1>

<p>
    This sample demonstrates a custom IAuthorizationPolicyProvider which
    dynamically generates authorization policies based on arguments
    (in this case, an integer indicating the minimum age required to
    satisfy the policies requirements).
</p>
<p>
    Use the links below to sign in, sign out, or to try accessing pages
    requiring different minimum ages.
</p>

<ul>
    <li>@Html.ActionLink("Sign In", "Signin", "Account")</li>
    <li>@Html.ActionLink("Sign Out", "Signout", "Account")</li>
    <li>@Html.ActionLink("Minimum Age 10", "MinimumAge10", "Home")</li>
    <li>@Html.ActionLink("Minimum Age 50", "MinimumAge50", "Home")</li>
</ul>