@inherits LayoutComponentBase

<h1>E2E Performance</h1>

<a href="">Home</a> |
<a href="renderlist">RenderList</a> |
<a href="json">JSON</a> |
<a href="orgchart">OrgChart</a> |
<a href="timer">Timer</a> |
<a href="complextable">Complex table</a>

<hr />

<div>
    @Body
</div>
