<configuration>
  <system.webServer>
    <!-- This repository cannot use the iis publish tool because there's a bug in the installer if the tool package is a package reference -->
    <!-- See https://github.com/dotnet/cli/issues/1215 -->
    <httpPlatform forwardWindowsAuthToken="true" processPath="..\TestSites.exe" stdoutLogEnabled="false" stdoutLogFile="..\logs\stdout.log" startupTimeLimit="3600" />
    <handlers>
      <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
  </system.webServer>
</configuration>