@page
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@{
}

<a id="editlink" asp-page="/Edit" asp-route-id="10">Edit</a>
<br />
<a id="contactlink" asp-action="Contact" asp-controller="Home" asp-route-org="contoso">Contact</a>
