@page "/callwebapi"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using ComponentsWebAssembly_CSharp.Shared
@attribute [Authorize]
@inject HttpClient Http

<h1>Call Graph</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (apiResult == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @apiResult
}

@code {
    private string apiResult;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            apiResult = await Http.GetStringAsync("CallWebApi");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

}
