<h1>ES2015 Transpilation</h1>

<p>
    This sample demonstrates a way of intercepting requests for .js files and dynamically transpiling them
    from ES2015 code to browser-compatible ES5 code using the Babel library.
</p>

<p>
    To see that it's working, open your browser's 'Debug' console and look for the log message. This is
    produced by the file <a href='/js/main.js'>/js/main.js</a>, which is transpiled from ES2015 dynamically
    when requested.
</p>

@section scripts {
    <script src='/js/main.js'></script>
}
