<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>ReactExample</title>
        <link rel="stylesheet" href="/dist/main.css" />
    </head>
    <body>
        <div class="container">
            @RenderBody()
        </div>
        @RenderSection("scripts", required: false)
    </body>
</html>
