@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Sandbox</h2>
        <ul>
            <li>This sandbox should give you a quick view of a basic MVC application.</li>
        </ul>
    </div>
</div>
