@using Microsoft.AspNetCore.Components.Routing
@using MvcSandbox.Components.Shared

<Router AppAssembly="@typeof(MvcSandbox.Startup).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
