@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 id="AzureADB2CAccessDeniedTitle" class="text-danger">@ViewData["Title"]</h1>
    <p id="AzureADB2CAccessDeniedText" class="text-danger">You do not have access to this resource.</p>
</header>
