@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 id="AzureADB2CErrorTitle" class="text-danger">Error.</h1>
<h2 id="AzureADB2CErrorSub" class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
<p id="AzureADB2CRequestId">
    <strong>Request ID:</strong> <code>@Model.RequestId</code>
</p>
}

<h3 id="AzureADB2CErrorDevNoticeTitle">Development Mode</h3>
<p id="AzureADB2CErrorDevNoticeText1">
    Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
</p>
<p id="AzureADB2CErrorDevNoticeText2">
    <strong>Development environment should not be enabled in deployed applications</strong>, as it can result in sensitive information from exceptions being displayed to end users. For local debugging, development environment can be enabled by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>, and restarting the application.
</p>
