@page
@model SignedOutModel
@{
    ViewData["Title"] = "Signed out";
}

<h2 id="AzureADB2CSignedOutTitle">@ViewData["Title"]</h2>
<p id="AzureADB2CSignedOutText">
    You have successfully signed out.
</p>
