@using BasicViews
@model Person

<div asp-validation-summary="All">
</div>

<form asp-action="Index" asp-controller="Home">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>
    <div>
        <label asp-for="Age"></label>
        <input asp-for="Age" />
    </div>
    <div>
        <label asp-for="BirthDate"></label>
        <input asp-for="BirthDate" />
    </div>
    <input type="submit" />
</form>