@page "/test-remote-authentication"

@using Microsoft.AspNetCore.Components.Authorization

<AuthorizeView>
    <Authorized>
        <h1>Hello, @context.User.Identity?.Name!</h1>
    </Authorized>
    <NotAuthorized>
        @* Do this rather than rely on the [Authorize] attribute to avoid endpoint routing. *@
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>
