<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    @*#if (SampleContent)
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    ##endif*@
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["BlazorWeb-CSharp.styles.css"]" />
    <ImportMap />
    @*#if (SampleContent)
    <link rel="icon" type="image/png" href="favicon.png" />
    ##endif*@
    @*#if (!InteractiveAtRoot)
    <HeadOutlet />
    ##elseif (IndividualLocalAuth)
    <HeadOutlet @rendermode="PageRenderMode" />
    ##elseif (UseServer && UseWebAssembly)
    <HeadOutlet @rendermode="InteractiveAuto" />
    ##elseif (UseServer)
    <HeadOutlet @rendermode="InteractiveServer" />
    ##else
    <HeadOutlet @rendermode="InteractiveWebAssembly" />
    ##endif*@
</head>

<body>
    @*#if (!InteractiveAtRoot)
    <Routes />
    ##elseif (IndividualLocalAuth)
    <Routes @rendermode="PageRenderMode" />
    ##elseif (UseServer && UseWebAssembly)
    <Routes @rendermode="InteractiveAuto" />
    ##elseif (UseServer)
    <Routes @rendermode="InteractiveServer" />
    ##else
    <Routes @rendermode="InteractiveWebAssembly" />
    ##endif*@
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
@*#if (!InteractiveAtRoot || !IndividualLocalAuth)
#elseif (UseServer && UseWebAssembly)

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private IComponentRenderMode? PageRenderMode =>
        HttpContext.AcceptsInteractiveRouting() ? InteractiveAuto : null;
}
#elseif (UseServer)

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private IComponentRenderMode? PageRenderMode =>
        HttpContext.AcceptsInteractiveRouting() ? InteractiveServer : null;
}
#else

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private IComponentRenderMode? PageRenderMode =>
        HttpContext.AcceptsInteractiveRouting() ? InteractiveWebAssembly : null;
}
#endif*@
