// Copyright (c) .NET Foundation. All rights reserved.
// Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information.

namespace Microsoft.AspNetCore.Razor.Design.IntegrationTests
{
    internal static partial class BuildVariables
    {
        static partial void InitializeVariables()
        {
            _msBuildPath = @"${MSBuildLocation}";
            _microsoftNETCoreApp30PackageVersion = "${MicrosoftNETCoreApp30PackageVersion}";
            _netStandardLibrary20PackageVersion = "${NETStandardLibrary20PackageVersion}";
        }
    }
}
