# Users referenced in this file will automatically be requested as reviewers for PRs that modify the given paths.
# See https://help.github.com/articles/about-code-owners/

/global.json                                                                      @dotnet/aspnet-build @wtgodbe
/.azure/                                                                          @dotnet/aspnet-build @wtgodbe
/.azuredevops/                                                                    @dotnet/aspnet-build @wtgodbe
/.config/                                                                         @dotnet/aspnet-build @wtgodbe
/.devcontainer/                                                                   @captainsafia
/.vscode/                                                                         @captainsafia
/.github/                                                                         @dotnet/aspnet-build @wtgodbe
/.github/*_TEMPLATE/                                                              @dotnet/aspnet-build @wtgodbe @mkArtakMSFT
/.github/workflows/                                                               @dotnet/aspnet-build @wtgodbe
/docs/                                                                            @captainsafia @mkArtakMSFT
/eng/                                                                             @dotnet/aspnet-build @wtgodbe
/eng/Versions.props                                                               @dotnet/aspnet-build @wtgodbe
/eng/Version.Details.xml                                                          @dotnet/aspnet-build @wtgodbe
/eng/SourceBuild*                                                                 @dotnet/source-build
/src/Caching/                                                                     @captainsafia @halter73 @mgravell
/src/Components/                                                                  @dotnet/aspnet-blazor-eng
/src/DefaultBuilder/                                                              @halter73
/src/Grpc/                                                                        @JamesNK @captainsafia @mgravell
/src/Hosting/                                                                     @halter73
/src/Http/                                                                        @BrennanConroy @halter73 @captainsafia
/src/Http/Routing/                                                                @halter73
/src/HttpClientFactory/                                                           @captainsafia @halter73
/src/Installers/                                                                  @dotnet/aspnet-build @wtgodbe
/src/JSInterop/                                                                   @dotnet/aspnet-blazor-eng
/src/Middleware/                                                                  @BrennanConroy
/src/Mvc/                                                                         @dotnet/minimal-apis
/src/Mvc/Mvc.ApiExplorer                                                          @captainsafia @halter73
/src/OpenApi                                                                      @captainsafia @dotnet/minimal-apis
/src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/        @dotnet/aspnet-blazor-eng
/src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/  @dotnet/aspnet-blazor-eng
/src/Security/                                                                    @halter73
/src/Servers/                                                                     @halter73 @BrennanConroy @JamesNK @mgravell
/src/SignalR/                                                                     @BrennanConroy @halter73
/src/submodules                                                                   @dotnet/aspnet-build @wtgodbe
/**/PublicAPI.*Shipped.txt                                                        @dotnet/aspnet-api-review @Rick-Anderson @tdykstra
