# Users referenced in this file will automatically be requested as reviewers for PRs that modify the given paths.
# See https://help.github.com/articles/about-code-owners/

/global.json                    @aspnet/build
/.azure/                        @aspnet/build
/.config/                       @aspnet/build
/eng/                           @aspnet/build
/eng/common/                    @dotnet-maestro-bot
/eng/Versions.props             @dotnet-maestro-bot @dougbu
/eng/Version.Details.xml        @dotnet-maestro-bot @dougbu
PublicAPI.Unshipped.txt         @dotnet/aspnet-api-review
PublicAPI.Shipped.txt           @dotnet/aspnet-api-review
/src/Caching/                   @juntaoluo
/src/Components/                @SteveSandersonMS @dotnet/aspnet-blazor-eng
/src/DefaultBuilder/            @tratcher
/src/Hosting/                   @tratcher
/src/Http/                      @tratcher @jkotalik
/src/Http/Routing/              @javiercn
/src/HttpClientFactory/         @juntaoluo
/src/Middleware/                @tratcher
/src/Middleware/HttpsPolicy/    @jkotalik
/src/Middleware/Rewrite/        @jkotalik
/src/Mvc/                       @pranavkm @javiercn
/src/ProjectTemplates/Web.ProjectTemplates/content/BlazorServerWeb-CSharp/  @dotnet/aspnet-blazor-eng
/src/ProjectTemplates/Web.ProjectTemplates/content/ComponentsWebAssembly-CSharp/  @dotnet/aspnet-blazor-eng
/src/Security/                  @tratcher
/src/Servers/                   @tratcher @jkotalik @halter73
/src/Shared/runtime/            @dotnet/http
/src/Shared/test/Shared.Tests/runtime/ @dotnet/http
/src/SignalR/                   @BrennanConroy @halter73
