@page "/nav/interactive-in-layout/other"
@layout Components.TestServer.RazorComponents.Shared.EnhancedNavWithInteractiveInLayout

<PageTitle>Interactive In Layout Other</PageTitle>

<h1 id="interactive-layout-other">Other page with interactive layout</h1>
<p>Navigating back from here to the home page should not cause a JavaScript error.</p>
