@page "/nav/testing-scroll/{enableStreaming:bool}"
@inject NavigationManager NavigationManager

@if (EnableStreaming)
{
    @attribute [StreamRendering]
}

<PageTitle>Page for testing scroll position</PageTitle>

<h1 id="test-info">Go back to me</h1>

<p>If you scroll down a long way, you'll find more content.</p>
@if (EnableStreaming)
{
    <p id="streaming-info">We add it asynchronously via streaming rendering.</p>
}

<div style="height: 2000px; border: 2px dashed red;">spacer top</div>

@if (showContent)
{
    <NavLink id="do-navigation-with-fragment" href="@($"nav/scroll-to-hash#some-content/{EnableStreaming}")">
        Navigation to another page with fragment (scroll-to-hash#some-content)
    </NavLink>
}

<div style="height: 2000px; border: 2px dashed red;">spacer bottom</div>

@if (showContent)
{
    <h2 id="some-content">Some content</h2>
    <p>This is the content.</p>

    <NavLink id="do-navigation" href="@($"nav/scroll-to-hash/{EnableStreaming}")">
        Navigation to another page (scroll-to-hash)
    </NavLink>
}

@code {
    [Parameter]
    public bool EnableStreaming { get; set; }

    bool showContent;
    string uriOnPageLoad;

    protected override async Task OnInitializedAsync()
    {
        uriOnPageLoad = NavigationManager.Uri;
        await Task.Delay(1000);
        showContent = true;
    }
}
