@page "/nav/page-with-link-tag/2"

<h1>PageWithLinkTag 2</h1>

<p>The header should be blue</p>

<a href="nav/page-with-link-tag/1">Go to page with link tag 1</a>

<link rel="stylesheet" href="css/cssfile2.css" integrity="sha384-sfRwKnaRYdL1d+7xYj26gW0zWRIfmw+134w0KCaG6tGHXTkP+duQxbC9Ouukgv32" />
