@page "/nav/page-with-link-tag/1"

<h1>PageWithLinkTag 1</h1>

<p>The header should be red</p>

<a href="nav/page-with-link-tag/2">Go to page with link tag 2</a>

<link rel="stylesheet" href="css/cssfile1.css" integrity="sha384-Ul7tRJTnkHc9DsfvkvhGGpARYN88FNQ5nV3G0OoLBfu9fGpdrr7TpOHzGiGA4FhO" />
