@page "/nav/scroll-to-hash-no-streaming"
@inject NavigationManager NavigationManager
@* This is a copy of PageForScrollingToHash, without StreamRendering *@

<PageTitle>Page for scrolling to hash</PageTitle>

<h1 id="test-info">Scroll to hash</h1>

<p>If you scroll down a long way, you'll find more content.</p>

<p>
    <a id="scroll-anchor" href="nav/scroll-to-hash-no-streaming#some-content">Scroll via anchor</a>
    <div id="uri-on-page-load" style="display: none" data-value="@uriOnPageLoad"></div>
</p>

<div style="height: 2000px; border: 2px dashed red;">top spacer</div>

@if (showContent)
{
    <h2 id="some-content">Some content</h2>
    <NavLink id="do-navigation" href="@($"nav/testing-scroll-no-streaming")">
        Navigation to another page (testing-scroll)
    </NavLink>

    <p>This is the content.</p>
}

<div style="height: 2000px; border: 2px dashed red;">bottom spacer</div>

@code {

    bool showContent;
    string uriOnPageLoad;

    protected override async Task OnInitializedAsync()
    {
        uriOnPageLoad = NavigationManager.Uri;
        await Task.Delay(1000);
        showContent = true;
    }
}
