@page "/nav/page-with-link-tag/1"

<h1>PageWithLinkTag 1</h1>

<p>The header should be red</p>

<a href="nav/page-with-link-tag/2">Go to page with link tag 2</a>

<link rel="stylesheet" href="css/cssfile1.css" integrity="sha384-8mci8UV9AaVJGRJs90vuFCcaqfnGDVJaH+Uh1YRQk0Imw3L4+hBzIc4qL+FmyiF0" />
