@page "/nav/do-redirection-while-streaming"
@attribute [StreamRendering]
@inject NavigationManager Nav
<h1>Please wait...</h1>
@code {
    [Parameter, SupplyParameterFromQuery] public string Destination { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(2000);
        Nav.NavigateTo(Destination ?? "nav/scroll-to-hash#some-content");
    }
}
