@page "/nav/location-changed/{mode}"
@using TestContentPackage
@inject NavigationManager Nav

<h1>Page with location changed components</h1>

@if (Mode == "server" || Mode == "server-and-wasm")
{
    <h2>Server</h2>
    <TestContentPackage.ComponentWithLocationChanged Id="server" @rendermode="@(new InteractiveServerRenderMode(prerender: false))" />
}

<br/>

@if (Mode == "wasm" || Mode == "server-and-wasm")
{
    <h2>WebAssembly</h2>
    <TestContentPackage.ComponentWithLocationChanged Id="wasm" @rendermode="@(new InteractiveWebAssemblyRenderMode(prerender: false))" />
}

@code {
    [Parameter]
    public string Mode { get; set; }
}
