.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

#blazor-error-ui {
    display: none;
}

    #blazor-error-ui dismiss {
        cursor: pointer;
    }

.validation-message {
    color: red;
}
