@page Test

<div class="row">
    <div class="col-md-3">
        <h2>RazorPages Test</h2>
        <ul>
            <li>This file should give you a quick view of a Mvc Raor Page in action.</li>
        </ul>
    </div>
</div>
