<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net451" userInstalled="true" />
  <package id="NuGet.Common" version="4.0.0-rc2" targetFramework="net451" />
  <package id="NuGet.Configuration" version="4.0.0-rc2" targetFramework="net451" />
  <package id="NuGet.Frameworks" version="4.0.0-rc2" targetFramework="net451" />
  <package id="NuGet.Packaging" version="4.0.0-rc2" targetFramework="net451" />
  <package id="NuGet.Packaging.Core" version="4.0.0-rc2" targetFramework="net451" />
  <package id="NuGet.Packaging.Core.Types" version="4.0.0-rc2" targetFramework="net451" />
  <package id="NuGet.Protocol.Core.Types" version="4.0.0-rc2" targetFramework="net451" />
  <package id="NuGet.Protocol.Core.v3" version="4.0.0-rc2" targetFramework="net451" />
  <package id="NuGet.Versioning" version="4.0.0-rc2" targetFramework="net451" />
</packages>