@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Thank you for confirming your email change.
    </p>
</div>
