@page "/routing"
<h3>Routing test cases</h3>

<ul>
    <li>
        <a href="routing/catch-all/rest/of/the/path">Catch all</a>
    </li>
    <li>
        <a href="routing/constrained-catch-all/a/b">Constrained catch all</a>
    </li>
    <li>
        <a href="routing/constraints/5">Constrained parameters</a>
    </li>
    <li>
        <a href="routing/defaults">Default parameters</a>
    </li>
    <li>
        <a href="routing/optional">Optional parameters</a>
    </li>
    <li>
        <a href="routing/parameters/value">Parameters</a>
    </li>
    <li>
        <a href="routing/complex-segment(value)">Complex segments</a>
    </li>
</ul>
