[Oo]bj/
[Bb]in/
TestResults/
.nuget/
_ReSharper.*/
/packages
artifacts/
PublishProfiles/
*.user
*.suo
*.cache
*.docstates
_ReSharper.*
*.exe
*.psess
*.vsp
*.pidb
*.userprefs
*DS_Store
*.ncrunchsolution
*.*sdf
*.ipch
/*.vspx
*.metaproj*
debugSettings.json
project.lock.json
*.nupkg
.build
.vscode
.vs
.deps
global.json
*.log
*.binlog
msbuild.ProjectImports.zip
