[submodule "modules/EntityFrameworkCore"]
	path = modules/EntityFrameworkCore
	url = https://github.com/aspnet/EntityFrameworkCore.git
	branch = release/2.2
[submodule "modules/Scaffolding"]
	path = modules/Scaffolding
	url = https://github.com/aspnet/Scaffolding.git
	branch = release/2.2
[submodule "googletest"]
	path = src/submodules/googletest
	url = https://github.com/google/googletest
