[Oo]bj/
[Bb]in/
TestResults/
.nuget/
*.sln.ide/
_ReSharper.*/
packages/
artifacts/
PublishProfiles/
*.user
*.suo
*.cache
*.docstates
_ReSharper.*
nuget.exe
project.lock.json
*net45.csproj
*net451.csproj
*k10.csproj
*.psess
*.vsp
*.pidb
*.userprefs
*DS_Store
*.ncrunchsolution
*.*sdf
*.ipch

.vs/
npm-debug.log
/.build/

# The templates can't contain their own .gitignore files, because Yeoman has strange default handling for
# files with that name (https://github.com/npm/npm/issues/1862). So, each template instead has a template_gitignore
# file which gets renamed after the files are copied. And so any files that need to be excluded in the source
# repo have to be excluded here.

# Note that we need to exclude node_modules/** (i.e., subdirs, not the whole of node_modules) because we do need to
# include the _placeholder.txt files, and can't do that using gitignore exclusion because developers aren't promoted to
# commit files included that way. This is all a workaround for Workaround for https://github.com/aspnet/JavaScriptServices/issues/235
/templates/*/node_modules/**
/templates/*/wwwroot/dist/
.vscode/

# Workaround for https://github.com/aspnet/JavaScriptServices/issues/235
!/templates/*/node_modules/_placeholder.txt
