registry=https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-public-npm/npm/registry/
audit=false
fetch-retries=5
fetch-retry-factor=2
fetch-retry-maxtimeout=120000
fetch-retry-mintimeout=10000
fetch-timeout=600000
