init:
  - git config --global core.autocrlf true
branches:
  only:
    - master
    - release
    - dev
    - /^(.*\/)?ci-.*$/
build_script:
  - build.cmd --quiet verify
install:
  - set PATH=C:\Python27\scripts;%PATH%
  - pip install autobahntestsuite
clone_depth: 1
test: off
deploy: off
