<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="AspNetVNext" value="https://www.myget.org/F/aspnetvnext/" />
    <add key="NuGet.org" value="https://nuget.org/api/v2/" />
  </packageSources>
  <packageSourceCredentials>
    <AspNetVNext>
      <add key="Username" value="aspnetci" />
      <add key="ClearTextPassword" value="07c2e9d1-d786-457f-b4d1-5d3a967f186b" />
    </AspNetVNext>
  </packageSourceCredentials>
</configuration>