@using TagHelpersWebSite.Models
@model WebsiteContext

@{
    ViewBag.Title = "Home Page";
}

@addTagHelper "*, TagHelpersWebSite"

@section css {
    <style condition="!Model.Approved">
        h1 {
            color:red;
            font-size:2em;
        }
    </style>
}

<div condition="!Model.Approved">
    <p>This website has <strong surround="em">not</strong> been approved yet. Visit www.contoso.com for <strong make-pretty="false">more</strong> information.</p>
</div>

<div>
    <h3>Current Tag Cloud from Tag Helper</h3>
    <tag-cloud count="Model.TagsToShow" surround="div" />
    <h3>Current Tag Cloud from ViewComponentHelper:</h3>
    <section bold>@await Component.InvokeAsync("Tags", 15)</section>
</div>

@section footerContent {
    <p condition="Model.Approved" bold surround="section">&copy; @Model.CopyrightYear - My ASP.NET Application</p>
}