<html>
<head>
    <title>@ViewBag.Title – AntiForgery Functional Tests</title>
</head>
@SetAntiForgeryCookieAndHeader()
@await FlushAsync()

<body>
    @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    <div class="container body-content">
        @RenderBody()
        @await RenderSectionAsync("Login", required: false)
    </div>
</body>
</html>