<div ng-init="populate()">
    <p class="error">{{error}}</p>
    <p>{{loadingMessage}}</p>
    <div class="panel">
        <div class="input-group">
            <input ng-model="newTodoCaption" class="form-control" />
            <span class="input-group-btn">
                <button ng-click="add();" class="btn btn-default">Add</button>
            </span>
        </div>
        <table class="table table-striped">
            <tbody>
                <tr data-ng-repeat="item in todoList">
                    <td>
                        <p data-ng-hide="item.edit">{{item.Description}}</p>                      
                    </td>
                    <td>
                        <p data-ng-hide="item.edit">{{item.Owner}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>