@using Microsoft.AspNetCore.Components.Forms

<h1>Input Large Text Area</h1>

<InputLargeTextArea id="largeTextArea" @ref="TextArea" OnChange="TextAreaChanged" />

<br />

<button id="setTextBtn" @onclick="SetTextAsync">SetTextAsync</button>
<button id="getTextBtn" @onclick="GetTextAsync">GetTextAsync</button>
<button id="getLimitedTextBtn" @onclick="GetLimitedTextAsync">GetLimitedTextAsync</button>

<hr />

<h3>Last Changed:</h3>
Time:   <p id="lastChangedTime">@LastChangedTime.Ticks</p>
Length: <p id="lastChangedLength">@LastChangedLength</p>

<hr />

<h3>Get Text Result:</h3>
<p id="getTextResult">@GetTextResult</p>
<p id="getTextError">@GetTextError</p>

<hr />

<button id="focusAwayBtn">Focus Away From InputLargeTextArea</button>

@code {
  public DateTime LastChangedTime { get; set; }
  public int LastChangedLength { get; set; }
  public string GetTextResult { get; set; }
  public string GetTextError { get; set; }

  InputLargeTextArea TextArea;

  public async Task GetTextAsync()
  {
      var streamReader = await TextArea.GetTextAsync(maxLength: 50_000);
      GetTextResult = await streamReader.ReadToEndAsync();
      StateHasChanged();
  }

  public async Task GetLimitedTextAsync()
  {
      try
      {
          var streamReader = await TextArea.GetTextAsync(maxLength: 32_000);
          _ = await streamReader.ReadToEndAsync();
      }
      catch (System.ArgumentOutOfRangeException ex)
      {
          GetTextError = ex.Message;
      }

      StateHasChanged();
  }

  public async Task SetTextAsync()
  {
      var memoryStream = new MemoryStream();
      var streamWriter = new StreamWriter(memoryStream);
      await streamWriter.WriteAsync(new string('c', 50_000));
      await streamWriter.FlushAsync();
      await TextArea.SetTextAsync(streamWriter);
  }

  public void TextAreaChanged(InputLargeTextAreaChangeEventArgs args)
  {
      LastChangedTime = DateTime.Now;
      LastChangedLength = args.Length;
      StateHasChanged();
  }
}
