@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components.Forms

<EditForm EditContext="@editContext" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />

    <p class="name">
        Name: <InputText @bind-Value="person.Name" placeholder="Enter your name" />
    </p>

    <button type="submit">Submit</button>

    <p class="all-errors">
        <ValidationSummary />
    </p>
    <p class="all-errors-with-class">
        <ValidationSummary class="pt-2" />
    </p>
    <p class="all-errors-with-attr">
        <ValidationSummary data-testid="my-summary" />
    </p>
</EditForm>

@code {
    private EditContext editContext = default!;
    private Person person = new();

    protected override void OnInitialized()
    {
        editContext = new EditContext(person);
    }

    private void HandleValidSubmit() { }

    private class Person
    {
        [Required, MaxLength(10)]
        public string Name { get; set; } = string.Empty;
    }
}