<div>
    <p>
        Output: <span id="output">@message</span>
    </p>


    <p>Close the dialog.</p>

    <dialog @onclose="OnClose" open>
        <form method="dialog">
            <button id="dialog-close">Close</button>
        </form>
    </dialog>

</div>

@code {
    string message { get; set; }

    void OnClose(EventArgs e)
    {
        message += "onclose,";
        StateHasChanged();
    }
}
