<span>@(isAfterDelay ? "😊" :"WAITING")</span>
@code
{
    protected bool isAfterDelay;

    protected override async Task OnInitializedAsync()
    {
        // If there are lots of instances of this component, the following delay
        // will result in a lot of them triggering a re-render simultaneously
        // on different threads.
        // This test is to verify that the renderer correctly accepts all the
        // simultaneous render requests.
        await Task.Delay(1000);
        isAfterDelay = true;
    }
}
