<h3>On change:</h3>

<table>
    @foreach (var item in items)
    {
        <tr>
            <td><input type="text" value="@item.Name" @onchange='(e) => Console.WriteLine($"{item.Index}: {e.Value}")' /></td>
        </tr>
    }
</table>
<button @onclick="AddRow">Add Row</button>

@code
{
    List<Something> items = new List<Something>();

    void AddRow()
    {
        items.Add(new Something() { Index = items.Count, Name = "I'm a textbox inside a table row." });
    }

    public class Something
    {
        public int Index { get; set; }
        public string Name { get; set; }
    }
}
