<div id="duplicate-on-component">
    <DuplicateAttributesChildComponent Message="test1" Message="test2" />
</div>
<div id="duplicate-on-element" class="test1" class="@("test2")"></div>
<div id="duplicate-on-elementmarkupblock" class="test1" class="test2"></div>
