@using Microsoft.AspNetCore.Components;

@inject IFileDownloader FileDownload;

<h1>File configuration</h1>
File name:
<br />
@* Bind to fileName field *@
<input type="text" @bind-value="@fileName" />
<br />

<h1>File download</h1>

<button @onclick="SaveFile"> Save </button>

@code {
    private string fileName = "text.txt";

    // Create file of random data from a new byte[] array
    private Stream GetFileStream()
    {
        var randomBinaryData = new byte[50 * 1024];
        var fileStream = new MemoryStream(randomBinaryData);

        return fileStream;
    }

    private async Task SaveFile()
    {
        var data = GetFileStream();
        await FileDownload.SaveAs(fileName, data);
    }
}
