@using Microsoft.AspNetCore.Components

@inject IFileDownloader FileDownload

<h1>File configuration</h1>
File name:
<br />

<input type="text" @bind-value="@fileName" />
<br />

<h1>File download</h1>

<button @onclick="SaveFile"> Save </button>

@code {
    private string fileName = "file.txt";

    private Stream GetFileStream()
    {
        var data = new byte[100 * 1024];
        for (var i = 0; i < data.Length; i++)
        {
            data[i] = (byte)(i % 256);
        }
        var fileStream = new MemoryStream(data);

        return fileStream;
    }

    private async Task SaveFile()
    {
        var data = GetFileStream();
        await FileDownload.SaveAs(fileName, data);
    }
}
