@inject NavigationManager navigationManager

<h1 id="graceful-termination-title">Graceful Termination</h1>

<a href="mailto:test@example.com" id="mailto-link">Send Email</a>
<a href="download" download id="download-href">Download Link</a>
<button @onclick="DownloadFile" id="download-link">Download File</button>

@code {
    private void DownloadFile()
    {
        navigationManager.NavigateTo("/subdir/download", true);
    }
}
