
<p id="host-render-mode">@_message</p>

@code {

    private string _message = "";

    protected override void OnInitialized()
    {
        if (Platform is { RenderMode: InteractiveServerRenderMode })
        {
            _message = $"Host Render Mode: Interactive Server";
        }else if (Platform is { RenderMode: InteractiveWebAssemblyRenderMode })
        {
            _message = $"Host Render Mode: Interactive Webassembly";
        }
        else
        {
            _message = "Host Render Mode: Static";
        }
    }
}
