<div>
<PassThroughContentComponent>
<div id="one"><p>Some-Static-Text</p></div>
<div id="two"><span>More-Static-Text</span></div>
<div><span id="three">@("Some-Dynamic-Text")</span><span id="four">But this is static</span></div>
</PassThroughContentComponent>
</div>