<div>
<PassThroughContentComponent>
<div id="one"><p>Some-Static-Text</p></div>
<div id="two">&lt;span&gt;More-Static-Text&lt;/span&gt;</div>
<div><span id="three">@("Some-Dynamic-Text")</span><span id="four">But this is static</span></div>
</PassThroughContentComponent>
</div>