@using System.IO;
@using Microsoft.AspNetCore.Components.Web.Extensions

<h1>Image file</h1>

<p>A single file input that reads the input as an image in a chosen format with specified maximum dimensions.</p>

<InputFile OnChange="HandleSelection" />

<p>@status</p>

@if (!string.IsNullOrEmpty(imageDataUri))
{
    <img src="@imageDataUri" />
}

@code {
    string status;
    string imageDataUri;

    async Task HandleSelection(InputFileChangeEventArgs e)
    {
        var rawFile = e.Files.FirstOrDefault();
        if (rawFile != null)
        {
            // Load as an image file in memory
            var format = "image/jpeg";
            var imageFile = await rawFile.ToImageFileAsync(format, 640, 480);
            using var ms = new MemoryStream();
            using var fileStream = imageFile.OpenReadStream();
            await fileStream.CopyToAsync(ms);

            // Make a data URL so we can display it
            imageDataUri = $"data:{format};base64,{Convert.ToBase64String(ms.ToArray())}";

            status = $"Finished loading {ms.Length} bytes from {imageFile.Name}";
        }
    }
}
