@using Microsoft.AspNetCore.Components.Sections
@page "/prerendered-section-content"

<SectionContent Name="head">
    <title>@_title</title>
    <meta name="description" content="@_description">
</SectionContent>

<p>
    Title:
    <input type="text" @bind-value="_title" />
</p>

<p>
    Description:
    <input type="text" @bind-value="_description" />
</p>

@code {
    private string _title = "Title set in prerendering!";
    private string _description = "Description set in prerendering!";
}
