@page "/prerendered-transition"
@using Microsoft.AspNetCore.Components.Services
@inject IComponentContext ComponentContext

<h1>Hello</h1>

<p>
    Current state:
    <strong id="connected-state">@(ComponentContext.IsConnected ? "connected" : "not connected")</strong>
</p>

<p>
    Clicks:
    <strong id="count">@count</strong>
    <button id="increment-count" onclick="@(() => count++)">Click me</button>
</p>

@functions {
    int count;
}
