@addTagHelper "*, BasicTestApp"
<PropertiesChangedHandlerChild SuppliedValue=@valueToSupply />
<button onclick=@(x => valueToSupply++)>Increment</button>

@functions {
    private int valueToSupply = 100;
}
