<div class="supplied">You supplied: @SuppliedValue</div>
<div class="computed">I computed: @computedValue</div>

@code {
    [Parameter]
    public int SuppliedValue { get; set; }

    private int computedValue;

    protected override void OnParametersSet()
    {
        computedValue = SuppliedValue * 2;
    }
}
