@using Microsoft.Extensions.DependencyInjection 
@using Microsoft.AspNetCore.Components.Extensions 
@inject IServiceProvider ServiceProvider

<button id="inject-local" @onclick="Inject<ProtectedLocalStorage>">Inject @(nameof(ProtectedLocalStorage))</button>
<button id="inject-session" @onclick="Inject<ProtectedSessionStorage>">Inject @(nameof(ProtectedSessionStorage))</button>

<p id="message">@message</p>

@code {
    private string message = "Waiting for injection...";

    private void Inject<T>() where T : ProtectedBrowserStorage
    {
        try
        {
            var localStorage = ServiceProvider.GetService<T>();
            message = "Success!";
        }
        catch (InvalidOperationException ex)
        {
            message = ex.Message;
        }
    }
}
