@implements System.IDisposable
@using System.Threading

<h1>Reconnect component</h1>

<p>
    This component demonstrates reconnection capabilities for blazor server-side. The ticker starts ticking for a,
    few seconds. Then the application reconnects and the renders resume updating the ticker value. (The renders happened
    while the circuit was disconnected).
</p>

<h1>Ticker</h1>
<p class="tick-value">@tick</p>

@code {
    int tick;
    private bool _isDisposed;

    protected override void OnInitialized()
    {
        Task.Run(() => InvokeAsync(async () =>
        {
            while (!_isDisposed)
            {
                await Task.Delay(TimeSpan.FromSeconds(1));
                tick++;
                StateHasChanged();
            }
        }));
    }


    public void Dispose() => _isDisposed = true;

}
