<html>
<head>
    <title>@ViewData["Title"] – Antiforgery Functional Tests</title>
</head>
@SetAntiforgeryCookieAndHeader()
@await FlushAsync()

<body>
    @Html.ActionLink("Log in", "Login", "Antiforgery", routeValues: null, htmlAttributes: new { id = "loginLink" })
    <div class="container body-content">
        @RenderBody()
        @await RenderSectionAsync("Login", required: false)
    </div>
</body>
</html>