@using Identity.OpenIdConnect.WebSite.Identity.Models.ApplicationViewModels
@model CreateScopeViewModel

    @{
        ViewData["Title"] = "Add a scope to your application";
    }

    <h2>@ViewData["Title"].</h2>
    <div>
        <hr />
        <ul class="list-unstyled">
            <li class="h4">Name</li>
            <li>@Model.Name</li>
            <li class="h4">Scopes</li>
            <li>
                <ul class="list-unstyled list-inline">
                    @foreach (var scope in Model.Scopes)
                    {
                        <li>@scope</li>
                    }
                </ul>
            </li>
        </ul>
        <hr />
        <form asp-action="CreateScope" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewScope">New scope</label>
                <input asp-for="NewScope" class="form-control" placeholder="New scope">
                <span asp-validation-for="NewScope" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    <hr />
    <a asp-action="CreateRedirectUri" class="btn btn-default">Continue to add redirect uris</a>
    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }
