@page "/not-explicitly-referenced-in-wasm-code"
@using NotReferencedInWasmCodePackage
<h3>RenderComponentWasmFromRazorClassLibrary</h3>

<NotExplicitlyLoadedFromWasmCode @rendermode="RenderMode.InteractiveWebAssembly" />
