@page "/supply-parameter-from-session/navigation"

<h3>SupplyParameterFromSessionNavigationComponent</h3>

<p id="text-email">@Email</p>

@code {
    [SupplyParameterFromSession]
    public string? Email { get; set; }
}
