@page "/textarea-method"

@using Microsoft.AspNetCore.Components

@if (!string.IsNullOrWhiteSpace(Method))
{
    <form>
        <textarea id="textArea" rows="3" style="width: 350px;" @onchange="Text_OnChange">@GetData(Method)</textarea>
        <br />
        <input id="textBox" type="text" style="width: 350px;" value="@GetData(Method)" @onchange="Text_OnChange" />
    </form>
}

@code {
    [Parameter, SupplyParameterFromQuery(Name = "method")]
    public string? Method { get; set; }

    private Dictionary<string, string> cache = new()
    {
        { "method1", "Initial value for method 1" },
        { "method2", "Method 2 initial value." },
    };

    private void Text_OnChange(ChangeEventArgs e)
    {
        if (Method != null && cache.ContainsKey(Method))
        {
            cache[Method] = (string)e.Value!;
        }
    }

    private string GetData(string key) => cache[key];
}
