@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

@*#if (MissingAuthority)
<div class="alert alert-warning" role="alert">
    Before authentication will function correctly, you must configure your provider details in <code>Program.cs</code>
</div>

#endif*@
Welcome to your new app.
