@inject TaskReturningService TaskReturningService
@{
    Layout = "/Views/Shared/_LayoutWithPartialAndFlush.cshtml";
    ViewBag.Title = "FlushAsync invoked inside RenderSection";
}
RenderBody content
@section content
{
@await TaskReturningService.GetValueAsync()
<p>section-content</p>
    @{
        await FlushAsync();
    }
    @await Component.InvokeAsync("ComponentThatSetsTitle")
    <span>Content that takes time to produce</span>
}
