@{
    Layout = "/Views/Shared/_LayoutWithFlush.cshtml";
    ViewBag.Title = "Page With Layout";
}
RenderBody content
@section content
{
    @{
        await FlushAsync();
    }
    <span>Content that takes time to produce</span>
}