@using IdentityOIDCWebApplicationSample.Identity.Models.ApplicationViewModels
@model CredentialsViewModel
<div>
    <h4>Your application credentials</h4>
    <hr />
    <p>
    </p>
    <p>Client Id: <a asp-action="Details" asp-controller="Applications" asp-route-id="@Model.Id">@Model.ClientId</a></p>
    <p>Client secret: @Model.ClientSecret</p>
</div>