<?xml version="1.0" encoding="UTF-8"?>
<!--

    IIS configuration sections.

    For schema documentation, see
    %windir%\system32\inetsrv\config\schema\IIS_schema.xml.

    Please make a backup of this file before making any changes to it.

-->

<configuration>

  <!--

      The <configSections> section controls the registration of sections.
      Section is the basic unit of deployment, locking, searching and
      containment for configuration settings.

      Every section belongs to one section group.
      A section group is a container of logically-related sections.

      Sections cannot be nested.
      Section groups may be nested.

      <section
          name=""  [Required, Collection Key] [XML name of the section]
          allowDefinition="Everywhere" [MachineOnly|MachineToApplication|AppHostOnly|Everywhere] [Level where it can be set]
          overrideModeDefault="Allow"  [Allow|Deny] [Default delegation mode]
          allowLocation="true"  [true|false] [Allowed in location tags]
      />

      The recommended way to unlock sections is by using a location tag:
      <location path="Default Web Site" overrideMode="Allow">
          <system.webServer>
              <asp />
          </system.webServer>
      </location>

  -->
  <configSections>
    <sectionGroup name="system.applicationHost">
      <section name="applicationPools" allowDefinition="AppHostOnly" overrideModeDefault="Deny" />
      <section name="configHistory" allowDefinition="AppHostOnly" overrideModeDefault="Deny" />
      <section name="customMetadata" allowDefinition="AppHostOnly" overrideModeDefault="Deny" />
      <section name="listenerAdapters" allowDefinition="AppHostOnly" overrideModeDefault="Deny" />
      <section name="log" allowDefinition="AppHostOnly" overrideModeDefault="Deny" />
      <section name="serviceAutoStartProviders" allowDefinition="AppHostOnly" overrideModeDefault="Deny" />
      <section name="sites" overrideModeDefault="Allow" />
      <section name="webLimits" allowDefinition="AppHostOnly" overrideModeDefault="Deny" />
    </sectionGroup>

    <sectionGroup name="system.webServer">
      <section name="asp" overrideModeDefault="Deny" />
      <section name="caching" overrideModeDefault="Allow" />
      <section name="aspNetCore" overrideModeDefault="Allow" />
      <section name="cgi" overrideModeDefault="Deny" />
      <section name="defaultDocument" overrideModeDefault="Allow" />
      <section name="directoryBrowse" overrideModeDefault="Allow" />
      <section name="fastCgi" allowDefinition="AppHostOnly" overrideModeDefault="Deny" />
      <section name="globalModules" overrideModeDefault="Allow" />
      <section name="handlers" allowDefinition="MachineToApplication" overrideModeDefault="Allow" />
      <section name="httpCompression" overrideModeDefault="Allow" />
      <section name="httpErrors" overrideModeDefault="Allow" />
      <section name="httpLogging" overrideModeDefault="Deny" />
      <section name="httpProtocol" overrideModeDefault="Allow" />
      <section name="httpRedirect" overrideModeDefault="Allow" />
      <section name="httpTracing" overrideModeDefault="Deny" />
      <section name="isapiFilters" allowDefinition="MachineToApplication" overrideModeDefault="Deny" />
      <section name="modules" allowDefinition="MachineToApplication" overrideModeDefault="Deny" />
      <section name="applicationInitialization" allowDefinition="MachineToApplication" overrideModeDefault="Allow" />
      <section name="odbcLogging" overrideModeDefault="Deny" />
      <sectionGroup name="security">
        <section name="access" overrideModeDefault="Deny" />
        <section name="applicationDependencies" overrideModeDefault="Deny" />
        <sectionGroup name="authentication">
          <section name="anonymousAuthentication" overrideModeDefault="Deny" />
          <section name="basicAuthentication" overrideModeDefault="Deny" />
          <section name="clientCertificateMappingAuthentication" overrideModeDefault="Deny" />
          <section name="digestAuthentication" overrideModeDefault="Deny" />
          <section name="iisClientCertificateMappingAuthentication" overrideModeDefault="Deny" />
          <section name="windowsAuthentication" overrideModeDefault="Deny" />
        </sectionGroup>
        <section name="authorization" overrideModeDefault="Allow" />
        <section name="ipSecurity" overrideModeDefault="Deny" />
        <section name="dynamicIpSecurity" overrideModeDefault="Deny" />
        <section name="isapiCgiRestriction" allowDefinition="AppHostOnly" overrideModeDefault="Deny" />
        <section name="requestFiltering" overrideModeDefault="Allow" />
      </sectionGroup>
      <section name="serverRuntime" overrideModeDefault="Deny" />
      <section name="serverSideInclude" overrideModeDefault="Deny" />
      <section name="staticContent" overrideModeDefault="Allow" />
      <sectionGroup name="tracing">
        <section name="traceFailedRequests" overrideModeDefault="Allow" />
        <section name="traceProviderDefinitions" overrideModeDefault="Deny" />
      </sectionGroup>
      <section name="urlCompression" overrideModeDefault="Allow" />
      <section name="validation" overrideModeDefault="Allow" />
      <sectionGroup name="webdav">
        <section name="globalSettings" overrideModeDefault="Deny" />
        <section name="authoring" overrideModeDefault="Deny" />
        <section name="authoringRules" overrideModeDefault="Deny" />
      </sectionGroup>
      <section name="webSocket" overrideModeDefault="Deny" />
    </sectionGroup>
    <sectionGroup name="system.ftpServer">
      <section name="log" overrideModeDefault="Deny" allowDefinition="AppHostOnly" />
      <section name="firewallSupport" overrideModeDefault="Deny" allowDefinition="AppHostOnly" />
      <section name="caching" overrideModeDefault="Deny" allowDefinition="AppHostOnly" />
      <section name="providerDefinitions" overrideModeDefault="Deny" />
      <sectionGroup name="security">
        <section name="ipSecurity" overrideModeDefault="Deny" />
        <section name="requestFiltering" overrideModeDefault="Deny" />
        <section name="authorization" overrideModeDefault="Deny" />
        <section name="authentication" overrideModeDefault="Deny" />
      </sectionGroup>
      <section name="serverRuntime" overrideModeDefault="Deny" allowDefinition="AppHostOnly" />
    </sectionGroup>
  </configSections>

  <system.applicationHost>

    <applicationPools>
      <add name="DefaultAppPool" />
      <applicationPoolDefaults managedRuntimeVersion="v4.0">
        <processModel identityType="ApplicationPoolIdentity" />
      </applicationPoolDefaults>
    </applicationPools>

    <!--

      The <customMetadata> section is used internally by the Admin Base Objects
      (ABO) Compatibility component. Please do not modify its content.

    -->
    <customMetadata />

    <!--

      The <listenerAdapters> section defines the protocols with which the
      Windows Process Activation Service (WAS) binds.

    -->
    <listenerAdapters>
      <add name="http" />
    </listenerAdapters>

    <log>
      <centralBinaryLogFile enabled="false" />
      <centralW3CLogFile enabled="false" />
    </log>

    <sites>
      <site name="Default Web Site" id="1">
        <application path="/">
          <virtualDirectory path="/" physicalPath="." />
        </application>
        <bindings>
          <binding protocol="http" bindingInformation="*:50691:localhost" />
        </bindings>
      </site>
      <applicationDefaults applicationPool="DefaultAppPool" />
      <virtualDirectoryDefaults allowSubDirConfig="true" />
    </sites>

    <webLimits />

  </system.applicationHost>

  <system.webServer>

    <!--

      The <globalModules> section defines all native-code modules.
      To enable a module, specify it in the <modules> section.

    -->
    <globalModules>
      <add name="AnonymousAuthenticationModule" image="%windir%\System32\inetsrv\authanon.dll" />
      <add name="AspNetCoreModuleV2" image="aspnetcorev2.dll" />
    </globalModules>

    <handlers accessPolicy="Read, Script">
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>


    <modules>
      <add name="AnonymousAuthenticationModule" lockItem="true" />
      <add name="AspNetCoreModuleV2" lockItem="true" />
    </modules>

    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" hostingModel="inprocess" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" /> 

  </system.webServer>

</configuration>
