@using MusicStore.Models;
@using Microsoft.AspNet.Identity;
@{
    //Bug: Need a way to specify the layout page in a single place
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Manage Account";
}

<h2>@ViewBag.Title.</h2>
<p class="text-success">@ViewBag.StatusMessage</p>

<div class="row">
    <div class="col-md-12">
        @if (ViewBag.HasLocalPassword)
        {
            await Html.PartialAsync("_ChangePasswordPartial");
        }
        else
        {
            await Html.PartialAsync("_SetPasswordPartial");
        }
    </div>
</div>

@section Scripts {
    @*Bug : Script helpers are out of scope for alpha*@
    @*@Scripts.Render("~/bundles/jqueryval")*@
    <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")"></script>
}