@{
    ViewData["Title"] = "Home Page";
}

<div asp-prerender-module="ClientApp/dist/main-server">
    <div id='app-root'>Loading...</div>
</div>

@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
