@model DateTime

@addTagHelper Microsoft.AspNetCore.Mvc.Razor.InputTestTagHelper, Microsoft.AspNetCore.Mvc.Razor.Host.Test
@addTagHelper Microsoft.AspNetCore.Mvc.Razor.DictionaryPrefixTestTagHelper, Microsoft.AspNetCore.Mvc.Razor.Host.Test

<input-test for="Now" />
<input-test for="@Model" />

<div prefix-test="@Model" ></div>
<span prefix-hour="Hour" prefix-minute="Minute"></span>