@model int

@{
    ViewBag.Title = "Checkout Complete";
}

<h2>Checkout Complete</h2>

<p>Thanks for your order! Your order number is: @Model</p>

<p>
    How about shopping for some more music in our
    <a asp-controller="Home" asp-action="Index">Store</a>
</p>