@inherits LayoutComponentBase

@Body

<hr />
<ul id="auth-links">
    <li><a href="AuthHome">Home</a></li>
    <li><a href="CascadingAuthenticationStateConsumer">Cascading authentication state</a></li>
    <li><a href="AuthorizeViewCases">AuthorizeView cases</a></li>
    <li><a href="PageAllowingAnonymous">Page allowing anonymous</a></li>
    <li><a href="PageRequiringAuthorization">Page requiring any authentication</a></li>
    <li><a href="PageRequiringPolicy">Page requiring policy</a></li>
    <li><a href="PageRequiringRole">Page requiring role</a></li>
</ul>

<p>To change the underlying authentication state, <a target="_blank" href="/Authentication">go here</a>.</p>
