@page "/AuthHomeWithNotAuthorizedPage"

<p>This router uses NotAuthorizedPage for unauthorized access. Select an auth test below.</p>

<p id="auth-links">
    <a href="PageRequiringAuthorization">Page requiring authorization</a>
</p>
