@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Routing
@inject NavigationManager NavigationManager

@*
    This router is independent of any other router that may exist within the same project.
    It exists to test the AuthorizeRouteView.NotAuthorizedPage feature.
*@

<Router AppAssembly="@typeof(BasicTestApp.Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(AuthRouterLayout)"
                            NotAuthorizedPage="@typeof(NotAuthorizedPage)">
            <Authorizing>Authorizing...</Authorizing>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <p>There's nothing here</p>
    </NotFound>
</Router>

@code {
    protected override void OnInitialized()
    {
        // Start at AuthHomeWithNotAuthorizedPage, not at any other component in the same app
        var absoluteUriPath = new Uri(NavigationManager.Uri).GetLeftPart(UriPartial.Path);
        var relativeUri = NavigationManager.ToBaseRelativePath(absoluteUriPath);
        if (relativeUri == string.Empty)
        {
            NavigationManager.NavigateTo("AuthHomeWithNotAuthorizedPage");
        }
    }
}
