@using Microsoft.AspNetCore.Components.Routing
<ul>
    <li><NavLink href="AuthHome" Match=NavLinkMatch.All>Home</NavLink></li>
    <li><NavLink href="CascadingAuthenticationStateConsumer">Cascading authentication state</NavLink></li>
</ul>
