@using Microsoft.AspNetCore.Components.Routing
<ul id="auth-links">
    <li><NavLink href="AuthHome" Match=NavLinkMatch.All>Home</NavLink></li>
    <li><NavLink href="CascadingAuthenticationStateConsumer">Cascading authentication state</NavLink></li>
    <li><NavLink href="AuthorizeViewCases">AuthorizeView cases</NavLink></li>
</ul>

<p>To change the underlying authentication state, <a target="_blank" href="/Authentication">go here</a>.</p>
