@page

<form method="post" asp-page="SubDir/SubDirPage" asp-antiforgery="false"></form>
<a asp-page="SubDir/SubDirPage" asp-route-id="12" />
<input type="image" asp-page="SubDir/SubDirPage" asp-fragment="my-fragment" />