@inherits LayoutComponentBase
<nav>
    <NavLink href="nav">Home</NavLink> |
    <NavLink href="streaming">Streaming</NavLink> |
    <NavLink href="large-streaming">Large Streaming</NavLink> |
    <NavLink href="streaming-interactivity">Streaming with interactivity</NavLink> |
    <NavLink href="nav/give-404-with-content">Error page with 404 content</NavLink> |
    <NavLink href="nav/nonexistent-page">Error page with no content</NavLink> |
    <NavLink href="nav/non-html-response">Non-HTML page</NavLink> |
    <NavLink href="nav/scroll-to-hash#some-content">Scroll to hash</NavLink> |
    <NavLink href="nav/do-redirection">Redirect</NavLink> |
    <NavLink href="nav/do-redirection?destination=https://microsoft.com">Redirect external</NavLink> |
    <NavLink href="nav/do-redirection-while-streaming">Redirect while streaming</NavLink> |
    <NavLink href="nav/do-redirection-while-streaming?destination=https://microsoft.com">Redirect external while streaming</NavLink> |
    <NavLink href="nav/throw-while-streaming">Error while streaming</NavLink> |
    <NavLink href="nav/interactive-component-navigation/server">Interactive component navigation (server)</NavLink> |
    <NavLink href="nav/interactive-component-navigation/webassembly">Interactive component navigation (webassembly)</NavLink> |
    <NavLink href="nav/list-headers">List headers</NavLink> |
    <span data-enhance-nav="false">
        <NavLink href="nav/other">Other (no enhanced nav)</NavLink> |
        <span data-enhance-nav>
            <NavLink href="nav/other">Other (re-enabled enhanced nav)</NavLink> |
        </span>
    </span>
</nav>
<hr/>
@Body
