@inherits LayoutComponentBase
<nav>
    <NavLink href="focus-on-navigate">Home</NavLink> |
    <NavLink href="focus-on-navigate/static">Statically rendered</NavLink> |
    <NavLink href="focus-on-navigate/static-with-other-focused-element">Statically rendered w/ other focused element</NavLink> |
    <NavLink href="focus-on-navigate/stream">Stream rendered</NavLink> |
    <NavLink href="focus-on-navigate/form-submission">Form submission</NavLink> |
    <NavLink href="focus-on-navigate/autofocus">Autofocus</NavLink>
</nav>
<hr />
@Body
