@inherits LayoutComponentBase
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="/subdir/" />
    <HeadOutlet />
</head>
<body>
    <PageTitle>Razor Components Forms</PageTitle>
    <h1 id="ready">Form test cases</h1>
    <CascadingModelBinder>
        @Body
    </CascadingModelBinder>
    <script src="_framework/blazor.web.js" suppress-error="BL9992"></script>
</body>
</html>
