@inherits LayoutComponentBase
<nav>
    <NavLink href="">Home</NavLink> |
    <NavLink href="streaming">Streaming</NavLink> |
    <NavLink href="give-404-with-content">Error page with 404 content</NavLink> |
    <NavLink href="nonexistent-page">Error page with no content</NavLink> |
    <NavLink href="non-html-response">Non-HTML page</NavLink> |
    <NavLink href="scroll-to-hash#some-content">Scroll to hash</NavLink> |
    <NavLink href="do-redirection">Redirect</NavLink> |
    <NavLink href="do-redirection?destination=https://microsoft.com">Redirect external</NavLink> |
    <NavLink href="do-redirection-while-streaming">Redirect while streaming</NavLink> |
    <NavLink href="do-redirection-while-streaming?destination=https://microsoft.com">Redirect external while streaming</NavLink> |
    <NavLink href="throw-while-streaming">Error while streaming</NavLink>
</nav>
<hr/>
@Body
