@page "/counter"
@* @rendermode InteractiveServer *@
@using Microsoft.AspNetCore.Components.QuickGrid
<PageTitle>Counter</PageTitle>

<div style="max-width: 200px;">
    <QuickGrid Items="items" Pagination="pagination">
        <PropertyColumn Property="@(p => p)" Sortable="true" Title="Number" />
    </QuickGrid>
    <Paginator State="pagination" />
</div>

@code {
    PaginationState pagination = new PaginationState { ItemsPerPage = 10 };

    private IQueryable<int> items = Enumerable.Range(1, 100).AsQueryable();
}
