@page "/counter-interactive"
@attribute [ComponentRenderMode(WebComponentRenderMode.Auto)]

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button @onclick="@IncrementCount" class="btn btn-primary">Increment</button>

@code {
    int currentCount;

    void IncrementCount()
    {
        currentCount++;
    }
}
