@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p id="counter">Current count: @CurrentCount</p>

<form method="post">
    <input type="hidden" name="@nameof(CurrentCount)" value="@(CurrentCount + 1)" />
    <button class="btn btn-primary">Click me</button>
</form>

@code {
    [Parameter, SupplyParameterFromForm] public int CurrentCount { get; set; }
}
