@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p id="counter">Current count: @CurrentCount</p>

<form method="post">
    <input type="hidden" name="currentCount" value="@CurrentCount" />
    <button class="btn btn-primary">Click me</button>
</form>

@code {
    [Parameter] public int CurrentCount { get; set; }
}
