@page "/counter"
@rendermode InteractiveServer
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @CurrentCount!.Count</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {

    [SupplyParameterFromPersistentComponentState] public CounterState? CurrentCount { get; set; }

    protected override void OnInitialized()
    {
        CurrentCount ??= new CounterState();
    }

    private void IncrementCount()
    {
        CurrentCount!.Count = CurrentCount.Count + 1;
    }

    public class CounterState
    {
        public int Count { get; set; } = 0;
    }
}
