@page "/fetchdata/"
@rendermode InteractiveServer
<FetchDataChildren YayOrNay="_yayOrNay"></FetchDataChildren>

<button @onclick="UpdateParameter">Update parameter</button>

@code {
    private bool _yayOrNay = false;
    private void UpdateParameter()
    {
        // Logic to update the YayOrNay parameter
        _yayOrNay = !_yayOrNay;
    }
}
