@page "/"
@inject NavigationManager Navigation
@attribute [StreamRendering]

@using BlazorUnitedApp.Data;
<PageTitle>Index</PageTitle>

<p>@message</p>

@code {

    private string message = "Welcome to Blazor United App!";
    protected override async Task OnInitializedAsync()
    {
        // Initialization logic can go here
        message = "Hello, Blazor United!";
        await Task.Yield();
        Navigation.NotFound();
    }
}
