@page "/"

<PageTitle>Index</PageTitle>

<h1>Your said @(Parameter?.ToString() ?? "(null)")</h1>

<EditForm method="POST" Model="@(Parameter ?? 0)">
    <input name="value" @bind-value="@Parameter" />
    <input type="submit" value="Send" />
</EditForm>

@if (_submitted)
{
    <p>Submited.</p>
}

@code{
    [SupplyParameterFromForm] int? Parameter { get; set; } = 18;

    bool _submitted = false;
    public void Submit()
    {
        _submitted = true;
    }
}
