@page "/"

<PageTitle>Index</PageTitle>

<h1>Your said @Parameter</h1>

<EditForm method="POST" Model="Parameter">
    <InputCheckbox @bind-Value="Parameter" />
    <input type="submit" value="Send" />
</EditForm>

@if (_submitted)
{
    <p>Submited.</p>
}

@code{
    [SupplyParameterFromForm] bool Parameter { get; set; } = false;

    bool _submitted = false;
    public void Submit()
    {
        _submitted = true;
    }
}
