.virtualize-scroll-container {
    height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
}

.item-row {
    padding: 4px 12px;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
}

.placeholder-row {
    height: 50px;
    padding: 4px 12px;
    border-bottom: 1px solid #eee;
    color: #999;
    display: flex;
    align-items: center;
}
