@using System.Security.Principal
@*#if (IndividualB2CAuth)
@using Microsoft.AspNetCore.Authentication
@using Microsoft.Extensions.Options
@inject IOptions<AzureAdB2COptions> AzureAdB2COptions
#endif *@

@if (User.Identity.IsAuthenticated)
{
@*#if (IndividualB2CAuth)
    <ul class="nav navbar-nav navbar-right">
        @if (!string.IsNullOrEmpty(AzureAdB2COptions.Value.EditProfilePolicyId))
        {
            <li><a asp-area="" asp-controller="Account" asp-action="EditProfile">Hello @User.Identity.Name!</a></li>
        }
        else
        {
            <li class="navbar-text">Hello @User.Identity.Name!</li>
        }
        <li><a asp-area="" asp-controller="Account" asp-action="SignOut">Sign out</a></li>
    </ul>
#else
    <ul class="nav navbar-nav navbar-right">
        <li class="navbar-text">Hello @User.Identity.Name!</li>
        <li><a asp-area="" asp-controller="Account" asp-action="SignOut">Sign out</a></li>
    </ul>
#endif *@
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="" asp-controller="Account" asp-action="Signin">Sign in</a></li>
    </ul>
}
