@page "/forms/add-validation-form"
@rendermode RenderMode.InteractiveServer

<h3>This form demostrates using `AddValidation` from Microsoft.Extensions.Validation</h3>

<ComplexValidationComponent></ComplexValidationComponent>
