@page "/forms/ambiguous-forms"
@using Microsoft.AspNetCore.Components.Forms

<h2>Ambiguous forms</h2>

<EditForm Model="this" method="POST" OnValidSubmit="() => {}">
</EditForm>

<EditForm Model="this" method="POST" OnValidSubmit="() => {}">
</EditForm>
