@page "/forms/ambiguous-forms"
@using Microsoft.AspNetCore.Components.Forms

<h2>Ambiguous forms</h2>

<EditForm Enhance Model="this" method="POST" OnValidSubmit="() => {}" FormName="form1">
    <input id="send" type="submit" value="Send" />
</EditForm>

<EditForm Enhance Model="this" method="POST" OnValidSubmit="() => {}" FormName="form1">
    <input id="send" type="submit" value="Send" />
</EditForm>
