@page "/forms/default-form-with-body"
@using Microsoft.AspNetCore.Components.Forms

<h2>Default form with body</h2>

<EditForm EditContext="_editContext" method="POST">
    <input id="firstName" name="firstName" />
    <input id="send" type="submit" value="Send" />
</EditForm>

@if (FirstName != null)
{
    <p id="pass">Hello @FirstName!</p>
}

@code{
    [SupplyParameterFromForm] string? FirstName { get; set; }

    EditContext _editContext = new EditContext(new object());
}
