@page "/forms/default-form"
@using Microsoft.AspNetCore.Components.Forms

<h2>Default form</h2>

<EditForm Enhance EditContext="_editContext" method="POST" OnValidSubmit="() => _submitted = true" FormName="someform">
    <input id="send" type="submit" value="Send" />
</EditForm>

@if (_submitted)
{
    <p id="pass">Form submitted!</p>
}

@code{
    bool _submitted = false;
    EditContext _editContext = new EditContext(new object());
}
