@page "/forms/error-outside-error-boundary"
@using Microsoft.AspNetCore.Components.Forms

<h3>Error outside error boundary</h3>

<p>Demonstrates what happens with an unhandled exception during form post handling.</p>

<ComponentThatThrows />
