@page "/forms/error-in-error-boundary-streaming"
@attribute [StreamRendering]
@using Microsoft.AspNetCore.Components.Forms

<h3>Error in error boundary (streaming)</h3>

<p>Demonstrates what happens with an unhandled exception during form post handling.</p>

<ErrorBoundary>
    <ChildContent>
        <ComponentThatThrows />
    </ChildContent>
    <ErrorContent>
        <p id="error-content">The error boundary caught an exception with message: @context.Message</p>
    </ErrorContent>
</ErrorBoundary>
