@page "/forms/form-submit-button-with-formaction"
<h1>Form Submit Button with formaction</h1>

<form data-enhance action="test-action">
    <button type="submit" formaction="test-formaction" id="submit-button">Submit to formaction url</button>
</form>
