@page "/forms/form-with-radio-button"
<h1>Form With Radio Button</h1>

<form data-enhance>
    <input type="radio" id="radio-button" value="option1">
    <button type="submit" id="submit-button">Submit</button>
</form>
