@page "/forms/form-with-checkbox-and-radio-button"
<h1>Form With Radio Button</h1>

<form data-enhance>
    <input type="checkbox" id="checkbox" value="test-checkbox">
    <input type="radio" id="radio-button" value="test-radio">
    <button type="submit" id="submit-button">Submit</button>
</form>
