@page "/forms/no-antiforgery"
@using Microsoft.AspNetCore.Components.Forms

<h2>Default form</h2>

<ActionForm OnSubmit="() => _submitted = true" >
    <input id="send" type="submit" value="Send" />
</ActionForm>

@if (_submitted)
{
    <p id="pass">Form submitted!</p>
}

@code{
    bool _submitted = false;
}
