@page "/forms/nested-named-form-bound-parameter"
@using Microsoft.AspNetCore.Components.Forms

<h2>Nested named form bound parameter</h2>

<FormMappingScope Name="parent-context">
    <ComponentWithFormBoundParameter />
</FormMappingScope>
