@page "/forms/programmatic-submit"
@using Microsoft.AspNetCore.Components.Forms

<h2>Programmatic submit</h2>

<EditForm Enhance EditContext="_editContext" method="POST" OnValidSubmit="HandleValidSubmit" FormName="programmatic-submit" @ref="_editForm">
    <input id="name" name="name" type="text" @bind="_name" />
    <button id="submit-from-code" type="button" @onclick="SubmitFromCodeAsync">Submit from code</button>
</EditForm>

@if (_submitted)
{
    <p id="pass">Form submitted!</p>
}

@code {
    EditForm _editForm = null!;
    bool _submitted;
    string _name = string.Empty;
    EditContext _editContext = new EditContext(new object());

    void HandleValidSubmit()
    {
        _submitted = true;
    }

    async Task SubmitFromCodeAsync()
    {
        await _editForm.SubmitAsync();
    }
}
