@page "/forms/type-level-validation-form"
@rendermode RenderMode.InteractiveServer

<h3>This form demostrates using `AddValidation` from Microsoft.Extensions.Validation with type-level validations</h3>

<TypeLevelValidationComponent></TypeLevelValidationComponent>
