@if (ViewBag.CartCount > 0)
{
    <li>
        <a asp-controller="ShoppingCart" asp-action="Index" title="@ViewBag.CartSummary">
            <span class="glyphicon glyphicon glyphicon-shopping-cart"></span>
            @ViewBag.CartCount
        </a>
    </li>
}