@if ((int)ViewData["CartCount"] > 0)
{
    <li>
        <a href="@Url.Action("Index", "ShoppingCart")" title="@ViewData["CartSummary"]">
            <span class="glyphicon glyphicon glyphicon-shopping-cart"></span>
            @ViewData["CartCount"]
        </a>
    </li>
}