@{
    //Bug: Need to have a way to specify an application level layout page
    Layout = "/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.CartCount > 0)
{
    <li>
        <a href="@Url.Action("Index", "ShoppingCart")" title="@ViewBag.CartSummary">
            <span class="glyphicon glyphicon glyphicon-shopping-cart"></span>
            @ViewBag.CartCount
        </a>
    </li>
}