@if (ViewBag.CartCount > 0)
{
    <li>
        <a asp-area="" asp-controller="ShoppingCart" asp-action="Index" title="@ViewBag.CartSummary">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <span id="cart-status">
                @ViewBag.CartCount
            </span>
        </a>
    </li>
}