@page "/webworker-demo"
@*#if (UseRenderMode)
@rendermode InteractiveWebAssembly
#endif*@
@namespace WebWorkerTemplate.Pages
@using Microsoft.JSInterop
@implements IAsyncDisposable
@inject IJSRuntime JSRuntime

<PageTitle>WebWorker Demo</PageTitle>

<h1>WebWorker Demo</h1>

<div class="mb-3 col-md-4">
    <label class="form-label">Name</label>
    <input type="text" class="form-control" @bind="_name" />
</div>

<button class="btn btn-primary" @onclick="GreetAsync" disabled="@(_workerClient is null)">
    Greet
</button>

@if (!string.IsNullOrEmpty(_greeting))
{
    <div class="alert alert-success mt-3">@_greeting</div>
}

@code {
    private WorkerClient.WorkerClient? _workerClient;
    private string _name = "World";
    private string _greeting = "";

    protected override async Task OnInitializedAsync()
        => _workerClient = RendererInfo.IsInteractive ? await WorkerClient.WorkerClient.CreateAsync(JSRuntime) : null;

    private async Task GreetAsync()
        => _greeting = await _workerClient!.GreetAsync(_name);

    public async ValueTask DisposeAsync()
       => await _workerClient?.DisposeAsync();
}
