[Unit]
Requires=activate-kestrel.socket

[Service]
ExecStart=/usr/bin/dotnet SampleApp.dll
WorkingDirectory=/publish
NonBlocking=true
Environment="DOTNET_RUNTIME_ID=ubuntu.14.04-x64"