<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="bootstrap.min.css" rel="stylesheet" />
    <link href="app.css" rel="stylesheet" />
    <HeadOutlet @rendermode="RenderMode.InteractiveWebAssembly" />
</head>

<body>
    <app>Loading...</app>

    <div id="blazor-error-ui">
        An unhandled exception has occurred. See browser dev tools for details.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
