@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Try loading JS in a couple of different ways. -->
<script src="~/js/example.js" asp-append-version="true"></script>
<script>
    document.addEventListener('DOMContentLoaded', e => {
        document.getElementById('js-inline-area').innerHTML = "Inline javascript has run!";
    });
</script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p id="js-link-area">Link-loaded javascript has not run!</p>
    <p id="js-inline-area">Inline javascript has not run!</p>
</div>
