@{
    ViewBag.Title = "Demo code display page - Not for production use";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Demo code display page - Not for production use.
    </p>
    <p>
        [Demo]: @ViewBag.Status
    </p>
</div>