@{
    //Bug: Need a way to specify the layout page in a single place
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>