@page
@model PagesHome
@{

    ViewData["Title"] = "Hello from pages";
}

@functions {

    [TempData]
    public string Message { get; set; }
}

<div class="text-center">
    <h1 class="display-4">Pages Home</h1>
    <p>This sandbox should give you a quick view of a basic MVC application.</p>
</div>