<?xml version="1.0"?>
<configuration>

    <system.web>
        <compilation debug="true" targetFramework="4.5" />
        <httpRuntime targetFramework="4.5" />
    </system.web>

    <appSettings>
        <!-- This will turn on detailed errors when deployed to remote servers -->
        <!-- This setting is not recommended for production -->
        <add key="ASPNET_DETAILED_ERRORS" value="true" />
        <add key="dnx-app-base" value=".." />
    </appSettings>

</configuration>