body {
    font-size: .813em;
    white-space: nowrap;
    margin: 20px;
}

col:nth-child(2n) {
    background-color: #FAFAFA;
}

form { 
    display: inline-block; 
}

h1 {
    margin-left: 25px;
}

table {
    margin: 0px auto;
    border-collapse: collapse;
    border-spacing: 0px;
    table-layout: fixed;
    width: 100%;
}

td, th {
    padding: 4px;
}

thead {
    font-size: 1em;
    font-family: Arial;
}

tr {
    height: 23px;
}

#requestHeader {
    border-bottom: solid 1px gray;
    border-top: solid 1px gray;
    margin-bottom: 2px;
    font-size: 1em;
    line-height: 2em;
}

.collapse {
    color: black;
    float: right;
    font-weight: normal;
    width: 1em;
}

.date, .time {
    width: 70px; 
}

.logHeader {
    border-bottom: 1px solid lightgray;
    color: gray;
    text-align: left;
}

.logState {
    text-overflow: ellipsis;
    overflow: hidden;
}

.logTd {
    border-left: 1px solid gray;
    padding: 0px;
}

.logs {
    width: 80%;
}

.logRow:hover {
    background-color: #D6F5FF;
}

.requestRow>td {
    border-bottom: solid 1px gray;
}

.severity {
    width: 80px;
}

.summary {
    color: black;
    line-height: 1.8em;
}

.summary>th {
    font-weight: normal;
}

.tab {
    margin-left: 30px;
}

#viewOptions {
    margin: 20px;
}

#viewOptions > * {
    margin: 5px;
}