@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p id="counter">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    int currentCount = 0;

    void IncrementCount()
    {
        currentCount++;
    }
}
