@page "/fetchdata"

@using BlazorServerApp.Data
@using System.Text.Json
 
@inject WeatherForecastService ForecastService
@inject ComponentApplicationState ApplicationState

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        if (!ApplicationState.TryRetrievePersistedState("fetchdata", out var data))
        {
            forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
            ApplicationState.PersistState("fetchdata", JsonSerializer.SerializeToUtf8Bytes(forecasts));
        }
        else
        {
            forecasts = JsonSerializer.Deserialize<WeatherForecast[]>(data);
        }
    }
}
