@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
    <script asp-src-include="/js/dist/dashboard*.js"></script>
    <script asp-src-include="/_content/Identity.DefaultUI.RazorClassLib/**/file.js"></script>
}

Content

<div id="dashboard">
    <dashboard></dashboard>
</div>
