@inject WaitService WaitService
<title>@ViewBag.Title</title>
@{
    await FlushAsync();
    WaitService.WaitForClient();
}
@RenderBody()
@RenderSection("content")
@{ 
    WaitService.NotifyClient();
}
