<!DOCTYPE html>

<html>
<head>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @{
        try
        {
            RenderSection("section");
        }
        catch (InvalidOperationException ex)
        {
            <p>@ex.Message</p>
        }
    }
</body>
</html>
