@{
    ViewData["Title"] = "Confirm Email";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        Thank you for confirming your email. Please <a asp-controller="Account" asp-action="Login">click here to log in</a>.
    </p>
</div>
