@using Components.TestServer.RazorComponents.Pages.Forms

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="/subdir/" />
    <HeadOutlet />
</head>
<body>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>There's nothing here</NotFound>
    </Router>
    <script src="_framework/blazor.web.js" autostart="false" suppress-error="BL9992"></script>
    <script suppress-error="BL9992">
        const suppressEnhancedNavigation = sessionStorage.getItem('suppress-enhanced-navigation') === 'true';
        sessionStorage.removeItem('suppress-enhanced-navigation');

        function callBlazorStart() {
            Blazor.start({
                ssr: {
                    disableDomPreservation: suppressEnhancedNavigation,
                },
                webAssembly: {
                    loadBootResource: function (type, name, defaultUri, integrity, behavior) {
                        // note this is resolved to absolute URL using document.baseURI
                        return `WasmMinimal/_framework/${name}`;
                    },
                },
            });
        }

        if (location.search.indexOf('suppress-autostart') < 0) {
            callBlazorStart();
        } else {
            const startButton = document.createElement('button');
            startButton.id = 'call-blazor-start';
            startButton.textContent = 'Call Blazor.start()';
            startButton.onclick = callBlazorStart;
            document.body.appendChild(startButton);
        }
    </script>
</body>
</html>
