@using Components.TestServer.RazorComponents.Pages.Forms

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="/subdir/" />
    <HeadOutlet />
</head>
<body>
    <h1 id="ready">Form test cases</h1>
    <NamedFormContextNoFormContextLayout />
    <script src="@Assets["_framework/blazor.web.js"]" suppress-error="BL9992"></script>
</body>
</html>
