@inherits LayoutComponentBase
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="/subdir/" />
    <HeadOutlet />
</head>
<body>
    <PageTitle>Razor Components Endpoints App</PageTitle>
    @Body
    <script src="_framework/blazor.web.js" suppress-error="BL9992"></script>
</body>
</html>
