@using Components.TestServer.RazorComponents.Pages.Forms
@using Microsoft.AspNetCore.Components.Web

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="/subdir/" />
    <link rel="stylesheet" href="@Assets["Components.TestServer.styles.css"]" />
    <HeadOutlet />
</head>
<body>
    <ServerApp @rendermode="@RenderMode.InteractiveServer" />

    <script src="@Assets["_framework/blazor.web.js"]" autostart="false"></script>
    <script>
        const suppressEnhancedNavigation = sessionStorage.getItem('suppress-enhanced-navigation') === 'true';

        let pwr = Promise.withResolvers();
        let reconnectPromise = pwr.promise;
        let reconnectResolver = pwr.resolve;

        function triggerReconnect() {
            if(reconnectResolver) {
                reconnectResolver();
            }
        }

        function resetReconnect() {
            pwr = Promise.withResolvers();
            reconnectPromise = pwr.promise;
            reconnectResolver = pwr.resolve;
        }

        function replaceReconnectCallback() {
            const originalCallback = Blazor.defaultReconnectionHandler._reconnectCallback;
            Blazor.defaultReconnectionHandler._reconnectCallback = async () => {
                await reconnectPromise;
                await originalCallback();
            };
        }

        function callBlazorStart() {
            Blazor.start({
                ssr: {
                    disableDomPreservation: suppressEnhancedNavigation,
                },
                webAssembly: {
                    loadBootResource: function (type, name, defaultUri, integrity) {
                        return `WasmMinimal/_framework/${name}`;
                    },
                },
                circuit: {
                    logLevel: 0
                },
            });
        }

        if (location.search.indexOf('suppress-autostart') < 0) {
            callBlazorStart();
        } else {
            const startButton = document.createElement('button');
            startButton.id = 'call-blazor-start';
            startButton.textContent = 'Call Blazor.start()';
            startButton.onclick = callBlazorStart;
            document.body.appendChild(startButton);
        }
    </script>

    @if(CustomReconnectUI) {
        <ReconnectModal></ReconnectModal>
    }
</body>
</html>

@code {
    [SupplyParameterFromQuery(Name = "custom-reconnect-ui")] public bool CustomReconnectUI { get; set; }
}
