@addTagHelper "*, TestAssembly"

@{
    var literate = "or illiterate";
    var intDictionary = new Dictionary<string, int>
    {
        { "three", 3 },
    };
    var stringDictionary = new SortedDictionary<string, string>
    {
        { "name", "value" },
    };
}

<div class="randomNonTagHelperAttribute">
    <input type="checkbox" int-dictionary="intDictionary" string-dictionary="stringDictionary"/>
    <input type="password" int-dictionary="intDictionary" int-prefix-garlic="37" int-prefix-grabber="42" />
    <input type="radio"
           int-prefix-grabber="42" int-prefix-salt="37" int-prefix-pepper="98" int-prefix-salt="8"
           string-prefix-grabber="string" string-prefix-paprika="another string"
           string-prefix-cumin="literate @literate?"/>
    <input int-prefix-value="37" string-prefix-thyme="string" />
</div>