<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Razor Components</a>
    <button class="navbar-toggler" @onclick=ToggleNavMenu>
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class=@(collapseNavMenu ? "collapse" : null) @onclick=ToggleNavMenu>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match=NavLinkMatch.All>
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="bi bi-list-nested" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ticker">
                <span class="bi bi-list-nested" aria-hidden="true"></span> Ticker
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="greeter">
                <span class="bi bi-list-nested" aria-hidden="true"></span> Greeter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="error">
                <span class="bi bi-list-nested" aria-hidden="true"></span> Error
            </NavLink>
        </li>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
