<?include ..\AspNetCoreModule-Setup\IIS-Setup\include.wxi ?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Package Name="$(ProductName)" Language="1033" Version="$(Version)" Manufacturer="Microsoft Corporation" UpgradeCode="$(UpgradeCode)" InstallerVersion="$(InstallerVersion)" ProductCode="$(ProductCode)">
        
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <Media Id="1" />

        <!-- Custom Actions to assign a default of 0 to all switches -->
        <CustomAction Id="Set_OPT_NO_ANCM" Property="OPT_NO_ANCM" Value="0" />
        <CustomAction Id="Set_OPT_NO_SHAREDFX" Property="OPT_NO_SHAREDFX" Value="0" />
        <CustomAction Id="Set_OPT_NO_RUNTIME" Property="OPT_NO_RUNTIME" Value="0" />
        <CustomAction Id="Set_OPT_NO_X86" Property="OPT_NO_X86" Value="0" />
        <CustomAction Id="Set_OPT_NO_SHARED_CONFIG_CHECK" Property="OPT_NO_SHARED_CONFIG_CHECK" Value="0" />

        <InstallExecuteSequence>
            <!-- Only set the options to 0 if they weren't already set in the hosting bundle. -->
            <!-- First option is to use user input, if they passed any (if they explicitly set an option to the empty string, we convert that to 0 here). -->
            <!-- Second option is to use registry values, if present. -->
            <!-- Third option is to set the options all to 0, which we do here. -->
            <Custom Action="Set_OPT_NO_ANCM" After="AppSearch" Condition="NOT OPT_NO_ANCM OR OPT_NO_ANCM=&quot;&quot;" />
            <Custom Action="Set_OPT_NO_SHAREDFX" After="AppSearch" Condition="NOT OPT_NO_SHAREDFX OR OPT_NO_SHAREDFX=&quot;&quot;" />
            <Custom Action="Set_OPT_NO_RUNTIME" After="AppSearch" Condition="NOT OPT_NO_RUNTIME OR OPT_NO_RUNTIME=&quot;&quot;" />
            <Custom Action="Set_OPT_NO_X86" After="AppSearch" Condition="NOT OPT_NO_X86 OR OPT_NO_X86=&quot;&quot;" />
            <Custom Action="Set_OPT_NO_SHARED_CONFIG_CHECK" After="AppSearch" Condition="NOT OPT_NO_SHARED_CONFIG_CHECK OR OPT_NO_SHARED_CONFIG_CHECK=&quot;&quot;" />
        </InstallExecuteSequence>

        <Feature Id="ProductFeature" Title="HostOptions" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
        </Feature>
    </Package>

    <Fragment>
        <StandardDirectory Id="ProgramFiles6432Folder">
            <Directory Id="INSTALLFOLDER" Name="dotnet">
                <Directory Id="MM" Name="$(MajorVersion).$(MinorVersion)" />
            </Directory>
        </StandardDirectory>
    </Fragment>

    <Fragment>
        <ComponentGroup Id="ProductComponents" Directory="MM">

            <?ifdef ProductOptionsKey?>
            <?undef ProductOptionsKey?>
            <?endif?>

            <?define ProductOptionsKey=SOFTWARE\Microsoft\dotnet\host\options\$(MajorVersion).$(MinorVersion)?>

            <Component Id="OPT">
                <RegistryKey Root="HKLM" Key="$(ProductOptionsKey)">
                    <RegistryValue Name="OPT_NO_ANCM" Type="integer" Value="[OPT_NO_ANCM]" KeyPath="yes" />
                    <RegistryValue Name="OPT_NO_SHAREDFX" Type="integer" Value="[OPT_NO_SHAREDFX]" />
                    <RegistryValue Name="OPT_NO_RUNTIME" Type="integer" Value="[OPT_NO_RUNTIME]" />
                    <RegistryValue Name="OPT_NO_X86" Type="integer" Value="[OPT_NO_X86]" />
                    <RegistryValue Name="OPT_NO_SHARED_CONFIG_CHECK" Type="integer" Value="[OPT_NO_SHARED_CONFIG_CHECK]" />
                </RegistryKey>
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
