<configuration>
  <system.webServer>
    <httpPlatform  forwardWindowsAuthToken="true" processPath="..\ServerComparison.TestSites.exe" stdoutLogEnabled="false" stdoutLogFile="..\logs\stdout.log" startupTimeLimit="3600" />
    <handlers>
      <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
  </system.webServer>
</configuration>