<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>NodeServices Examples</title>
        <link rel="stylesheet" href="~/css/chartist.min.css" />
    </head>
    <body>
        @RenderBody()
        @RenderSection("scripts", required: false)
    </body>
</html>
