@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Static Files Authentication and Authorization</h2>
    This application demonstrates authentication and authorization for static file resources. There are multiple ways to do this.

    <ul>
        <li>Authenticate all requests on a given request path. Any authenticated user is given access. See <a href="/MapAuthenticatedFiles">/MapAuthenticatedFiles</a> in Startup.cs.</li>
        <li>Authenticate and Authorize all requests on a given request path using a specific authorization policy. See <a href="/MapImperativeFiles">/MapImperativeFiles</a> in Startup.cs.</li>
    </ul>
</div>