
@using TagHelperSample.Web.Models
@model IEnumerable<User>

<h2>Index</h2>
<p>
    <a action="Create">Create New</a>
</p>

@if (Model != null && Model.Count() != 0)
{
    <div class="form-horizontal">
        @for (var index = 0; index < Model.Count(); ++index)
        {
        @*
            <div class="form-group">
                <label for="[index].Name" />
                <input type="text" for="[index].Name" disabled="disabled" readonly="readonly" />
            </div>
            <div class="form-group">
                <label for="[index].DateOfBirth" />
                <input type="date" for="[index].DateOfBirth" disabled="disabled" readonly="readonly" />
            </div>
            <div class="form-group">
                <label for="[index].YearsEmployeed" />
                <input type="number" for="[index].YearsEmployeed" disabled="disabled" readonly="readonly" />
            </div>
            <div class="form-group">
                <label for="[index].Blurb" />
                <textarea rows="4" for="[index].Blurb" disabled="disabled" readonly="readonly" />
            </div>

            <a action="Edit" controller="Home" route="MyRouteName" route-id="[index].Id">Edit</a>
            *@
        }
    </div>
}
