@addTagHelper "*, BasicTestApp"
<PropertiesChangedHandlerChild SuppliedValue=@valueToSupply />
<button onclick=@{ valueToSupply++; }>Increment</button>

@functions {
    private int valueToSupply = 100;
}
