@page "/LocationChangingCancel"

@using Microsoft.JSInterop
@using Microsoft.AspNetCore.Components.Routing

@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@implements IDisposable

<button id="test-button" @onclick=@( () => NavigationManager.NavigateTo("LocationChangingStart"))>Navigate</button>
<button id="test-button-gotoexternal" @onclick=@( () => NavigationManager.NavigateTo("www.google.com"))>Navigate external</button>
<button id="test-button-gotoinvalid" @onclick=@( () => NavigationManager.NavigateTo("thispagedoesnotexist"))>Navigate invalid</button>
<button id="test-button-forceload" @onclick=@( () => NavigationManager.NavigateTo("LocationChangingStart", true))>Navigate forced</button>
<a id="test-link" href="LocationChangingStart">Can We</a>>
<a id="test-link-gotoexternal" href="www.google.com">Can We go external</a>>
<a id="test-link-gotoinvalid" href="thispagedoesnotexist">Can We go invalid</a>>

<span id="test-info">@UrlLocation</span>
<button id="test-enable" @onclick=@( () => cancel = false)>Enable navigation</button>

Can@(cancel ? " Not"  : "") Navigate

@code{
    string UrlLocation;
    bool cancel = true;

    protected override void OnInitialized()
    {
        UrlLocation = NavigationManager.Uri;
        NavigationManager.LocationChanged += OnLocationChanged;
        NavigationManager.LocationChanging += OnLocationChanging;
    }

    void IDisposable.Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
        NavigationManager.LocationChanging -= OnLocationChanging;
    }

    void OnLocationChanged(object sender, LocationChangedEventArgs e)
    {
        UrlLocation = NavigationManager.Uri;
        StateHasChanged();
    }

    void OnLocationChanging(object sender, LocationChangingEventArgs e)
    {
        e.Cancel = cancel;
    }
}
