@page "/LongPageWithHash2"
@inject NavigationManager NavigationManager

<div style="border: 2px dashed blue; margin: 1rem; padding: 1rem; height: 1500px;">
    Scroll past me to find the links
</div>

<p id="test2">Test2</p>

<div style="border: 2px dashed blue; margin: 1rem; padding: 1rem; height: 1500px;">
    Scroll past me to find the links
</div>
