@using Microsoft.AspNetCore.Components.Routing
<Router AppAssembly=typeof(BasicTestApp.Program).Assembly>
    <NotFoundContent>
        <div id="test-info">Oops, that component wasn't found!</div>
    </NotFoundContent>
</Router>
