@using Microsoft.AspNetCore.Components.Routing
<Router AppAssembly=typeof(BasicTestApp.Program).Assembly>
    <NotFound>
        <div id="test-info">Oops, that component wasn't found!</div>
    </NotFound>
</Router>
