@using Microsoft.AspNetCore.Components.Routing
<Router AppAssembly="@typeof(BasicTestApp.Program).Assembly" Context="routeData">
    <Found>
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(TestRouterLayout)" />
    </Found>
    <NotFound>
        <div id="test-info">Oops, that component wasn't found!</div>
    </NotFound>
</Router>
