@using Microsoft.AspNetCore.Components.Routing

<Router AppAssembly="@typeof(BasicTestApp.Program).Assembly" OnNavigateAsync="@OnNavigateAsync">
    <Loading>
        <div style="padding: 20px;background-color:blue;color:white;" id="loading-banner">
            <p>Loading the requested page...</p>
        </div>
    </Loading>
    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(RouterTestLayout)">
            <div id="test-info">Oops, that component wasn't found!</div>
        </LayoutView>
    </NotFound>
</Router>

@code {
    private Dictionary<string, Func<OnNavigateArgs, Task>> preNavigateTasks = new Dictionary<string, Func<OnNavigateArgs, Task>>()
    {
        { "LongPage1", new Func<OnNavigateArgs, Task>(TestLoadingPageShows) },
        { "LongPage2", new Func<OnNavigateArgs, Task>(TestOnNavCancel) }
    };

    private async Task OnNavigateAsync(OnNavigateArgs args)
    {
        Console.WriteLine($"Running OnNavigate for {args.Path}...");
        Func<OnNavigateArgs, Task> task;
        if (preNavigateTasks.TryGetValue(args.Path, out task))
        {
            await task.Invoke(args);
        }
    }

    public static async Task TestLoadingPageShows(OnNavigateArgs args)
    {
        await Task.Delay(2000);
    }

    public static async Task TestOnNavCancel(OnNavigateArgs args)
    {
        await Task.Delay(2000, args.CancellationTokenSource.Token);
        Console.WriteLine("I'm not happening...");
    }
}
