@using Microsoft.AspNetCore.Components.Routing

<Router AppAssembly="@typeof(BasicTestApp.Program).Assembly" OnNavigate="@OnNavigate">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(RouterTestLayout)">
            <div id="test-info">Oops, that component wasn't found!</div>
        </LayoutView>
    </NotFound>
</Router>

@code {
    private List<string> OnNavigate(string uri)
    {
       if (uri.EndsWith("WithDynamicAssembly")) {
           return new List<string>{"Newtonsoft.Json.dll"};
       }
       return new List<string>();
    }
}
