@page "/WithLazyLoadedRoutes"

<p id="lazy-load-msg">Click the button below to navigate to a route defined in a lazy-loaded component.</p>

<a href="LazyRouteInsidePackage" id="go-to-lazy-route">Click Me</a>
