@page "/WithCatchAllParameterWithoutEscapedSlashes/{**theUnescapedSlashesAnswer}"
<div id="test-info">The answer: @TheUnescapedSlashesAnswer.</div>

@code
{
    [Parameter] public string TheUnescapedSlashesAnswer { get; set; }
}
