<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net451" userInstalled="true" />
  <package id="NuGet.Common" version="3.5.0-rc-1238" targetFramework="net451" />
  <package id="NuGet.Frameworks" version="3.5.0-rc-1238" targetFramework="net451" />
  <package id="NuGet.Packaging" version="3.5.0-rc-1238" targetFramework="net451" />
  <package id="NuGet.Packaging.Core" version="3.5.0-rc-1238" targetFramework="net451" />
  <package id="NuGet.Packaging.Core.Types" version="3.5.0-rc-1238" targetFramework="net451" />
  <package id="NuGet.Versioning" version="3.5.0-rc-1238" targetFramework="net451" />
</packages>