#define VER_FILETYPE                    VFT_DLL
#define RC_VERSION_INTERNAL_NAME        "aspnetcoreCA\0"
#define RC_VERSION_ORIGINAL_FILE_NAME   "aspnetcoreCA.dll\0"
#define RC_VERSION_FILE_DESCRIPTION     "IIS AspNet Core Support Module Custom Action DLL\0"
#define PRODUCT_MAJOR             7
#define PRODUCT_MINOR             1
#define BUILD_MAJOR               1972
#define BUILD_MINOR               0

#include <bldver.rc>
