@{
    ViewData["Title"] = "Home Page";
}

<h2>
    Learn how to build ASP.NET apps that can run anywhere.
    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
        Learn More
    </a>
</h2>
