@RenderBody()
<span id="valuefromviewstart">@ViewData["ValueFromViewStart"]</span>
<span id="valuefrompage">@ViewData["ValueFromPage"]</span>
<span id="valuefrompagemodel">@ViewData["ValueFromPageModel"]</span>
