<a asp-page="/PageWithRouteTemplate" asp-route-id="10">Link to page inside current area</a>
<a asp-area="Products" asp-page="/List" asp-route-sort="best">Link to page in different area</a>
<a asp-page="/Routes/Sibling">Link to page outside area</a>
