<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <TargetFramework>{TargetFramework}</TargetFramework>
    <OutputType>Exe</OutputType>
    <RuntimeIdentifier>{RuntimeIdentifier}</RuntimeIdentifier>
    <PublishAot>{PublishAot}</PublishAot>
    <MicrosoftNETCoreAppRuntimeVersion>{MicrosoftNETCoreAppRuntimeVersion}</MicrosoftNETCoreAppRuntimeVersion>
    <MicrosoftNETCoreAppRefVersion>{MicrosoftNETCoreAppRefVersion}</MicrosoftNETCoreAppRefVersion>
    <RepoRoot>{RepoRoot}</RepoRoot>
    <!-- Workaround while there is no SDK available that understands the TFM; suppress unsupported version errors. -->
    <NETCoreAppMaximumVersion>99.9</NETCoreAppMaximumVersion>
    <_ExtraTrimmerArgs>{ExtraTrimmerArgs} $(_ExtraTrimmerArgs)</_ExtraTrimmerArgs>
    <InterceptorsPreviewNamespaces>$(InterceptorsPreviewNamespaces);Microsoft.AspNetCore.Http.Generated</InterceptorsPreviewNamespaces>
    <!-- Ensure individual warnings are shown when publishing -->
    <TrimmerSingleWarn>false</TrimmerSingleWarn>
    <!-- But ignore the single warn files marked below to suppress their known warnings. -->
    <NoWarn>$(NoWarn);IL2104</NoWarn>
    {AdditionalProperties}
  </PropertyGroup>

  <ItemGroup>
    {RuntimeHostConfigurationOptions}
  </ItemGroup>

  <ItemGroup>
    {AdditionalProjectReferences}
  </ItemGroup>

  <!-- Single warn the following assemblies, which have known warnings, so the warnings can be suppressed for now.
    Remove this (and the above NoWarn IL2104) once  https://github.com/microsoft/OpenAPI.NET/pull/1717 is merged. -->
  <Target Name="ConfigureTrimming"
          BeforeTargets="PrepareForILLink">
    <ItemGroup>
      <IlcArg Include="--singlewarnassembly:Microsoft.OpenApi" />
    </ItemGroup>
    <ItemGroup>
      <ManagedAssemblyToLink Condition="'%(Filename)' == 'Microsoft.OpenApi'">
        <IsTrimmable>true</IsTrimmable>
        <TrimmerSingleWarn>true</TrimmerSingleWarn>
      </ManagedAssemblyToLink>
    </ItemGroup>
  </Target>

</Project>
