<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <TargetFramework>{TargetFramework}</TargetFramework>
    <OutputType>Exe</OutputType>
    <RuntimeIdentifier>{RuntimeIdentifier}</RuntimeIdentifier>
    <PublishAot>{PublishAot}</PublishAot>
    <MicrosoftNETCoreAppRuntimeVersion>{MicrosoftNETCoreAppRuntimeVersion}</MicrosoftNETCoreAppRuntimeVersion>
    <RepoRoot>{RepoRoot}</RepoRoot>
    <_ExtraTrimmerArgs>{ExtraTrimmerArgs} $(_ExtraTrimmerArgs)</_ExtraTrimmerArgs>
    {AdditionalProperties}
  </PropertyGroup>

  <ItemGroup>
    {RuntimeHostConfigurationOptions}
  </ItemGroup>

  <ItemGroup>
    {AdditionalProjectReferences}
  </ItemGroup>

</Project>
