<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <TargetFramework>{TargetFramework}</TargetFramework>
    <OutputType>Exe</OutputType>
    <RuntimeIdentifier>{RuntimeIdentifier}</RuntimeIdentifier>
    <PublishAot>{PublishAot}</PublishAot>
    <MicrosoftNETCoreAppRuntimeVersion>{MicrosoftNETCoreAppRuntimeVersion}</MicrosoftNETCoreAppRuntimeVersion>
    <RepoRoot>{RepoRoot}</RepoRoot>
    <!-- Workaround while there is no SDK available that understands the TFM; suppress unsupported version errors. -->
    <NETCoreAppMaximumVersion>99.9</NETCoreAppMaximumVersion>
    <_ExtraTrimmerArgs>{ExtraTrimmerArgs} $(_ExtraTrimmerArgs)</_ExtraTrimmerArgs>
    {AdditionalProperties}
  </PropertyGroup>

  <ItemGroup>
    {RuntimeHostConfigurationOptions}
  </ItemGroup>

  <ItemGroup>
    {AdditionalProjectReferences}
  </ItemGroup>

  <!-- Workaround when there is no vNext SDK available; copy known apphost/framework reference info from 8.0. -->
  <ItemGroup>
    <KnownAppHostPack
      Include="@(KnownAppHostPack->WithMetadataValue('TargetFramework', 'net8.0'))"
      TargetFramework="${TargetFramework}"
      Condition="'@(KnownAppHostPack->Count())' != '0' AND
        !(@(KnownAppHostPack->AnyHaveMetadataValue('TargetFramework', '${TargetFramework}')))" />
    <KnownRuntimePack
      Include="@(KnownRuntimePack->WithMetadataValue('TargetFramework', 'net8.0'))"
      TargetFramework="${TargetFramework}"
      Condition="'@(KnownRuntimePack->Count())' != '0' AND
        !(@(KnownRuntimePack->AnyHaveMetadataValue('TargetFramework', '${TargetFramework}')))" />
    <KnownFrameworkReference
      Include="@(KnownFrameworkReference->WithMetadataValue('TargetFramework', 'net8.0'))"
      TargetFramework="${TargetFramework}"
      Condition="'@(KnownFrameworkReference->Count())' != '0' AND
        !(@(KnownFrameworkReference->AnyHaveMetadataValue('TargetFramework', '${TargetFramework}')))" />
    <KnownILLinkPack
      Include="@(KnownILLinkPack->WithMetadataValue('TargetFramework', 'net8.0'))"
      TargetFramework="${TargetFramework}"
      Condition="'@(KnownILLinkPack->Count())' != '0' AND
        !(@(KnownILLinkPack->AnyHaveMetadataValue('TargetFramework', '${TargetFramework}')))" />
    <KnownWebAssemblySdkPack
      Include="@(KnownWebAssemblySdkPack->WithMetadataValue('TargetFramework', 'net8.0'))"
      TargetFramework="${TargetFramework}"
      Condition="'@(KnownWebAssemblySdkPack->Count())' != '0' AND
        !(@(KnownWebAssemblySdkPack->AnyHaveMetadataValue('TargetFramework', '${TargetFramework}')))" />
  </ItemGroup>

</Project>
