<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AIApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="chat">
                <span class="bi bi-chat-fill-nav-menu" aria-hidden="true"></span> Chat
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="toolblocks">
                <span class="bi bi-gear-fill-nav-menu" aria-hidden="true"></span> ToolBlocks
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="richtext">
                <span class="bi bi-text-paragraph-nav-menu" aria-hidden="true"></span> Rich Text
            </NavLink>
        </div>
    </nav>
</div>

