::deep input:not([type]), ::deep input[type=text], ::deep input[type=number], ::deep textarea {
    width: 20rem;
    padding: 0.3rem 0.6rem;
}

::deep input::placeholder {
    color: #ccc;
}

button {
    padding: 0.4rem 2rem;
    font-size: 1.05rem;
}

h2 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

::deep .validation-message {
    margin-top: 0.5rem;
}

::deep input[type=number] {
    width: 3rem;
    text-align: center;
}

img.preview {
    display: block;
    max-width: 30rem;
    margin-top: 1rem;
}
