<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Startup).Assembly">
        <NotFound>
            <p>Sorry, there's nothing at this address.</p>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
