body {
    padding-top: 60px; /* Bootstrap navbar is 50px */
    font-family: Trebuchet MS;
    font-size: 13px;
}

#messages
{
    width: 70%;
    border: 1px solid #ccc;
    height: 500px;
    float: left;
    margin-left: 0px;
    padding-left: 0px;
    overflow-y: auto;
}

#messages li
{
    list-style-type: none;
    padding: 3px;
}

#users
{
    width: 17%;
    height: 500px;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    float: left;
    margin-left: 0px;
    padding-left: 0px;
    overflow: auto;
    font-size: small;
    white-space: nowrap;
}

#users li
{
    padding: 4px;
}

.clear
{
    clear: both;
}

#new-message
{
    font-family: Trebuchet MS;
    width: 70%;
    padding: 5px;
    border: 1px solid #ccc;
}

.error 
{
    color:Red;
}

.pm
{
    color:Red;
}

.notification
{
    color:#bbb;
}
