@using TagHelpersWebSite.Models

@{
    ViewBag.Title = "About";
}

@addTagHelper TagHelpersWebSite.TagHelpers.ATagHelper, TagHelpersWebSite
@addTagHelper TagHelpersWebSite.TagHelpers.WebsiteInformationTagHelper, TagHelpersWebSite

<div>
    <p>Hello, you've reached the about page.</p>

    <h3>Information about our website (outdated):</h3>
    <website-information info="new WebsiteContext {
                                    Version = new Version(1, 1),
                                    CopyrightYear = 1990,
                                    Approved = true,
                                    TagsToShow = 30 }"/>
</div>