@{
    ViewBag.Title = "Help";
}

@addTagHelper TagHelpersWebSite.TagHelpers.ATagHelper, TagHelpersWebSite

<div>
    <p>Hello, you've reached the help page. If you're having troubles try visiting our <a controller="home" action="index" approved="true">Approved Home Page</a></p>
</div>