@{
    ViewBag.Title = "Home Page";
    ViewBag.ngApp = "MusicStore.Store";
    Layout = "/Views/Shared/_Layout.cshtml";
}

@section NavBarItems {

<li app-genre-menu></li>
@*@Html.InlineData("GenreMenuList", "GenresApi")*@

}

<div ng-view></div>

@*@Html.InlineData("MostPopular", "AlbumsApi")*@

@section Scripts {

<script src="~/lib/angular/angular.js"></script>
<script src="~/lib/angular-route/angular-route.js"></script>
@* TODO: This is currently all the compiled TypeScript, non-minified. Need to explore options
    for alternate loading schemes, e.g. AMD loader of individual modules, min vs. non-min, etc. *@
<script src="~/js/@(ViewBag.ngApp).js"></script>

}