@using IdentityOIDCWebApplicationSample.Identity.Models.ApplicationViewModels
@model CreateLogoutUriViewModel

    @{
        ViewData["Title"] = "Add a logout uri to your application";
    }

    <h2>@ViewData["Title"].</h2>
    <div>
        <hr />
        <ul class="list-unstyled">
            <li class="h4">Name</li>
            <li>@Model.Name</li>
            <li class="h4">Logout uris</li>
            <li>
                <ul class="list-unstyled">
                    @foreach (var logoutUris in Model.LogoutUris)
                    {
                        <li>@logoutUris</li>
                    }
                    @if (Model.LogoutUris.Count() == 0)
                    {
                        <li>(none)</li>
                    }
                </ul>
            </li>
        </ul>
        <hr />
        <form asp-action="CreateLogoutUri" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewLogoutUri">New logout uri</label>
                <input asp-for="NewLogoutUri" class="form-control large" placeholder="New logout uri">
                <span asp-validation-for="NewLogoutUri" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    <hr />
    <a asp-action="Details" class="btn btn-success">Continue to the application details</a>
    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }
