@using IdentityOIDCWebApplicationSample.Identity.Models.ApplicationViewModels
@model string

    @{
        ViewData["Title"] = "Generate an application key";
    }

    <h2>@ViewData["Title"].</h2>
    <hr />

    <ul class="list-unstyled">
        <li class="h4">Name</li>
        <li>@Model</li>
    </ul>

    <div>
        <hr />
        <form asp-action="GenerateClientSecret" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <button type="submit" class="btn btn-default">Confirm</button>
        </form>
    </div>
    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }
