@using IdentityOIDCWebApplicationSample.Identity.Models.ApplicationViewModels
@model GeneratedClientSecretViewModel

    @{
        ViewData["Title"] = "Application key successfully generated";
    }

    <h2>@ViewData["Title"].</h2>
    <div>
        <hr />
        <ul class="list-unstyled">
            <li class="h4">Name</li>
            <li><a asp-action="Details">@Model.Name</a></li>
            <li class="h4">Application key</li>
            <li>@Model.ClientSecret</li>
        </ul>
    </div>
