[Oo]bj/
[Bb]in/
TestResults/
.nuget/
*.sln.ide/
_ReSharper.*/
packages/
artifacts/
PublishProfiles/
BenchmarkDotNet.Artifacts/
*.user
*.suo
*.cache
*.docstates
_ReSharper.*
nuget.exe
project.lock.json
*net45.csproj
*net451.csproj
*k10.csproj
*.psess
*.vsp
*.pidb
*.userprefs
*DS_Store
*.ncrunchsolution
*.*sdf
*.ipch
.vscode/
*.nuget.props
*.nuget.targets
*.bin
*.vs/
.testPublish/
*.obj
*.tlog
*.CppClean.log
*msbuild.log
gtest.log
Debug/
x64/Debug/
Release/
x64/Release/
x64/
*vcxproj.filters
*.aps
*.pdb
*.lib
*.idb
*.res
*.pch
aspnetcoremodule.h
aspnetcore_msg.h
aspnetcore_msg.rc
version.h
test/*/Debug
test/*/Release
.build
*.VC.*db
global.json
msbuild.binlog