[Oo]bj/
[Bb]in/
TestResults/
.nuget/
*.sln.ide/
_ReSharper.*/
packages/
artifacts/
PublishProfiles/
BenchmarkDotNet.Artifacts/
*.user
*.suo
*.cache
*.docstates
_ReSharper.*
nuget.exe
project.lock.json
*net45.csproj
*net451.csproj
*k10.csproj
*.psess
*.vsp
*.pidb
*.userprefs
*DS_Store
*.ncrunchsolution
*.*sdf
*.ipch
.vscode/
*.nuget.props
*.nuget.targets
*.bin
*.vs/
.testPublish/
*.obj
*.tlog
*.CppClean.log
*msbuild.log
gtest.log

src/*/*/Debug/
src/*/*/x64/Debug/
src/*/*/Release/
src/*/*/x64/Release/
x64/
*vcxproj.filters
*.aps
*.pdb
*.lib
*.idb
*.TMP

src/*/AspNetCore/aspnetcoremodule.h
src/*/AspNetCore/aspnetcore_msg.h
src/*/AspNetCore/aspnetcore_msg.rc
src/*/*/version.h
src/*/InProcessRequestHandler/version.h
src/*/OutOfProcessRequestHandler/version.h
src/*/CommonLib/aspnetcore_msg.h
src/*/CommonLib/aspnetcore_msg.rc
test/*/Debug
test/*/Release
.build
*.VC.*db
global.json
msbuild.binlog