<div id="react-app" asp-prerender-module="ReactApp/boot-server.jsx"
                    asp-prerender-webpack-config="webpack.config.js"></div>

@section scripts {
    <script src="/dist/main.js"></script>
}
