@addTagHelper "*, TestAssembly"

<a href="~/">2 TagHelpers.</a>
<a href=~/hello>1 TagHelper.</a>
<a href="~/?hello=world">2 TagHelpers</a>
<a href="~/@false?hello=world">2 TagHelpers</a>
<a href=' ~/'>0 TagHelpers.</a>
<a href=~/@false>1 TagHelper</a>
<a href="~/?hello=world@false">1 TagHelper</a>
<a href='~/?hello=world @false'>1 TagHelper</a>
<input type="text" value="3 TagHelpers" />
<input type='texty' value="3 TagHelpers" />
<input type="checkbox" value="2 TagHelper" />