@using Microsoft.AspNetCore.Components.Sections

<h1>Parent Component</h1>

<SectionOutlet Name="test" />

<select id="child-component" @bind=SelectedComponent>
    <option value="none" name="none">Choose...</option>
    <option value="counter" name="counter">Counter</option>
    <option value="simple-component" name="simple-component">Simple Component</option>
</select>

@code {
    string SelectedComponent { get; set; } = "none";
}

@if (SelectedComponent == "counter")
{
    <Counter></Counter>
}
else if (SelectedComponent == "simple-component")
{
    <SimpleComponent></SimpleComponent>
}
