@using Microsoft.AspNetCore.Components.Sections

<div>
    <h2>Text Component</h2>

    <p>TextComponent SectionContent was rendered = @SectionContentExists.ToString()</p>

    <p>TextComponent SectionContent IsDefaultContent = @IsDefaultContent.ToString()</p>

    @if (SectionContentExists)
    {
        <SectionContent SectionId="@SectionId" IsDefaultContent="@IsDefaultContent">
            <p id="text">Hello!</p>
        </SectionContent>
    }
</div>

@code {
    [Parameter]
    public bool SectionContentExists { get; set; }

    [Parameter]
    public bool IsDefaultContent { get; set; }

    [Parameter]
    public object SectionId { get; set; }
}
