<div *ngIf="albumData">
    <h2>{{ albumData.Title }}</h2>

    <p>
        <img alt="{{ albumData.Title }}" src="{{ albumData.AlbumArtUrl }}">
    </p>

    <div id="album-details">
        <p>
            <em>Genre:</em>
            {{ albumData.Genre.Name }}
        </p>
        <p>
            <em>Artist:</em>
            {{ albumData.Artist.Name }}
        </p>
        <p>
            <em>Price:</em>
            {{ albumData.Price | currency:'USD':true }}
        </p>
        <p class="button">
            <!-- TODO: Shopping cart functionality -->
            Add to cart
        </p>
    </div>
</div>
