<Router AppAssembly="@GetType().Assembly">
    <Found Context="routeData">
        <NavLink href="" Match="NavLinkMatch.All">Home</NavLink> |
        <NavLink href="other">Other</NavLink>
        <hr />
        <RouteView RouteData="@routeData" />
    </Found>
    <NotFound>
        <h1>Not found</h1>
        <p>Sorry, there's nothing here.</p>
    </NotFound>
</Router>
