@page "/"

<h1>Hello, world!</h1>

<p>
    This app can be run either standalone on the dev server (by launching <code>ThreadingApp</code>) or hosted in a
    Blazor Web server app (by launching <code>ThreadingApp.Server</code>).
</p>
