@model Pages.Page

<div class="dialog-subcat">
    <div data-url="/Category/PageA" title="PageA Title" class="sicon dialogue_pagea"></div>
    <div data-url="/Category/PageB" title="PageB Title" class="sicon dialogue_pageb"></div>
    <div data-url="/Category/PageC" title="PageC Title" class="sicon dialogue_pagec"></div>
    <div data-url="/Category/PageD" title="PageD Title" class="sicon dialogue_paged"></div>
    <div data-url="/Category/PageE" title="PageE Title" class="sicon dialogue_pagee"></div>
    <div data-url="/Category/PageF" title="PageF Title" class="sicon dialogue_pagef"></div>
    <div data-url="/Category/PageG" title="PageG Title" class="sicon dialogue_pageg"></div>
</div>
<div class="licon micon dialogue_category"></div>
