
@{
    ViewData["Title"] = "Antiforgery token and response caching";
}

<h2>@ViewData["Title"]</h2>

@using (Html.BeginForm("Login", "Antiforgery", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <label>Name</label>
    <input type="text" name="Name" />
    <input type="submit" />
}