@model IEnumerable<Genre>

<li class="dropdown">
    <a asp-controller="Store" asp-action="Index" class="dropdown-toggle" data-toggle="dropdown">Store <b class="caret"></b></a>
    <ul class="dropdown-menu">
        @foreach (var genre in Model)
        {
            <li>
                <a asp-controller="Store" asp-action="Browse" asp-route-Genre="@genre.Name">@genre.Name</a>
            </li>
        }
        <li class="divider"></li>
        <li>
            <a asp-controller="Store" asp-action="Index">More...</a>
        </li>
    </ul>
</li>