@using System.Linq

<p>This is the DisplayForModel output.  Once default templates are implemented this should go away.</p>
<p><strong>User Name: </strong>@ViewData.Model.Name</p>
<p><strong>User Model Metadata Property Count: </strong>@ViewData.ModelMetadata.Properties.Count()</p>