@using Microsoft.AspNetCore.Components.Web.Image

<div class="blazor-image-container" style="@GetContainerStyle()">
    @if (_isLoading)
    {
        @if (LoadingContent != null)
        {
            @LoadingContent
        }
        else
        {
            <div class="image-loading">
            </div>
        }
    }
    else if (_hasError)
    {
        @if (ErrorContent != null)
        {
            @ErrorContent
        } else
        {
            <div class="image-error">
            </div>
        }
    }

    <img id="@_id"
         class="@(_isLoading || _hasError ? "d-none" : GetCssClass())"
         alt="@Alt"
         @ref="Element"
         @attributes="AdditionalAttributes" />
</div>

@code {
    private string GetContainerStyle() => AdditionalAttributes?.TryGetValue("style", out var style) == true
    ? style?.ToString() ?? string.Empty : string.Empty;

    private string GetCssClass() => AdditionalAttributes?.TryGetValue("class", out var cssClass) == true
        ? cssClass?.ToString() ?? string.Empty : string.Empty;
}
