#!/usr/bin/make -f
#
# Copyright (c) .NET Foundation and contributors. All rights reserved.
# Licensed under the MIT license. See LICENSE file in the project root for full license information.
#

{overrides}

override_dh_builddeb:
	dh_builddeb -- -Zxz

%:
	dh $@

