html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1:focus {
    outline: none;
}

.content {
    padding: 1rem;
}

.page {
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 250px;
    min-height: 100vh;
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.nav-item a {
    color: #d7d7d7;
    display: block;
    padding: 0.5rem 0;
    text-decoration: none;
}

.nav-item a:hover {
    color: white;
}
