<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.DependencyInjection" version="0.1-alpha-t140123020341" targetFramework="net45" />
  <package id="Microsoft.Owin" version="2.1.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
</packages>