@inherits ErrorBoundary
@if (CurrentException is null)
{
    @ChildContent
}
else if (ErrorContent is not null)
{
    @ErrorContent(CurrentException)
}
else
{
    <div style="background-color: yellow; border: 2px dashed black; white-space: pre; font-family: consolas, monospace; padding: 0.5rem;">
        @CurrentException.ToString()
    </div>
}
