<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <base href="/" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
    @*#if (UseWebAssembly && PWA) -->
    <link href="manifest.webmanifest" rel="manifest" />
    <link rel="apple-touch-icon" sizes="512x512" href="icon-512.png" />
    <link rel="apple-touch-icon" sizes="192x192" href="icon-192.png" />
    ##endif*@
</head>

<body>
    <App />
    <script src="_framework/blazor.web.js"></script>
    @*#if (UseWebAssembly && PWA) -->
    <script>
        navigator.serviceWorker.register("service-worker.js");
    </script>
    ##endif*@
</body>

</html>
