@page
<a asp-page="../PageWithRouteTemplate" asp-route-id="1">Parent directory</a>
<a asp-page="../Manage/RenderPartials">Sibling directory</a>
<a asp-page="../List" asp-area="Products">Go back to root of different area</a>
