<!DOCTYPE html>
<html>
    <head>
        <title>@ViewData["Title"] - My MVC 6 Application</title>
    </head>
    <body>
        <h1>MVC 6 - @ViewData["Title"]</h1>
        <div>
            @RenderBody()
        </div>
    </body>
</html>