@using Microsoft.AspNetCore.Components.Web
@rendermode RenderMode.InteractiveWebAssembly

<h1>This is @nameof(InteractiveWithInteractiveChild)</h1>

<InteractiveGreetingServer Name="@($"from {nameof (InteractiveGreetingServer)}")" />
