@using Microsoft.AspNetCore.Components.Web
@attribute [GeneratedRenderMode]

<p>Hello @(Name ?? "(null)")!</p>

@code {
    [Parameter] public string Name { get; set; }

    private class GeneratedRenderModeAttribute : RenderModeAttribute
    {
        public override IComponentRenderMode Mode => new ServerRenderMode(prerender: false);
    }
}
