@using Microsoft.AspNetCore.Components.Web
@attribute [RenderModeWebAssembly]

<h1>This is @nameof(InteractiveWithInteractiveChild)</h1>

<InteractiveGreetingServer Name="@($"from {nameof (InteractiveGreetingServer)}")" />
