-SourceToolsList @("policheck","credscan")
-ArtifactToolsList @("binskim")
-TsaInstanceURL https://devdiv.visualstudio.com/
-TsaProjectName DEVDIV
-TsaNotificationEmail aspnetcore-build@microsoft.com
-TsaCodebaseAdmin REDMOND\aspnetcore-build
-TsaBugAreaPath "DevDiv\ASP.NET Core\Policy Violations"
-TsaIterationPath DevDiv
-TsaRepositoryName AspNetCore
-TsaCodebaseName AspNetCore
-TsaOnboard $True
-TsaPublish $True
-PoliCheckAdditionalRunConfigParams @("UserExclusionPath < $(Build.SourcesDirectory)/s/eng/PoliCheckExclusions.xml")
-CrScanAdditionalRunConfigParams @("SuppressionsPath< $(Build.SourcesDirectory)/s/.config/CredScanSuppressions.json")
