@using Microsoft.AspNetCore.Components.Routing
Router component
<Router AppAssembly="System.Reflection.Assembly.GetAssembly(typeof(RouterContainer))">
    <Found Context="routeData"><RouteView RouteData="@routeData" /></Found>
    <NotFound>
        <p>Route not found</p>
    </NotFound>
</Router>
