@using Microsoft.AspNetCore.Components.Routing
Router component
<Router AppAssembly="System.Reflection.Assembly.GetAssembly(typeof(RouterContainer))">
    <NotFound>
        <p>Route not found</p>
    </NotFound>
</Router>
