@tagHelperPrefix "THS"
@addTagHelper "*, TestAssembly"

<THSdiv class="randomNonTagHelperAttribute">
    <THSp class="Hello World">
        <p></p>
        <input type="text">
        <THSinput type="checkbox" checked="true">
    </THSp>
</THSdiv>