@addTagHelper "*, TestAssembly"

<p age="3" AGE="40" Age="500">
    <input type="button" TYPE="checkbox" />
    <input type="button" checked="true" type="checkbox" checked="false" />
    <input type='button' checked="true" type=checkbox checked='true' type="checkbox" checked=true />
</p>