@addTagHelper "*, TestAssembly"

<script type="text/html">
    <div data-animation="fade" class="randomNonTagHelperAttribute">
        <p class="Hello World" data-delay="1000">
            @for(var i = 0; i < 5; i++) {
                <script id="nestedScriptTag" type="text/html">
                    <input data-interval="2000 + @ViewBag.DefaultInterval + 1" type="text" checked="true">
                </script>
            }
            <script type="text/javascript">
                var tag = '<input checked="true">';
            </script>
        </p>
    </div>
</script>