@addTagHelper *, TestAssembly

<ul [item]="items"></ul>
<ul [(item)]="items"></ul>
<button (click)="doSomething()">Click Me</button>
<button (^click)="doSomething()">Click Me</button>
<template *something="value">
</template>
<div #local></div>
<div #local="value"></div>

<ul bound [item]="items" [item]="items"></ul>
<ul bound [(item)]="items" [(item)]="items"></ul>
<button bound (click)="doSomething()" (click)="doSomething()">Click Me</button>
<button bound (^click)="doSomething()" (^click)="doSomething()">Click Me</button>
<template bound *something="value" *something="value">
</template>
<div bound #localminimized></div>
<div bound #local="value" #local="value"></div>