@addTagHelper "*, TestAssembly"

<p
class 
   =
"Hello World" age   =1337
   data-content= "@true">Body of Tag</p>

<input type 	= 'text' data-content=	 "hello" />

<p age=   "1234" data-content
= 'hello2'></p>

<input type 
       =password data-content =blah/>