@addTagHelper "*, TestAssembly"

@functions {
    public void RenderTemplate(string title, Func<string, HelperResult> template)
    {
        Output.WriteLine("<br /><p><em>Rendering Template:</em></p>");
        var helperResult = template(title);
        helperResult.WriteTo(Output, HtmlEncoder);
    }
}

<div>
    @{
        RenderTemplate(
            "Template: ",
            @<div condition="true"><h3>@item</h3><input type="checkbox" checked="true" /></div>);
    }
</div>

