@addTagHelper *, TestAssembly

<input bound="hello" data-one="1" data-two=2 data-three="" />
<div data-one=@foo data-two="@bar" data-three= data-four=""></div>
<p attr="" data-one="" data-two= data-three=hello data-four=@foo>
