.api-description {
    margin: 10px 0px 10px 0px;
    padding: 5px;
}

.api-description h5 {
    margin-top: 20px;
}

.api-description hr {
    border: 0px;
    border-top: 1px solid #D44B4B;
    margin: 0px;
    margin-bottom: 10px;
}

.api-description table {
    width: 100%;
}

.api-description thead {
    border-bottom: 1px solid black;
}

.api-description td {
    border-bottom: 1px solid #CCCCCC;
    color: #666666;
    padding: 5px;
}
.api-description tr:last-child td {
    border-bottom: none;
}