<h1>NodeServices examples</h1>

<p>
    These examples demonstrate the direct use of the NodeServices package, independently of the usual SPA scenarios.
    In general, NodeServices offers an efficient way to use Node-provided functionality (e.g., NPM modules) from inside
    a .NET application.
</p>

<ul>
    <li><a asp-action="ES2015Transpilation">ES2015 transpilation</a></li>
    <li><a asp-action="Chart">Server-side chart rendering</a></li>
    <li><a asp-action="Prerendering">Server-side SPA prerendering</a></li>
</ul>
