.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.show {
    display: block;
}

.grid-option::before, .grid-option-Acteved::before {
    cursor: pointer;    
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-filter' viewBox='0 0 16 16'%3E%3Cpath d='M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
    vertical-align: middle;
    opacity: 0.125;
}

.grid-option-Acteved::before {
    opacity: 0.6;
}

.grid-filter::before, .grid-filter-Actived::before {
    cursor: pointer;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'/%3E%3C/svg%3E");
    vertical-align: middle;
    opacity: 0.125;
}

.grid-filter-Actived::before {
    opacity: 0.6;
}

.grid-filter-advanced::before {
    cursor: pointer;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-funnel' viewBox='0 0 16 16'%3E%3Cpath d='M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z'/%3E%3C/svg%3E");
    vertical-align: middle;
    opacity: 0.125;
}

.grid-filter-advanced-Active::before {
    cursor: pointer;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-funnel-fill' viewBox='0 0 16 16'%3E%3Cpath d='M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z'/%3E%3C/svg%3E");
    vertical-align: middle;
    opacity: 0.6;
}

.sorting_ascending,
.sorting_descending,
.sorting_default {
    cursor: pointer;
    position: relative;
    padding-right: 6px;
}

    .sorting_ascending:before,
    .sorting_descending:before,
    .sorting_default:before,
    .sorting_ascending:after,
    .sorting_descending:after,
    .sorting_default:after {
        position: absolute;
        display: block;
        opacity: 0.125;
        line-height: 9px;
        font-size: 0.8em;
    }

    .sorting_ascending:before,
    .sorting_descending:before,
    .sorting_default:before {
        bottom: 50%;
        content: "▲";
    }

    .sorting_ascending:after,
    .sorting_descending:after,
    .sorting_default:after {
        top: 50%;
        content: "▼";
    }

    .sorting_ascending:before {
        opacity: 0.6;
    }

    .sorting_descending:after {
        opacity: 0.6;
    }

    .sorting_default:before {
        opacity: 0.125;
    }

    .sorting_default:after {
        display: none;
    }

    .sorting_descending:before {
        display: none;
    }
