<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <!-- This repository cannot use the publish-iis tool because there's a bug in the installer if the tool package is a project reference -->
    <!-- See https://github.com/dotnet/cli/issues/1215 -->
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\TestSites.Portable.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="true" />
  </system.webServer>
</configuration>