@model SendCodeViewModel
@{
    ViewBag.Title = "Send Verification Code";
}

<h2>@ViewBag.Title.</h2>

<form asp-controller="Account" asp-action="SendCode" asp-route-returnurl="@Model.ReturnUrl" method="post" class="form-horizontal" role="form">
    <input asp-for="RememberMe" type="hidden" />
    <div class="row">
        <div class="col-md-8">
            Select Two-Factor Authentication Provider:
            <select asp-for="SelectedProvider" asp-items="Model.Providers"></select>
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
