@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView Context="authenticationState">
    <Authorized>
        <a href="authentication/profile">Hello, @authenticationState.User.Identity.Name!</a>
        <button class="nav-link btn btn-link" @onclick="BeginSignOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/register">Register</a>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    public async Task BeginSignOut()
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
