@page "/large-html-server"

<h1>WebAssembly with pre-rendering</h1>
<LargeComponent Id="webassembly-prerender" @rendermode="@(new WebAssemblyRenderMode(true))" />

<h1>Server with pre-rendering</h1>
<LargeComponent Id="server-no-prerender" @rendermode="@(new ServerRenderMode(false))" />

<h1>Server without pre-rendering</h1>
<LargeComponent Id="server-prerender" @rendermode="@(new ServerRenderMode(true))" />
