@{
    Layout = "/Views/Shared/_LayoutWithRenderSectionOnly.cshtml";
    ViewBag.Title = "Page With Layout";
}
Inside Nested Layout
@RenderBody()
@section nestedcontent
{
    @{
        await FlushAsync();
    }
    <span>Nested content that takes time to produce</span>
}

