@using MvcTagHelpersWebSite.Models

@model List<Employee>

@{
    ViewBag.Title = "Employee Page";
}

<html>
<body>
    @if (Model != null && Model.Count() != 0)
    {
        @using (@Html.BeginForm("EmployeeList", "MvcTagHelper_Home", FormMethod.Post))
        {
            @for (int i = 0; i < Model.Count; ++i)
            {
                @Html.EditorFor(m => m[i])
            }
            <input type="submit" />
        }
    }
</body>
</html>