@addtaghelper "Microsoft.AspNet.Mvc.TagHelpers"

<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Link</title>
    <link href="~/blank.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/link-test.min.css" data-extra="test"
          asp-fallback-href="~/link-test.css"
          asp-fallback-test-class="hidden"
          asp-fallback-test-property="visibility"
          asp-fallback-test-value="hidden" />
</head>
<body>

    <h2>Link Tag Helper Test</h2>
    
</body>
</html>