@*
    Copyright (c) Microsoft Open Technologies, Inc. All rights reserved.
    Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information.
*@
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Script</title>
</head>
<body>
    <h2>Script tag helper test</h2>
    <script src="~/blank.js" data-foo="foo-data1">
        // Regular script with comment in body, and extra properties.
    </script>

    <script src="~/blank.js" asp-fallback-src="~/fallback.js" asp-fallback-test="blank.wooptido" data-foo="foo-data2">
        // TagHelper script with comment in body, and extra properties.
    </script>

    <script asp-fallback-src="~/fallback.js" asp-fallback-test="blank.wooptido" data-foo="foo-data3">
        // Valid TagHelper (although no src is provided) script with comment in body, and extra properties.
    </script>

    <script src="~/blank.js" asp-fallback-src="~/fallback.js">
        // Invalid TagHelper script with comment in body.
    </script>
</body>
</html>