@page "/focus-on-navigate/interactive-with-other-focused-element"

<h1>Interactively rendered element to focus</h1>

<ComponentWithElementToFocus @rendermode="RenderMode.InteractiveServer" />

<input type="text" placeholder="I want focus on load!" data-focus-on-load />
