@page "/focus-on-navigate/static-with-other-focused-element"

<h1>Statically rendered with other focused element</h1>

<ComponentWithElementToFocus />

<input type="text" placeholder="Focus me instead!" data-focus-on-load />
