@page "/counter"
@*#if (UseServer && !UseWebAssembly) -->
@attribute [RenderModeServer]
##endif*@
@*#if (!UseServer && UseWebAssembly) -->
@attribute [RenderModeWebassembly]
##endif*@
@*#if (UseServer && UseWebAssembly) -->
@attribute [RenderModeAuto]
##endif*@

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
