<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <appSettings>
    <!-- Change below value to 'false' to run on full desktop -->
    <add key="K" value="true" />

  </appSettings>

</configuration>