<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <appSettings>
    <add key="K" value="false" />

    <add key="DefaultAdminUsername" value="Administrator" />
    <add key="DefaultAdminPassword" value="YouShouldChangeThisPassword" />
  </appSettings>

</configuration>