@addTagHelper "*, something"

<p class="btn">
    <p><strong catchAll="hi">Hello</strong><strong>World</strong></p>
    <input checked="true" />
    <input type="checkbox" checked="true" />
    <input type="checkbox" checked="true" catchAll="hi" />
</p>