@tagHelperPrefix "THS"
@addTagHelper "something, nice"

<THSdiv class="randomNonTagHelperAttribute">
    <THSp class="Hello World">
        <p></p>
        <input type="text" />
        <THSinput type="checkbox" checked="true" />
    </THSp>
</THSdiv>