<a href="~/Foo">Foo</a>
<a href="~/Products/@product.id">@product.Name</a>
<a href="~/Products/@product.id/Detail">Details</a>
<a href="~/A+Really(Crazy),Url.Is:This/@product.id/Detail">Crazy Url!</a>

@{
    <text>
        <a href="~/Foo">Foo</a>
        <a href="~/Products/@product.id">@product.Name</a>
        <a href="~/Products/@product.id/Detail">Details</a>
        <a href="~/A+Really(Crazy),Url.Is:This/@product.id/Detail">Crazy Url!</a>
    </text>
}

@section Foo {
    <a href="~/Foo">Foo</a>
    <a href="~/Products/@product.id">@product.Name</a>
    <a href="~/Products/@product.id/Detail">Details</a>
    <a href="~/A+Really(Crazy),Url.Is:This/@product.id/Detail">Crazy Url!</a>
}