@page "{handler?}"
@model RazorPagesWebSite.ModelHandlerTestModel

Method: @Model.MethodName
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
}
<a href="~/HelloWorld.cshtml">~/HelloWorld.cshtml</a>