<html>
    <head>
        <title>@ViewData["Title"]</title>
    </head>
    <body>
        <span id="message">@ViewData["Message"]</span>
        <span id="filter-message">@ViewData["FilterMessage"]</span>
        @RenderBody()
    </body>
</html>
