@using ActivatorWebSite.Models
@model Item

@addtaghelper "ActivatorWebSite"

@{
    ViewBag.Title = "Activation Test";
}

<body>
<div expression="Name" repeat-content="3"></div>
<span name="foo">test content</span>
</body>