@using ActivatorWebSite.Models
@model Item

@addTagHelper *, ActivatorWebSite

@{
    ViewBag.Title = "Activation Test";
    ViewData["footer"] = "Footer from activated ViewData";
}

<body>
<div expression="Name" repeat-content="3"></div>
<span name="foo">test content</span>
</body>