@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>

</div>
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a class="reload">Reload</a>
    <a class="dismiss">X</a>
</div>
