@{
    ViewData["Title"] = "Home Page";
}

<div id="react-app" asp-prerender-module="ReactApp/boot-server"
                    asp-prerender-webpack-config="webpack.config.js"></div>

@section scripts {
    <script src="/dist/vendor.bundle.js"></script>
    <script src="/dist/main.js"></script>
}
