<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <BasePath />
    <link rel="stylesheet" href="@Assets["css/site.css"]" />
    <link rel="icon" type="image/png" href="@Assets["favicon.png"]" />
    <HeadOutlet />
</head>
<body>
    <Routes />
    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <script src="js/aspnet-validation.js"></script>
    <script>
        Blazor.addEventListener('enhancedload', function (event) {
            console.log('[enhancedload] Enhanced navigation completed');
        });
    </script>
</body>
</html>
