<div class="modal-header">
    <h3>Really delete this album?</h3>
</div>
<div class="modal-body">
    <div class="text-center">
        <p>
            <img ng-src="{{ viewModel.album.AlbumArtUrl }}" ng-show="viewModel.album.AlbumArtUrl" alt="Album art" />
        </p>
        <p>
            <strong>{{ viewModel.album.Title }}</strong><br />
            <em>by {{ viewModel.album.Artist.Name }}</em>
        </p>
    </div>
</div>
<div class="modal-footer">
    <div class="col-md-offset-2 col-md-10">
        <button type="submit" class="btn btn-danger" ng-click="viewModel.ok()">
            Delete Album
        </button>
        <button type="button" class="btn btn-default" ng-click="viewModel.cancel()">
            Cancel
        </button>
    </div>
</div>