@addTagHelper "*, TestAssembly"

<p catchall-unbound-required>
    <input nottaghelper />
    <input class="btn"
           catchall-unbound-required />
    <input 
           class="btn" catchall-unbound-required input-unbound-required input-bound-required-string="hello" />
    <input 
           class="btn" 
           catchall-unbound-required 
           input-unbound-required catchall-bound-string="world" input-bound-required-string="hello2" />
    <input class="btn" 
           catchall-unbound-required="hello" 
                input-unbound-required="hello2" 
           catchall-unbound-required 
           input-bound-required-string="world" />
    <div boundbool booldict-prefix-key></div>
    <div>Tag helper with unmatched bound boolean attributes.</div>
</p>