@implements IRazorComponentApplication<RazorComponentsRoot>

<h3>TODO</h3>

<p>
    This should start acting as a real root component, rendering the router, etc.
    once we change MapRazorComponents to render the specified root component instead
    of directly rendering the page.
</p>
