@model IEnumerable<TagHelperSample.Web.Models.FeaturedMovies>

<dl>
    @foreach (var movie in Model)
    {
        <dt>(@movie.Rank) @movie.Name</dt>
        <dd>
            <div>
                @movie.Description
            </div>
            <em>Critics say:</em>
            <cache vary-by="@movie.Name">
                @await Component.InvokeAsync("Movies", new { movieName = movie.Name })
            </cache>
        </dd>
    }
</dl>