<!-- Carousel -->
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li *ngFor="#item of carouselItems; #i = index" data-target="#myCarousel" [attr.data-slide-to]="i" class="{{ i == 0 ? 'active' : '' }}"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div *ngFor="#item of carouselItems; #i = index" class="{{ 'item ' + (i == 0 ? 'active' : '') }}">
            <img src="{{ item.imageUrl }}" alt="{{ item.imageAlt }}" class="img-responsive" />
            
            <div class="carousel-caption">
                <p>
                    {{ item.text }}
                    <a class="btn btn-default" href="{{ item.learnMoreUrl }}">Learn More</a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"> </span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"> </span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!-- Lists of links -->
<div class="row">
    <div *ngFor="#list of linkLists" class="col-md-3">
        <h2>{{ list.title }}</h2>
        <ul>
            <li *ngFor="#entry of list.entries" [innerHTML]="entry"></li>
        </ul>
    </div>
</div>
