@inherits LayoutComponentBase

<div class="page">
    <nav class="sidebar">
        <div class="sidebar-title">Validation Sample</div>
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
        <NavLink class="nav-link" href="customer-form">Customer Form</NavLink>
        <NavLink class="nav-link" href="order-form">Order Form</NavLink>
    </nav>
    <main class="content">
        @Body
    </main>
</div>
