@page "/other"
@inject NavigationManager NavigationManager

Here is another page. Looks like navigation works.

<button @onclick="BackToHome">Navigate back programmatically</button>

@code {
    void BackToHome()
    {
        NavigationManager.NavigateTo("");
    }
}
