@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<div class="alert alert-survey" role="alert">
    <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
    <strong>How is Blazor working for you?</strong>
    Please take our
    <a target="_blank" class="alert-link" href="https://go.microsoft.com/fwlink/?linkid=870381">brief survey</a>
    and tell us what you think.
</div>
