@page "/Account/ResetPasswordConfirmation"
<PageTitle>Reset password confirmation</PageTitle>

<h1>Reset password confirmation</h1>
<p>
    Your password has been reset. Please <a href="Account/Login">click here to log in</a>.
</p>
