<header class="navbar navbar-expand flex-wrap justify-content-between bg-body-tertiary p-0 shadow-sm">
    <a class="navbar-brand ps-3" href="">BlazorWeb-CSharp</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </li>
    </ul>
</header>
