@inherits LayoutComponentBase
@*#if (SampleContent) -->

<Header />

<div class="container-fluid">
    <div class="row">
        <NavMenu />

        <main class="col px-4">
            <article class="pt-4">
                @Body
            </article>
        </main>
    </div>
</div>
##else

@Body
##endif*@
@*#if (UseServer || UseWebAssembly) -->

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
##endif*@
