.sidebar {
    background-color: var(--bl-sidebar-background);
    background-image: var(--bl-sidebar-gradient);
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    
    &.hidden {
        display: none; /* default to none, navbar-toggler can override this value */
    }
    /* When the screen is wider than */
    @media (width >= 641px) {
        /* Never collapse the sidebar */
        height: calc(100vh - 56px);
        width: 250px;

        &.hidden {
            display: block;
        }
    }
}

.navbar-toggler {
    position: absolute;
    width: 3.5rem;
    height: 2.5rem;
    top: 0.5rem;
    right: 1rem;
    --bs-navbar-color: rgba(255,255,255, 0.75);
    --bs-navbar-toggler-padding-y: 0.25rem;
    --bs-navbar-toggler-padding-x: 0.75rem;
    --bs-navbar-toggler-font-size: 1.25rem;
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    --bs-navbar-toggler-border-radius: var(--bs-border-radius);
    --bs-navbar-toggler-focus-width: 0.25rem;
    --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
    
    &.force-darkmode {
        --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        --bs-navbar-toggler-border-color: rgba(255,255,255, 0.15);
    }

    @media (width >= 641px) {
        display: none;
    }
}
/* .nav-link */

::deep .nav-link {
    display: flex;
    align-items: center;
    height: 3rem;
    color: var(--bl-sidebar-navlink-color, var(--bs-nav-link-color));
}

    ::deep .nav-link.active {
        color: var(--bl-nav-pills-link-active-color, var(--bs-nav-pills-link-active-color));
        background-color: var(--bl-nav-pills-link-active-bg, var(--bs-nav-pills-link-active-bg));
    }

    ::deep .nav-link:hover {
        color: var(--bl-nav-pills-link-hover-color, var(--bs-nav-pills-link-hover-color));
        background-color: var(--bl-nav-pills-link-hover-color-bg, var(--bs-nav-pills-link-hover-bg));
    }

/* Icons */

.bi {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}
