@inject WaitService WaitService
@{
    Layout = "/Views/Shared/_LayoutWithPartialAndFlush.cshtml";
    ViewBag.Title = "Page With Components and Partials";
}
RenderBody content
@section content
{
    @{
        await FlushAsync();
        WaitService.WaitForClient();
    }
    @await Component.InvokeAsync("ComponentThatSetsTitle")
    <span>Content that takes time to produce</span>
}