@inject WaitService WaitService
@{
    Layout = "/Views/Shared/_LayoutWithFlush.cshtml";
    ViewBag.Title = "Page With Layout";
}
RenderBody content
@section content
{
    @{
        FlushAsync().Wait();
        WaitService.WaitForClient();
    }
    <span>Content that takes time to produce</span>
}