@page "/🙂/routing/constraints/{parameter:regex(http:%2F%2Fwww\\.example\\.com%2Flogin%2Fcallback)}"
<h3>Constrained Parameters</h3>

<p id="parameter-value">@Parameter</p>

@if (_interactive)
{
    <p id="interactive">Rendered interactive.</p>
}

@code {
    private bool _interactive;

    [Parameter] public string Parameter { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            _interactive = true;
            StateHasChanged();
        }
    }
}
