<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-MvcMusicStore-20131025034205;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="MusicStoreEntities" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=MvcMusicStoreSpa;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DefaultAdminUsername" value="Administrator" />
    <add key="DefaultAdminPassword" value="YouShouldChangeThisPassword" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
    <rewrite>
      <rules>
        <rule name="Rewrite /public/dir to /public/public/dir" stopProcessing="true">
          <match url="^public.*" ignoreCase="true" />
          <conditions>
            <add input="{APPL_PHYSICAL_PATH}public\{R:0}" matchType="IsDirectory" />
          </conditions>
          <action type="Rewrite" url="public/{R:0}/" />
        </rule>
        <rule name="Rewrite /public/* to /public/public/*" stopProcessing="true">
          <match url="^public.*" ignoreCase="true" />
          <action type="Rewrite" url="public/{R:0}" />
        </rule>
        <rule name="Rewrite files to /public" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{APPL_PHYSICAL_PATH}public\{R:1}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="public/{R:1}" />
        </rule>
        <rule name="Rewrite dirs to /public" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{APPL_PHYSICAL_PATH}public\{R:1}" matchType="IsDirectory" />
            <add input="{R:1}" matchType="Pattern" pattern="" negate="true" />
          </conditions>
          <action type="Rewrite" url="public/{R:1}" />
        </rule>
        <rule name="Rewrite non-public files to /public" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{APPL_PHYSICAL_PATH}{R:1}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="public/{R:1}" />
        </rule>
        <rule name="Rewrite non-public dir to /public" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{APPL_PHYSICAL_PATH}{R:1}" matchType="IsDirectory" />
            <add input="{R:1}" matchType="Pattern" pattern="" negate="true" />
          </conditions>
          <action type="Rewrite" url="public/{R:1}" />
        </rule>
        <!--<rule name="Rewrite .cshtml requests to .cstemplate" stopProcessing="true">
          <match url="(.*)\.cshtml" />
          <action type="Rewrite" url="{R:1}-template" />
        </rule>-->
      </rules>
    </rewrite>
    
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>