<partial-title>Listing items</partial-title>
<cache vary-by="@ViewBag.Category" data-content="some-content">
Cached Content for @ViewBag.Category
<div>CorrelationId in Partial: @ViewBag.CorrelationId</div>
</cache>