@using TagHelperSample.Web
@addTagHelper *, TagHelperSample.Web

<iecondition mode="DownlevelRevealed" condition="gt IE 7">
    <p>Content visible to all browsers newer than Internet Explorer 7.</p>
</iecondition>
<iecondition mode="DownlevelHidden" condition="IE 7">
    <p>Content visible only to Internet Explorer 7 users.</p>
</iecondition>
