@{
    string hello = "Hello, World";
}

<html>
    <head>
        <title>Simple Page</title>
    </head>
    <body>
        <h1>Simple Page</h1>
        <p>@hello</p>
        <p>
            @foreach(char c in hello) {@c}
        </p>
    </body>
</html>