<html>
    <head>
        <title>No title</title>
    </head>
    <body>
        <div style="margin: auto; width: 900px">
            <h2>Hello world</h2>
            @RenderBody()
        </div>
    </body>
</html>