@using HtmlGenerationWebSite.Models
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

@model List<Employee>

@{
    ViewBag.Title = "Employee Page";
}

<html>
<body>
    @if (Model != null && Model.Count() != 0)
    {
        using (@Html.BeginForm("EmployeeList", "HtmlGeneration_Home", FormMethod.Post))
        {
            for (int i = 0; i < Model.Count; ++i)
            {
                <editor for="@Model[i]" />
            }
            <input type="submit" />
        }
    }
</body>
</html>