@* View to test static assets fingerprinting *@
<!DOCTYPE html>
<html>
<head>
    <title>Static Assets Test</title>
    <link id="test-css" rel="stylesheet" href="~/styles/site.css" />
</head>
<body>
    <h1>Static Assets Test Page</h1>
    <p>This page tests that static assets are fingerprinted correctly when using MapControllerRoute with WithStaticAssets.</p>
</body>
</html>
