@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Static Assets Test";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link id="css-link" rel="stylesheet" href="~/styles/site.css" />
</head>
<body>
    <h1>Static Assets Test Page</h1>
    <p>This page tests that static assets are properly fingerprinted when using MapControllerRoute().WithStaticAssets()</p>
</body>
</html>
