@page
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

<form></form>
<form method="get"></form>
<form method="post"></form>
<form action="" method="post"></form>
<form action="/Foo/Bar/Baz.html" method="get"></form>
<form action="/Foo/Bar/Baz.html" method="post"></form>
<form asp-controller="Redirect" asp-action="RedirectToPageAction"></form>