<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->
  <appSettings>
    <add key="foo" value="bar" />
    <add key="foo2" value="bar2" />
  </appSettings>
  <system.webServer>
    <aspNetCore disableStartUpErrorPage="false" />
  </system.webServer>
</configuration>
<!--ProjectGuid: 9755f612-a155-4bdd-9e20-37ade0b4b3ba-->