@model BasicWebSite.Controllers.NonNullableController.NonNullablePerson
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

<div asp-validation-summary="All" id="errors"></div>

<form asp-action="Index">
    <p>Name:</p>
    <input asp-for="Name" />
    <button type="submit">Submit</button>
</form>