@page "/"

<h1>Blazor components accessibility sample app!</h1>

This app incorporates all native Blazor components and configures them in an accessible way.
To see each component in action choose the component sample from the left menu.
