@{
    ViewData["Title"] = "Confirm Email";
}

<h1>@ViewData["Title"].</h1>
<div>
    <p>
        Thank you for confirming your email. Please <a asp-controller="Account" asp-action="Login">Click here to Log in</a>.
    </p>
</div>
