@page "/redirect"
@using Microsoft.AspNetCore.Components.Forms

<h1>Redirections</h1>

<h2>Streaming on, enhanced nav off cases</h2>
<ul data-enhance-nav="false">
    <li><a href="redirect/streaming/get">Streaming GET with internal redirection</a></li>
    <li><a href="redirect/streaming/get?external=true">Streaming GET with external redirection</a></li>
    <li>
        <form @formname="myform" method="post" action="redirect/streaming/post">
            <AntiforgeryToken />
            <button>Streaming POST with internal redirection</button>
        </form>
    </li>
    <li>
        <form @formname="myform" method="post" action="redirect/streaming/post?external=true">
            <AntiforgeryToken />
            <button>Streaming POST with external redirection</button>
        </form>
    </li>
</ul>

<h2>Streaming off, enhanced nav on cases</h2>
<ul>
    <li><a href="redirect/get">Streaming GET with internal redirection</a></li>
    <li><a href="redirect/get?external=true">Streaming GET with external redirection</a></li>
    <li>
        <form @formname="myform" method="post" action="redirect/post" data-enhance>
            <AntiforgeryToken />
            <button>Streaming POST with internal redirection</button>
        </form>
    </li>
    <li>
        <form @formname="myform" method="post" action="redirect/post?external=true" data-enhance>
            <AntiforgeryToken />
            <button>Streaming POST with external redirection</button>
        </form>
    </li>
</ul>

<h2>Streaming on, enhanced nav on cases</h2>
<ul>
    <li><a href="redirect/streaming/get">Streaming enhanced GET with internal redirection</a></li>
    <li><a href="redirect/streaming/get?external=true">Streaming enhanced GET with external redirection</a></li>
    <li>
        <form @formname="myform" method="post" action="redirect/streaming/post" data-enhance>
            <AntiforgeryToken />
            <button>Streaming enhanced POST with internal redirection</button>
        </form>
    </li>
    <li>
        <form @formname="myform" method="post" action="redirect/streaming/post?external=true" data-enhance>
            <AntiforgeryToken />
            <button>Streaming enhanced POST with external redirection</button>
        </form>
    </li>
</ul>
