@page "/redirect"

<h1>Redirections</h1>

<h2>Non-enhanced nav cases</h2>

<ul data-enhance-nav="false">
    <li><a href="redirect/streaming/get">Streaming GET with internal target</a></li>
    <li><a href="redirect/streaming/get?external=true">Streaming GET with external target</a></li>
    <li><a href="redirect/streaming/post">Streaming POST with internal target</a></li>
    <li><a href="redirect/streaming/post?external=true">Streaming POST with external target</a></li>
</ul>
