@page "/browser-configuration-env-vars-landing"
@using Microsoft.AspNetCore.Components.Routing
@attribute [ExcludeFromInteractiveRouting]

<h1>Browser Configuration Landing Page</h1>

<p id="execution-mode">static</p>

<a id="navigate-to-env-vars" href="browser-configuration-env-vars">Go to env vars page</a>
