@page "/persist-culture-state"
@using System.Globalization
@using Microsoft.AspNetCore.Components.Web
@rendermode RenderMode.InteractiveWebAssembly

<script>
    function start() {
        Blazor.start({
            logLevel: 1 // LogLevel.Debug
        });
    }
</script>

<script src="_framework/blazor.webassembly.js" autostart="false"></script>

<h3>CulturePersistence</h3>

<p id="culture-set">@CultureInfo.CurrentCulture</p>
<p id="culture-ui-set">@CultureInfo.CurrentUICulture</p>

@if(RendererInfo.IsInteractive)
{
    <p id="interactive">Interactive</p>
}
else
{
    <p id="prerender">Prerender</p>
}

<button id="start-blazor" onclick="start()">Start Blazor</button>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            StateHasChanged();
        }
        base.OnAfterRender(firstRender);
    }
}
