@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web

@rendermode RenderMode.InteractiveWebAssembly

@page "/dynamic"

<h1>Dynamically Rendered</h1>

<ul>
    <li><NavLink href="static">Static page</NavLink></li>
    <li><NavLink href="persist-wasm-state">Another dynamic page</NavLink></li>
</ul>
