@attribute [Route("/globally-interactive/static-via-route", Static = true)]

<h1>Global interactivity page: Static via route</h1>

<p>
    This page should be rendered statically by GlobalInteractivityApp because its
    RouteAttribute is declared with Static=true.
</p>

<ShowExecutionMode />

<GloballyInteractive_Links />
