@page "/globally-interactive"

<h1>Global interactivity page: Default</h1>

<p>
    This page should be rendered interactively by GlobalInteractivityApp because
    that's the default rendermode for the application.
</p>

<ShowExecutionMode />

<GloballyInteractive_Links />
