@using Microsoft.AspNetCore.Components.Routing
<ul>
    <li><NavLink href="globally-interactive">Globally-interactive by default</NavLink></li>
    <li><NavLink href="globally-interactive/static-via-url">Static via URL</NavLink></li>
    <li><NavLink href="globally-interactive/static-via-attribute">Static via attribute</NavLink></li>
</ul>
