@using MvcSample.Web.Models
@model User
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "This is the FLY action";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Back to the main Area.</h2>
        <p>Takes you out of the area implicitly.</p>
        <p><a class="btn btn-default" href="@Url.Action("Create", "Home")">Go to Home/Create</a></p>
    </div>
    <div class="col-md-4">
        <h2>Go to another action in the Area.</h2>
        <p>Keeps you in the area implicitly.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Home")">Go to Travel/Home/Index</a></p>
    </div>
    <div class="col-md-4">
        <h2>Back to the main Area (explicit).</h2>
        <p>Leaves the area explicitly.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Home", new { area = string.Empty })">Go to Home/Index</a></p>
    </div>
</div>
