<div class="alert alert-survey" role="alert">
    <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
    <strong>@Title</strong>

    Please take our
    <a target="_blank" class="alert-link" href="https://go.microsoft.com/fwlink/?linkid=870381">
        brief survey
    </a>
    and tell us what you think.
</div>

@functions
{
    // This is to demonstrate how a parent component can supply parameters
    public string Title { get; set; }
}
