<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
	<Fragment>
        <PackageGroup Id="PG_AspNetCoreSharedFramework_$(var.Platform)">
            <RollbackBoundary Id="RB_AspNetCoreSharedFramework_$(var.Platform)" />

            <?ifdef SharedFrameworkInstallCondition?>
            <?undef SharedFrameworkInstallCondition?>
            <?endif?>
            <?ifdef DotNetHome?>
            <?undef DotNetHome?>
            <?endif?>
            <?if $(var.Platform)=x86?>
            <?define SharedFrameworkInstallCondition=(NOT OPT_NO_SHAREDFX) AND (NOT OPT_NO_X86)?>
            <?define DotNetHome=DOTNETHOME_X86?>
            <?elseif $(var.Platform)=x64?>
            <?define SharedFrameworkInstallCondition=VersionNT64 AND (NOT OPT_NO_SHAREDFX)?>
            <?define DotNetHome=DOTNETHOME_X64?>
            <?endif?>

            <MsiPackage Id="AspNetCoreSharedFramework_$(var.Platform)"
                        SourceFile="$(var.SharedFramework.TargetPath)"
                        Compressed="yes"
                        Visible="no"
                        Vital="yes"
                        InstallCondition="$(var.SharedFrameworkInstallCondition)">
                <MsiProperty Name="DOTNETHOME" Value="[$(var.DotNetHome)]" />
            </MsiPackage>
        </PackageGroup>
	</Fragment>
</Wix>
