@page "/auth/server-interactive-authentication-state"
@rendermode RenderMode.InteractiveServer
@using TestContentPackage

<h3>Server interactive authentication state</h3>
<CascadingAuthenticationStateReader />
