@page "/auth/webassembly-interactive-authentication-state"
@using TestContentPackage

<h3>WebAssembly interactive authentication state</h3>
<CascadingAuthenticationStateReader @rendermode="@RenderMode.InteractiveWebAssembly" />
