<p id="child">@childString</p>

@code {
    private string childString = "initial child";

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000);

        childString = "loaded child";
    }

}
