@using Microsoft.AspNetCore.Components.Forms

<form data-enhance method="post" @onsubmit="() => _submitted = true" @formname="named-form-handler">
    <AntiforgeryToken />
    <InputText @bind-Value="Parameter" />
    <input id="send" type="submit" value="Send" />
</form>

@if (_submitted)
{
    <p id="pass">Hello @Parameter!</p>
}

@code{
    bool _submitted = false;

    [SupplyParameterFromForm(FormName = "named-form-handler")] public string Parameter { get; set; } = "";
}
