<input type="text" placeholder="I want focus on navigation!" data-focus-on-navigate />

<p>
    Render mode: <span id="focus-on-nav-status">@(RendererInfo.IsInteractive ? "interactive" : "static")</span>
</p>
