<!doctype html>
<html>
<head>
    <title>Action Link with non unicode host</title>
</head>
<body>
    @Html.ActionLink("Pingüino", "ActionLinkView", "Home", "http", "pingüino", null, routeValues: null, htmlAttributes: null)
</body>
</html>