@addTagHelper *, TagHelperSamples.Bootstrap

@GetType().AssemblyQualifiedName
<modal id="simpleModal"
       title="Modal Title">
    <modal-body>
        <h4>Something happened</h4>
        <p>Something happened</p>
    </modal-body>
</modal>


