@inherits LayoutComponentBase
@*#if (UseWebAssembly && InteractiveAtRoot)
@layout BlazorWeb_CSharp.Client.Layout.MainLayout
##else
@layout BlazorWeb_CSharp.Components.Layout.MainLayout
##endif*@

<h1>Manage your account</h1>

<div>
    <h2>Change your account settings</h2>
    <hr />
    <div class="row">
        <div class="col-lg-3">
            <ManageNavMenu />
        </div>
        <div class="col-lg-9">
            @Body
        </div>
    </div>
</div>
