@using BlazorWeb_CSharp.Components.Account

@{
    var message = Message ?? MessageFromCookie;

    if (MessageFromCookie is not null)
    {
        HttpContext.Response.Cookies.Delete(IdentityRedirectManager.StatusCookieName);
    }
}

@if (!string.IsNullOrEmpty(message))
{
    var statusMessageClass = message.StartsWith("Error") ? "danger" : "success";
    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        @message
    </div>
}

@code {
    [Parameter]
    public string? Message { get; set; }

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private string? MessageFromCookie => HttpContext.Request.Cookies[IdentityRedirectManager.StatusCookieName];
}
