@model DateTime

@addTagHelper "InputTestTagHelper, AppCode"

@{ 
    Layout = "_SectionTestLayout.cshtml";
}

<div>Some body</div>

@section Section1 {
    <div>This is in Section 1</div>
    <input-test for="Date" />
}