<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:dep="http://schemas.microsoft.com/wix/DependencyExtension">
    <Fragment>
        <Feature Id="FT_DepProvider" Absent="disallow" AllowAdvertise="no" Description="Used for Ref Counting" Display="hidden" InstallDefault="local" Level="1" Title="RefCounting" TypicalDefault="install">
            <ComponentRef Id="C_DepProvider" />
        </Feature>

        <DirectoryRef Id="TARGETDIR">
            <Component Id="C_DepProvider" Win64="no">
                <dep:Provides Key="$(var.DepProviderKey)" />
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>