<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="$(var.ProductCode)" Name="$(var.ProductName)" Language="1033" Version="$(var.Version)"
             Manufacturer="Microsoft Corporation" UpgradeCode="$(var.UpgradeCode)">
        <Package InstallerVersion="$(var.InstallerVersion)" Compressed="yes" InstallScope="perMachine" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." Schedule="afterInstallFinalize" />

        <?if $(var.EmbedCab)=yes?>
            <!-- Ignore var.Cabinet This element should choose an appropriate name for the embedded CAB. -->
            <MediaTemplate CompressionLevel="high" EmbedCab="yes" />
        <?else?>
            <Media Id="1" Cabinet="$(var.Cabinet)" CompressionLevel="high" EmbedCab="no" />
        <?endif?>

        <WixVariable Id="WixUILicenseRtf" Value="$(var.files)\eula.txt" />
        <UIRef Id="WixUI_Minimal" />

        <FeatureRef Id="FT_DepProvider" />
        <FeatureRef Id="FT_AspNetCoreTargetingPack" />
        <FeatureRef Id="FT_ProductInfo" />
    </Product>

    <?ifdef PFilesFolder?>
    <?undef PFilesFolder?>
    <?endif?>

    <?if $(var.Platform)=x86?>
    <?define PFilesFolder=ProgramFilesFolder?>
    <?elseif $(var.Platform)=x64 or $(var.Platform)=arm64?>
    <?define PFilesFolder=ProgramFiles64Folder?>
    <?else?>
    <?error Invalid Platform ($(var.Platform))?>
    <?endif?>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.PFilesFolder)">
                <Directory Id="DOTNETHOME" Name="dotnet" />
            </Directory>
        </Directory>

        <?if $(var.Platform)=x64?>
        <CustomActionRef Id="Set_DOTNETHOME_NON_NATIVE_ARCHITECTURE" />
        <?endif?>
    </Fragment>

    <Fragment>
        <Feature Id="FT_AspNetCoreTargetingPack" Absent="allow" Description="!(loc.FT_AspNetCoreTargetingPackDescription)" Display="2" Level="1" Title="!(loc.FT_AspNetCoreTargetingPackTitle)">
            <ComponentGroupRef Id="CG_AspNetCoreTargetingPack" />
        </Feature>
    </Fragment>

    <Fragment>
        <Feature Id="FT_ProductInfo">
            <ComponentGroupRef Id="CG_ProductInfo" />
        </Feature>

        <ComponentGroup Id="CG_ProductInfo">
            <ComponentRef Id="C_ProductVersion"/>
            <ComponentRef Id="C_ProductInstallDir"/>
            <?if $(var.Platform)=x64 ?>
            <ComponentRef Id="C_ProductVersion_NonNative"/>
            <ComponentRef Id="C_ProductInstallDir_NonNative"/>
            <?endif?>
        </ComponentGroup>

        <DirectoryRef Id="DOTNETHOME">
            <?ifdef ProductVersionKey?>
            <?undef ProductVersionKey?>
            <?endif?>

            <?define ProductVersionKey=SOFTWARE\Microsoft\ASP.NET Core\Targeting Pack\v$(var.MajorVersion).$(var.MinorVersion)\$(var.PackageVersion)?>

            <Component Id="C_ProductVersion">
                <?if $(var.Platform)=x64 ?>
                <!-- Only install when actually on native architecture -->
                <Condition>NOT NON_NATIVE_ARCHITECTURE</Condition>
                <?endif?>
                <RegistryKey Key="$(var.ProductVersionKey)" Root="HKLM">
                    <RegistryValue Name="Version" Type="string" Value="$(var.Version)" />
                </RegistryKey>
            </Component>

            <Component Id="C_ProductInstallDir">
                <?if $(var.Platform)=x64 ?>
                <!-- Only install when actually on native architecture -->
                <Condition>NOT NON_NATIVE_ARCHITECTURE</Condition>
                <?endif?>
                <RegistryKey Key="SOFTWARE\Microsoft\ASP.NET Core\Targeting Pack" Root="HKLM">
                    <RegistryValue Name="InstallDir" Type="string" Value="[DOTNETHOME]" />
                </RegistryKey>
            </Component>


            <?if $(var.Platform)=x64 ?>
            <!-- Install keys to a different path when not native architecture -->
            <Component Id="C_ProductVersion_NonNative">
                <Condition>NON_NATIVE_ARCHITECTURE</Condition>
                <RegistryKey Key="$(var.ProductVersionKey)\$(var.Platform)" Root="HKLM">
                    <RegistryValue Name="Version" Type="string" Value="$(var.Version)" />
                </RegistryKey>
            </Component>
            <Component Id="C_ProductInstallDir_NonNative">
                <Condition>NON_NATIVE_ARCHITECTURE</Condition>
                <RegistryKey Key="SOFTWARE\Microsoft\ASP.NET Core\Targeting Pack\$(var.Platform)" Root="HKLM">
                    <RegistryValue Name="InstallDir" Type="string" Value="[DOTNETHOME]" />
                </RegistryKey>
            </Component>
            <?endif?>
        </DirectoryRef>
    </Fragment>
</Wix>
