@addTagHelper "*, TestAssembly"

<div data-animation="fade" class="randomNonTagHelperAttribute">
    <p class="Hello World" data-delay="1000">
        <p data="-delay1000"></p>
        <input data-interval="2000 + @ViewBag.DefaultInterval + 1" type="text">
        <input type="checkbox" checked="true"/>
    </p>
</div>