@using System.IO
@using Foo = System.Text.Encoding
@using System

@using static System
@using static System.Console
@using static global::System.Text.Encoding

<p>Path's full type name is @typeof(Path).FullName</p>
<p>Foo's actual full type name is @typeof(Foo).FullName</p>