@using Microsoft.AspNetCore.Blazor.Browser.Services.Temporary
@inject HttpClient Http

<h1>Fetch data</h1>

<strong>Response: </strong> @responseText

@functions {
    private string responseText;

    protected override async Task OnInitAsync()
    {
        responseText = await Http.GetStringAsync("/");
    }
}
