<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />  
    </handlers>
    <aspNetCore processPath=".\NotExisting.exe" arguments=".\NotExisting.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="true" disableStartUpErrorPage="false" />
  </system.webServer>
</configuration>