<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <style>
        body {
            width: 1040px;
        }

        .main {
            width: 800px;
            float: left;
        }

        .sidebar {
            width: 200px;
            float: left;
        }
    </style>
</head>
<body>
    <div class="main">
        <h3>Watch the greatest movies right here!</h3>
        Submit your movie rankings:

        <form asp-antiforgery="false" asp-action="UpdateMovieRatings">
            Movies + ratings go here
            <button type="submit">Update ratings</button>
        </form>

        <form asp-antiforgery="false" asp-action="UpdateCriticsQuotes">
            Movies + ratings go here
            <button type="submit">Update quotes</button>
        </form>
    </div>
    <div class="sidebar">
        <cache expires-after="TimeSpan.FromMinutes(20)">
            @await Component.InvokeAsync("FeaturedMovies")
        </cache>
    </div>
    <div style="clear: left"></div>
</body>
</html>
