<!DOCTYPE html>
<html>
<head>
    <link href="~/css/sub/blank.css" asp-href-include="**/blank.css" rel="stylesheet" data-test="value" />
    <link href="site.min.css" rel="stylesheet" data-test="value"
          asp-fallback-href-include="**/site.css"
          asp-fallback-test-class="fallback-test"
          asp-fallback-test-property="visibility"
          asp-fallback-test-value="hidden" />
    <link asp-href-include="../*.css" rel="stylesheet" />
</head>
<body>
    @RenderBody()
</body>
</html>