@*Bug: Dependent on Htmlhelpers*@
@model MusicStore.Models.Album

@{
    //Bug: Need to have a way to specify an application level layout page
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Delete";
}

<h2>Delete Confirmation</h2>

<p>
    Are you sure you want to delete the album titled
    <strong>@Model.Title</strong>?
</p>

@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Delete" />
    </p>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>

}