@inject RazorPageExecutionInstrumentationWebSite.IHoldInstrumentationData Holder
<div>
@int.MaxValue
@RenderBody()
</div>
@{
    Holder.IgnoreFurtherData();
    foreach (var data in Holder.Values)
    {
        <p>@data.ToString()</p>
    }
}