name: "Copilot Setup Steps"

# Allow testing of the setup steps from your repository's "Actions" tab.
on: workflow_dispatch

jobs:
  # The job MUST be called `copilot-setup-steps` or it will not be picked up by Copilot.
  copilot-setup-steps:
    runs-on: 8-core-ubuntu-latest

    permissions:
      contents: read

    # You can define any steps you want, and they will run before the agent starts.
    # If you do not check out your code, Copilot will do this for you.
    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98 # v4.2.2
        with:
          submodules: 'true'

      # Include PrepareForHelix to maximise what is downloaded here
      - name: Build solution
        env:
          # prevent GitInfo errors
          CI: false
        run: ./restore.sh

      # For MCP servers like nuget's
      - name: Install .NET 10.x
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            10.x
          dotnet-quality: preview

      # for MCP servers
      - name: Install .NET 8.x
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            8.x

      # Diagnostics in the log
      - name: dotnet --info
        run: dotnet --info
