name: Markdownlint

permissions:
  contents: read

# run even on changes without markdown changes, so that we can
# make it in GitHub a required check for PR's
on:
  pull_request:
    branches:    
      - main

jobs:
  lint:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v4.2.2
    - name: Use Node.js
      uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
      with:
        node-version: 16.x
    - name: Run Markdownlint
      run: |
        echo "::add-matcher::.github/workflows/markdownlint-problem-matcher.json"
        npm i -g markdownlint-cli@0.45.0
        markdownlint "docs/**/*.md"
