name: update-dotnet-sdk

on:

  # Scheduled trigger to check for .NET SDK updates at 12 UTC every Monday
  schedule:
    - cron:  '00 12 * * MON'

  # Manual trigger to update the .NET SDK on-demand.
  workflow_dispatch:

jobs:
  update-dotnet-sdk:
    name: Update .NET SDK
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: martincostello/update-dotnet-sdk@v3.1.0
      with:
        quality: 'daily'
        repo-token: ${{ secrets.GITHUB_TOKEN }}
