name: Validate package-lock.json against source feeds

on:
  # Manual run
  workflow_dispatch:
  pull_request:
    paths:
      - 'package-lock.json'

jobs:
  validate-package-lock-json:
    name: 'Validate package-lock.json against source feeds'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v4.2.2
        with:
          fetch-depth: 0
          submodules: false

      - name: Set up Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 20.x

      - name: Run npm ci to validate package-lock.json against the feed
        shell: pwsh
        id: npm-install-script
        run: npm ci --prefer-online --fetch-retries 5