name: Validate package-lock.json against source feeds

on:
  # Manual run
  workflow_dispatch:
  pull_request:
    paths:
      - 'package-lock.json'

jobs:
  validate-package-lock-json:
    name: 'Validate package-lock.json against source feeds'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
          submodules: false

      - name: Set up Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 20.x

      - name: Run npm ci to validate package-lock.json against the feed
        shell: pwsh
        id: npm-install-script
        run: npm ci --prefer-online --fetch-retries 5