@page
@model SignedOutModel
@{
    ViewData["Title"] = "Signed out";
}

<h2 id="AzureADSignedOutTitle">@ViewData["Title"]</h2>
<p id="AzureADSignedOutText">
    You have successfully signed out.
</p>
