@page
@model SignedOutModel
@{
    ViewData["Title"] = "Signed out";
}

<h2 id="AzureADB2CSignoutTitle">@ViewData["Title"]</h2>
<p id="AzureADB2CSignoutText">
    You have successfully signed out.
</p>
