<p>ToggleCount: @ToggleCount</p>
<p>Open the details.</p>

<details @ontoggle="OnToggle">
    <summary>Copyright 1999-2014.</summary>
    <p> - by Refsnes Data. All Rights Reserved.</p>
    <p>All content and graphics on this web site are the property of the company Refsnes Data.</p>
</details>

<p><b>Note:</b> The details element and the ontoggle event is not supported in Internet Explorer or Safari 5 (and earlier).</p>

@code {
    int ToggleCount { get; set; }

    void OnToggle(EventArgs e)
    {
        ToggleCount++;
    }
}
