@{
    ViewData["Title"] = "Home Page";
}

<h1>Hello</h1>
Hi there. Enter some text: <input />

<hr />
See also: <a asp-controller='FullPagePrerendering'>Full-page prerendering example</a>

@section scripts {
    <script src="dist/main.js"></script>
}
